<script>
    let table;
    let itms = [];
    let objApv = {
        apvId: 0,
        ucat: ''
    };
    $(document).ready(() => {
        init();
    })

    function init() {
        $('#rStatus, #selUcat').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            maxHeight: 400
        });

        table = $('#srchTable').DataTable({
            "columnDefs": [{
                "width": 100,
                "targets": [0, 4, 5, 6]
            }, {
                "width": 150,
                "targets": [1, 2]
            }, {
                "width": 200,
                "targets": [3]
            }, {
                "width": 1000,
                "targets": [7]
            }],
            "order": [
                [3, 'desc']
            ],
            scrollX: true
        });
        table.columns.adjust().draw();

        getStdOnWeb();
    }

    function getStdOnWeb() {
        var qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);

            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            let lstWebs = [];
            jsn.dbitems.forEach((itm, idx, arr) => {
                let obj = {
                    label: itm.WEBNAME,
                    value: itm.WEBNAME == 'TWD' ? '28LV' : 'BNB1'
                }

                if ((profileList.includes('0091') && itm.WEBNAME == 'TWD') ||
                    (profileList.includes('0092') && itm.WEBNAME == 'BNB')) {
                    lstWebs.push(obj);
                }

                if (idx == arr.length - 1) {
                    $('#selUcat').multiselect('dataprovider', lstWebs);
                    $('#btnSearch').click();
                }
            })
        })
    }

    function search(obj) {
        obj.blur();
        let [ucat, rStatus, startDate, endDate] = [$('#selUcat').val(), $('#rStatus').val() || 'A,R,V',
            $('#startDate').val(), $('#endDate').val()
        ];

        let qry =
            `exec TWDPIM..execCustomerReview 'S', ${ucat ? `'${ucat}'` : null}, '${rStatus}', '${startDate}', '${endDate}', null, '${userId}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                return;
            }

            table.rows().remove().draw(false);
            if (!(jsn.dbrows > 0)) {
                swalConfirm('info', '', 'ไม่พบข้อมูลที่ต้องการค้นหา');
                return;
            } else {
                itms = [];
                jsn.dbitems.map((itm, idx, arr) => {
                    let obj = {
                        hrecid: itm.HRECID,
                        web: itm.WEB,
                        prname: itm.PRODUCTNAME,
                        star: itm.STAR,
                        comment: itm.COMMENT,
                        rstatus: itm.RSTATUS,
                        reviewimg: itm.REVIEWIMG,
                        skcode: itm.SKCODE
                    }

                    itms.push(obj);

                    table.row.add([
                        `<center>
                                <button class='btn btn-info w-100' onclick="openApvModal(this, '${itm.HRECID}')"><i class="fa fa-list-alt" aria-hidden="true"></i> ตรวจสอบ</button>
                            </center>`,
                        itm.REF, itm.CUSTID, itm.REVIEWDATE, itm.STAR, itm.RSTATUS, itm.WEB,
                        itm.SKCODE + ' - ' + itm.PRODUCTNAME
                    ]).draw(false);
                })
            }
        })
    }

    function openApvModal(obj, hRecId) {
        obj.blur();

        let web, productname, star, comment, status, reviewimg, skcode;
        itms.forEach((itm, idx, arr) => {
            if (itm.hrecid == hRecId) {
                web = itm.web;
                productname = itm.prname;
                star = itm.star;
                comment = itm.comment;
                status = itm.rstatus;
                reviewimg = itm.reviewimg;
                skcode = itm.skcode;
            }

            if (idx == arr.length - 1) {
                objApv.apvId = hRecId;
                objApv.ucat = (web == 'TWD') ? '28LV' : 'BNB1';

                clearPoint();

                for (let i = 1; i <= star; i++) {
                    $('.star' + i).html('<i class="fa fa-star star" aria-hidden="true"></i>');
                }

                let imgs = reviewimg.split('|');
                let imgItems = '';
                imgs.forEach((itm, idx, arr) => {
                    if (itm != '') {
                        $('#reviewDiv').removeClass('col-md-12 col-xs-12');
                        $('#reviewDiv').addClass('col-md-9 col-xs-12');
                        imgItems +=
                            `<div class="flex-items"><a href="http://10.77.3.11:99/th/contentimage/reviews/${skcode}/${itm}"><img src='http://10.77.3.11:99/th/contentimage/reviews/${skcode}/${itm}' onerror='this.src="../images/noimg.png"' width='100%' height='auto'></a></div>`;
                    } else {
                        $('#reviewDiv').removeClass('col-md-9 col-xs-12');
                        $('#reviewDiv').addClass('col-md-12 col-xs-12');
                    }

                    if (idx == arr.length - 1) {
                        $('#imageContainer').html(imgItems);
                        var gallery = $('.gallery .flex-container .flex-items a').simpleLightbox({
                            navText: ['&lsaquo;', '&rsaquo;']
                        });
                    }
                })
                $('#review').val(comment);

                if (status == 'A') { //Approve
                    $('.alreadyApproveDiv').show();
                    $('.alreadyVoidDiv').hide();
                    $('.confirmreview, .ccreview').css('display', 'none');
                } else if (status == 'V') {
                    $('.alreadyApproveDiv').hide();
                    $('.alreadyVoidDiv').show();
                    $('.confirmreview, .ccreview').css('display', 'none');
                } else {
                    $('.alreadyApproveDiv').hide();
                    $('.alreadyVoidDiv').hide();
                    $('.confirmreview, .ccreview').css('display', 'unset');
                }

                $('.star, .alreadyApprove').css('color', `${web == 'TWD' ? '#b8292f' : '#006e63'}`);
                $('.reviewProductName').html(skcode + ' - ' + productname);
                $('#reviewModal').modal('show');
            }
        })
    }

    function clearPoint() {
        $('.star-group').html(`
            <span class='star1'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
            <span class='star2'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
            <span class='star3'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
            <span class='star4'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
            <span class='star5'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
        `);
    }

    function apvReview(obj) {
        obj.blur();
        swal({
                title: 'คุณต้องการอนุมัติความคิดเห็นนี้',
                text: 'ใช่หรือไม่?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ตกลง",
                closeOnConfirm: false,
            },
            function () {
                let qry =
                    `exec TWDPIM..execCustomerReview 'A', '${objApv.ucat}', null, null, null, '${objApv.apvId}', '${userId}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    swalConfirm('success', 'การอนุมัติความคิดเห็นนี้', 'สำเร็จ');
                    $('#reviewModal').modal('hide');
                    $('#btnSearch').click();
                })
            }
        );
    }

    function voidReview(obj) {
        obj.blur();
        swal({
                title: 'คุณไม่ต้องการอนุมัติความคิดเห็นนี้',
                text: 'ใช่หรือไม่?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonText: "ตกลง",
                closeOnConfirm: false,
            },
            function () {
                let qry =
                    `exec TWDPIM..execCustomerReview 'V', '${objApv.ucat}', null, null, null, '${objApv.apvId}', '${userId}'`;
                let pdata = {
                    query: qry
                }

                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if (!(isok && jsn.dbcode == 0)) {
                        swalConfirm('error', 'Failed', jsn.dbmessage);
                        return;
                    }

                    swalConfirm('success', 'ไม่อนุมัติ', '');
                    $('#reviewModal').modal('hide');
                    $('#btnSearch').click();
                })
            }
        );
    }
</script>
<style>
    .reviewHeader {
        font-weight: bolder;
        font-size: 2.5rem;
    }

    .reviewProductName,
    .reviewPoint {
        font-weight: bolder;
        font-size: 1.5rem;
    }

    .star {
        font-size: 3rem;
        font-weight: bolder
    }

    #review {
        resize: none;
    }

    .w-100 {
        width: 100% import !important;
    }

    .btn-review {
        padding: 15px 50px;
    }

    .ccreview {
        border: 2px solid #333;
    }

    .confirmreview {
        background-color: #333;
        color: #fff;
        border: 2px solid #333;
    }

    .alreadyApprove,
    .alreadyVoid {
        font-size: 2rem;
        font-weight: bold;
    }

    .flex-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .flex-items {
        border: 1px solid #bbb;
        border-radius: 5px;
        color: #666;
        font-size: 24px;
        line-height: 1.1em;
        text-align: center;
        min-width: 59px;
        max-width: 28%;
        margin: 0px 3px 3px 0px;
    }

    .sl-wrapper {
        z-index: 2222 !important;
    }

    .sl-overlay {
        z-index: 1111 !important;
    }

    @media screen and (max-width: 991px) {
        .flex-container {
            justify-content: center;
        }

        .flex-items {
            max-width: 5%;
        }
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Customer Review</h3>
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <label for="selUcat">กรุณาเลือกเว็บ </label>
            <select name="selUcat" id="selUcat" class='form-control' multiple>
            </select>
        </div>
        <div class="col-md-3 col-xs-12">
            <label for="rStatus">สถานภาพการอนุมัติ</label>
            <select name="rStatus" id="rStatus" class='form-control' multiple>
                <option value="A">A - อนุมัติแล้ว</option>
                <option value="R">R - ยังไม่ได้อนุมัติ</option>
                <option value="V">V - ไม่อนุมัติ</option>
            </select>
        </div>
        <div class="col-md-3 col-xs-12">
            <label for="startDate">ช่วงวันที่ลูกค้า Review เริ่มต้น</label>
            <input type="date" name="startDate" id="startDate" class='form-control' autocomplete="off">
        </div>
        <div class="col-md-3 col-xs-12">
            <label for="endDate">ช่วงวันที่ลูกค้า Review สิ้นสุด</label>
            <input type="date" name="endDate" id="endDate" class='form-control' autocomplete="off">
        </div>
    </div><br>
    <div class="row">
        <div class="col-md-1 col-xs-12">
            <button class="btn btn-primary" id="btnSearch" onclick="search(this);">ค้นหา</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <table class="table table-striped table-bordered" id="srchTable">
            <thead>
                <tr>
                    <th class='text-center'></th>
                    <th class='text-center'>คำสั่งซื้อ</th>
                    <th class='text-center'>ลูกค้า</th>
                    <th class='text-center'>วันที่ Review</th>
                    <th class='text-center'>คะแนน</th>
                    <th class='text-center'>สถานภาพ</th>
                    <th class='text-center'>เว็บ</th>
                    <th class='text-center'>รายการสินค้า</th>
                </tr>
            </thead>
        </table>
    </div>


    <div class="modal fade" id="reviewModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12" style='padding: 0px;'>
                            <div class="row">
                                <button type="button" class="close"
                                    style='border: 2px solid #000; border-radius: 4px; padding: 0px 4px;'
                                    data-dismiss="modal">&times;</button>
                            </div>
                            <div class="row text-center">
                                <span class='reviewHeader'>แสดงความคิดเห็น</span>
                            </div>
                            <div class="row text-center">
                                <span class='reviewProductName'></span>
                            </div><br>
                            <div class="row text-center star-group">
                                <span class='star1'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
                                <span class='star2'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
                                <span class='star3'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
                                <span class='star4'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
                                <span class='star5'><i class="fa fa-star-o star" aria-hidden="true"></i></span>
                            </div>
                            <div class="row text-center">
                                <span class='reviewPoint'>คะแนนสินค้า</span>
                            </div><br>
                            <div class="row" style='padding: 0px;'>
                                <div class="col-md-9 col-xs-12" id='reviewDiv' style='margin-bottom: 5px;'>
                                    <textarea id="review" class="form-control" rows="5" name="comment"
                                        placeholder="บอกความคิดเห็น" readonly></textarea>
                                </div>
                                <div class="col-md-3 col-xs-12" style='margin-bottom: 5px;'>
                                    <div class="gallery">
                                        <div class="flex-container" id='imageContainer'>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="row alreadyApproveDiv text-center">
                                <span class='alreadyApprove'>ความคิดเห็นนี้ ได้รับการอนุมัติเรียบร้อยแล้ว</span>
                            </div>
                            <div class="row alreadyVoidDiv text-center">
                                <span class='alreadyVoid'>ความคิดเห็นนี้ ถูกยกเลิกเรียบร้อยแล้ว</span>
                            </div>
                            <div class="row text-center">
                                <button class="btn btn-review confirmreview" type="button" onclick='apvReview(this);'>
                                    <i class="fa fa-thumbs-up" aria-hidden="true"></i> อนุมัติ
                                </button>
                                <button class="btn btn-review ccreview" type="button" onclick='voidReview(this);'
                                    style='margin-left: 15px;'>
                                    <i class="fa fa-thumbs-down" aria-hidden="true"></i> ไม่อนุมัติ
                                </button>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>