<script>
    $(document).ready(() => {
        getStdOnWeb();
    });

    function getStdOnWeb(){
        let qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if(jsn.dbcode == 0){
                for (i = 0; i<jsn.dbrows; i++) {
                    $("#stdonweb").append(`<option value='${(jsn.dbitems[i].WEBNAME == 'TWD' ? '28LV' : 'BNB1')}'>${jsn.dbitems[i].WEBNAME}</option>`);
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return
            }
        })
    }

    async function process(){
        let userid = readCookie('WUSERID');
        let userGroup = readCookie('WUGROUP');
        if (userid == null || userid == '' || userid == 'undefined' || userGroup == null) {
            alert('กรุณาเข้าสู่ระบบใหม่อีกครั้ง เนื่องจากคุณไม่ได้อยู่ในระบบนานเกินไป ขอบคุณครับ')
            location.assign("/");
        } else {
            let count = 0;
            let ucat = $('#stdonweb').val();
            let table = $('#importTB').DataTable();
            if(table.rows().data().length == 0) {
                swalConfirm('warning', 'Warning!!!', 'ไม่มีรายการที่ต้องทำการอัพเดท\r\nกรุณาตรวจสอบอีกครั้ง');
                return;
            }

            for (i = 0; i < table.rows().data().length; i++) {
                let rwno, rwamt, minamt, maxamt, limit, sendmail, sdate, stime, edate, etime;
                rwno = ((table.rows().data())[i])[0];
                rwamt = ((table.rows().data())[i])[1];
                minamt = ((table.rows().data())[i])[2];
                maxamt = ((table.rows().data())[i])[3];
                limit = ((table.rows().data())[i])[4];
                sendmail = ((table.rows().data())[i])[5];
                sdate = ((table.rows().data())[i])[6];
                stime = ((table.rows().data())[i])[7];
                edate = ((table.rows().data())[i])[8];
                etime = ((table.rows().data())[i])[9];

                let upd = await updateMasterReward(ucat, rwno, rwamt, minamt, maxamt, limit, sendmail, sdate, stime, edate, etime)
                if(upd > 0){
                    return;
                }
                ++count;
            }
            swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
            $('#btnProcess').attr('disabled', true);
            clearInputFile(inpfile);
        }
    }

    async function updateMasterReward(...itm){
        return new Promise((res, rej) => {
            const {0:bycode, 1:rw_no, 2:rw_amt, 3:min_amt, 4:max_amt, 5:lmt, 6:semail, 7:sdate, 8:stime, 9:edate, 10:etime} = {...itm}
            let sdatetime = sdate + ' ' + (stime == '' ? '00:00:00' : stime);
            let edatetime = edate + ' ' + (etime == '' ? '23:59:59' : etime);
            let qry = `exec TWDPIM..execMasterReward 'addnew','${bycode}', ${rw_no}, ${rw_amt}, ${(min_amt == '') ? null : min_amt}, ${(max_amt == '') ? null : max_amt}, ${(lmt == '') ? null : lmt}, ${semail}, '${sdatetime}', '${edatetime}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                //console.log(ret);
                let jsn = JSON.parse(ret);
                if(jsn.dbcode == 888)
                {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    rej(jsn.dbcode);
                }
                res(jsn.dbcode);
            })
        })
    }

    function handleFileSelect(evt) {
        clearTable();
        $('#btnProcess').removeAttr("disabled");
        console.log('File is selected  ')
        let tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        let fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }

        let ucat = $('#stdonweb').val();
        if(ucat == ''){
            swalConfirm('warning', 'กรุณาเลือกเว็บที่ท่านต้องการอัพโหลดข้อมูล', '');
            clearAll();
            return;
        }

        let reader = new FileReader();
        reader.onload = function (event) {
            let data = event.target.result;
            let workbook = XLSX.read(data, {
                type: 'binary'
            });
            let sheetNames = workbook.SheetNames;
            let worksheet = workbook.Sheets[sheetNames[0]];
            let rows = XLSX.utils.sheet_to_row_object_array(worksheet);
            let header = `<tr>
                            <th class='text-center'>REWARD_ID</th>
                            <th class='text-center'>REWARD_AMOUNT</th>
                            <th class='text-center'>MIN_AMOUNT</th>
                            <th class='text-center'>MAX_AMOUNT</th>
                            <th class='text-center'>LIMIT</th>
                            <th class='text-center'>SENDMAIL</th>
                            <th class='text-center'>SDATE</th>
                            <th class='text-center'>STIME</th>
                            <th class='text-center'>EDATE</th>
                            <th class='text-center'>ETIME</th>
                          </tr>`;
            $('#header').html(header);
            let body = '';
            for(let i=0; i< rows.length; i++){
                let rwno = rows[i].REWARD_ID;
                let rwamt = parseFloat(rows[i].REWARD_AMOUNT).toFixed(2);
                let minamt = (rows[i].MIN_AMOUNT == null) ? '' : parseFloat(rows[i].MIN_AMOUNT).toFixed(2);
                let maxamt = (rows[i].MAX_AMOUNT == null) ? '' : parseFloat(rows[i].MAX_AMOUNT).toFixed(2);
                let lmt = rows[i].LIMIT || '';
                let sendmail = rows[i].SENDMAIL || 0;
                let sdate = rows[i].SDATE || '';
                let stime = rows[i].STIME || '';
                let edate = rows[i].EDATE || '';
                let etime = rows[i].ETIME || '';
                if(!rwno || !rwamt || !sdate || !edate){
                    swalConfirm('warning','กรุณาตรวจสอบไฟล์',`กรุณาระบุข้อมูล \nREWARD_ID, REWARD_AMOUNT, SDATE และ EDATE ให้ครบถ้วน`);
                    clearAll();
                    return;
                }
                body += `<tr>
                            <td>${rwno}</td>
                            <td class='text-right'>${rwamt}</td>
                            <td class='text-right'>${minamt}</td>
                            <td class='text-right'>${maxamt}</td>
                            <td>${lmt}</td>
                            <td>${sendmail}</td>
                            <td>${sdate}</td>
                            <td>${stime}</td>
                            <td>${edate}</td>
                            <td>${etime}</td>
                         </tr>`;
            }
            $('#body').html(body)
            $('#importTB').DataTable();
            $('#importDiv').show();
            $('#btnAll').show();
            $('#stdonweb').attr('disabled',true);
            $('#btncheckdiv').hide();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    async function showMasterReward(obj){
        obj.blur();
        if($(obj).val() == 'show'){
            $(obj).val('hide');
            $(obj).text('ปิดการตรวจสอบ');
            $('#uploaddiv').hide();
            $('#stdonweb').attr('disabled',true);

            if ($('#btncheck').hasClass('btn-primary')){
                $('#btncheck').removeClass('btn-primary');
                $('#btncheck').addClass('btn-info');
            }
        } else {
            $(obj).val('show');
            $(obj).text('ตรวจสอบข้อมูล');
            clearTableCheck();
            $('#chkDiv').hide();
            $('#uploaddiv').show();
            $('#stdonweb').attr('disabled',false);

            if ($('#btncheck').hasClass('btn-info')){
                $('#btncheck').removeClass('btn-info');
                $('#btncheck').addClass('btn-primary');
            }
            return
        }

        let ucat = $('#stdonweb').val();
        if(ucat != ''){
            let header = `<tr>
                                     <th class='text-center'>REWARD_ID</th>
                                     <th class='text-center'>REWARD_AMOUNT</th>
                                     <th class='text-center'>MIN_AMOUNT</th>
                                     <th class='text-center'>MAX_AMOUNT</th>
                                     <th class='text-center'>LIMIT</th>
                                     <th class='text-center'>SENDMAIL</th>
                                     <th class='text-center'>SDATE</th>
                                     <th class='text-center'>EDATE</th>
                                     <th class='text-center'>BYCODE</th>
                                     <th class='text-center'>DELETE</th>
                                 </tr>`;
            $('#chkheader').html(header);
            let wait = await getMasterRewardFromSTD(ucat)
            if(wait > 0){
                $(obj).val('show');
                $(obj).text('ตรวจสอบข้อมูล')
                clearTableCheck();
                $('#chkDiv').hide();
                $('#uploaddiv').show();
                $('#stdonweb').attr('disabled',false);

                if ($('#btncheck').hasClass('btn-info')){
                    $('#btncheck').removeClass('btn-info');
                    $('#btncheck').addClass('btn-primary');
                }
                return;
            }

            $('#chkTB').DataTable();
            $('#chkDiv').show();
        } else {
            swalConfirm('warning', 'กรุณาเลือกเว็บที่ท่านต้องการ\nตรวจสอบข้อมูล', '');
            $(obj).val('show');
            $(obj).text('ตรวจสอบข้อมูล');
            clearTableCheck();
            $('#chkDiv').hide();
            $('#uploaddiv').show();
            $('#stdonweb').attr('disabled',false);

            if ($('#btncheck').hasClass('btn-info')){
                $('#btncheck').removeClass('btn-info');
                $('#btncheck').addClass('btn-primary');
            }
            return;
        }
    }

    async function getMasterRewardFromSTD(ucat) {
        return new Promise((res, rej) => {
            let qry = `exec TWDPIM..execMasterReward 'getdet','${ucat}'`;
            ajaxGetQuery(qry, (isok, ret) => {
                let jsn = JSON.parse(ret);
                if(jsn.dbcode == 888)
                {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    rej(jsn.dbcode);
                } else if (jsn.dbcode == 0){
                    for(let i = 0; i < jsn.dbrows; i++){
                        $('#chkbody').append(`<tr>
                                                <td>${jsn.dbitems[i].REWARD_ID}</td>
                                                <td class='text-right'>${jsn.dbitems[i].REWARD_AMOUNT}</td>
                                                <td class='text-right'>${jsn.dbitems[i].AMOUNT_MIN}</td>
                                                <td class='text-right'>${jsn.dbitems[i].AMOUNT_MAX}</td>
                                                <td>${jsn.dbitems[i].LIMIT || ''}</td>
                                                <td>${jsn.dbitems[i].MAIL_FLAG}</td>
                                                <td>${jsn.dbitems[i].SDATE}</td>
                                                <td>${jsn.dbitems[i].EDATE}</td>
                                                <td>${ucat}</td>
                                                <td class='delete-action'><center><img src='../images/delete-button.png' onclick="javascript:deleteMasterReward('${ucat}','${jsn.dbitems[i].REWARD_ID}')"></center></td>
                                              </tr>`);
                    }
                    res(jsn.dbcode);
                }
            })
        })
    }

    function deleteMasterReward(...itm){
        const {0:bycode, 1:rw_no} = {...itm}
        swal({
          title: "Do you want to delete?",
          text: "REWARD_ID: " + rw_no + "\nBYCODE: " + bycode,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
                let qry = `exec TWDPIM..execMasterReward 'delete','${bycode}', '${rw_no}'`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if(jsn.dbcode == 888) {
                        swalAl('error', 'Failed!!!', jsn.dbmessage);
                    } else if (jsn.dbcode == 0) {
                        swalAl("success", "Successful", 'Deleted successfully');
                        clearAll();
                        $('#stdonweb').val(bycode);
                        $('#btncheck').click();
                    }
                })
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<h4 style='margin-left: 15px'>รายการที่ท่านต้องการอัพโหลดข้อมูล</h4>
                              <div class="col-md-12 col-xs-12">
                                    <table id="importTB" class="table table-striped table-bordered" >
                                        <thead id="header">
                                        </thead>
                                        <tbody id="body">
                                        </tbody>
                                    </table>
                                </div><br>`);
    }

    function clearTableCheck() {
        $('#chkTB').remove();
        $('#chkDiv').html(`<h4 style='margin-left: 15px'>รายการที่ท่านต้องการตรวจสอบข้อมูล</h4>
                            <div class="col-md-12 col-xs-12">
                                <table id="chkTB" class="table table-striped table-bordered" >
                                    <thead id="chkheader">
                                    </thead>
                                    <tbody id="chkbody">
                                    </tbody>
                                </table>
                            </div><br>`);
    }

    function clearAll() {
        clearInputFile(inpfile);
        clearTable();
        $('#btnAll').hide();
        $('#btnProcess').removeAttr("disabled");
        clearTableCheck();
        $('#stdonweb').val('');
        $('#chkDiv').hide();
        $('#importDiv').hide();
        $('#stdonweb').removeAttr('disabled');
        $('#btncheckdiv').show();
        $('#btncheck').val('show');
        $('#btncheck').text('ตรวจสอบข้อมูล');
        $('#uploaddiv').show();

        if ($('#btncheck').hasClass('btn-info')){
            $('#btncheck').removeClass('btn-info');
            $('#btncheck').addClass('btn-primary');
        }
    }

    function getDemofile(obj){
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'Master Reward - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }
</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }

    .delete-action:hover {  	 
        cursor: hand;	 
    }
</style>
<div class="container-fluid">
    <div class="row" style='margin: 15px;'>
        <h3>Master Reward</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <pre id="preEvent"><h5>You can import Master Reward by excel file and must have content like this:</h5><h4>REWARD_ID, REWARD_AMOUNT, MIN_AMOUNT, MAX_AMOUNT, LIMIT, SENDMAIL, SDATE (Format: yyyy-MM-dd), STIME (Format: HH:mm or blank), EDATE (Format: yyyy-MM-dd), ETIME (Format: HH:mm or blank)</h4></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-5 col-xs-12 " style='margin-top:10px;' >
            <div class="col-md-12 layout-left" style="padding-right: 0px;" >
                <label style="font-size: larger;">กรุณาเลือกเว็บ </label>
                <select id="stdonweb" class='form-control'>
                    <option value=''>เลือกเว็บ</option>
                </select>
            </div>
        </div>
        <div class='col-md-3 col-sm-5 col-xs-12' style='margin-top:10px;' id='uploaddiv'>
            <label for="inpfile">เลือกไฟล์ที่ต้องการอัพโหลด</label>
            <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
        </div>
    </div>
    <div class="row">
        <div class='col-md-3 col-sm-5 col-xs-12' style='margin-top:10px;' id='btncheckdiv'>
            <button class='btn btn-primary' id='btncheck' onclick='showMasterReward(this)' value='show'>ตรวจสอบข้อมูล</button>
            <button class='btn btn-success' onclick='getDemofile(this);' style='margin-left: 10px;'>Demo File</button>
        </div>
    </div><hr>
    <div class="row " id="chkDiv" style='margin-top:10px; margin-bottom: 30px;' hidden>
        <h4 style='margin-left: 15px'>รายการที่ท่านต้องการตรวจสอบข้อมูล</h4>
        <div class="col-md-12 col-xs-12">
            <table id="chkTB" class="table table-striped table-bordered" >
                <thead id="chkheader">
                </thead>
                <tbody id="chkbody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row " id="importDiv" style='margin-top:10px; margin-bottom: 30px;' hidden>
        <h4 style='margin-left: 15px'>รายการที่ท่านต้องการอัพโหลดข้อมูล</h4>
        <div class="col-md-12 col-xs-12">
            <table id="importTB" class="table table-striped table-bordered" >
                <thead id="header">
                </thead>
                <tbody id="body">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" style="margin:10px 0px 20px 0px;" id="btnAll" hidden>
        <div class=" col-md-12 "  >
            <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
            <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
        </div>
    </div><br>
    <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
        <div class="col-md-12">
            <table id="demo-TB" class="table table-striped table-bordered" >
                <thead id="demo-header">
                    <tr>
                        <th>REWARD_ID</th>
                        <th>REWARD_AMOUNT</th>
                        <th>MIN_AMOUNT</th>
                        <th>MAX_AMOUNT</th>
                        <th>LIMIT</th>
                        <th>SENDMAIL</th>
                        <th>SDATE</th>
                        <th>STIME</th>
                        <th>EDATE</th>
                        <th>ETIME</th>
                    </tr>
                </thead>
                <tbody id="demo-body">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>
</div>