
<div id ='editPropDiv'>

<script>
    var thisSizeNode=[{}];
    var maxsize=0;
    var lastobj;
    var seldim;
    var selval=-1;
    var selprop;
    var seldname;
    //----edit dimension
function editPropNode(){  //---check if you have authize
        //-----are You have the right to edit
        if(userGroup < '900'){
          var prf = readCookie('PMPROFILE');
     //     console.log(prf +' ', catNode);
          if(prf==null)prf='';

          if(!prf.includes(catNode.substring(0,4) )) {
              upfAlert('You are not authorize to edit this cat '+catNode,
              function(){
                return
              });
          }
          else editPropNode2()
        }
        else editPropNode2()
      }

function editPropNode2(){
        selVal=-1;
     
         maxsize=0; 
         $('#editHdr').text('Edit Ext Property ['+catName +']');
        //---create edit dimension table
        var sze ="<table id='sizeEdtTab' class='table'><thead><th>DImension <th>Value</thead></table>";
            $('#edtSizeDiv').html(sze);

        $('.dimCtlRow').each(function(){  //---Dim data from Database
          var dimtxt=$(this).find("td:eq(0)").text();   //--name of dimemsion

//console.log('dim name '+dimtxt);

          var innHtm  = "<div id='DS"+maxsize +"' width='100%'></div>"
              innHtm  +="<a href ='javascript:addDimVal(" + maxsize +")'>"
              innHtm  +="<span class='glyphicon glyphicon-plus'></span></a>"
              innHtm  +="<input type='text' class='dimVal'  maxlength='12' placeholder='dimension value' >";
   
            var sze ="<tr class='dimrow'  id ='DM"+ maxsize+"'>"
                    +"<td><a href ='javascript:removeDim("+ maxsize +")'><span class='glyphicon glyphicon-trash'></span></a>"
                    +    "<a href ='javascript:renameDim("+ maxsize +")'><span class='glyphicon glyphicon-pencil'></span></a>"
                    + "<span class='dimcell'>"+dimtxt +"</span></td><td>"+ innHtm +" </td>";          
        
                    $('#sizeEdtTab').append(sze);
           
          //--create Column on dataTb
         //  $("#productTab tr").append("<td class='"+ dimtxt +"'>"+ dimtxt+ "</td>")
         changeColname();

           //---for dim value , add dimsion value
           $(this).find('.dimVal').each(function(){
              var dval=$(this).text();
           // console.log('dim val '+dval);
              //---split dimval by |
              var dvals=dval.split("|");
              for(var i=0;i<dvals.length;i++){
                var htm = "<span onclick='javascript:removeDimVal(this)' class='glyphicon glyphicon-remove'></span>"
                    htm+= "<span onclick='javascript:selectDimVal(this)' class='dimvalSpn'>"+ dvals[i] + " </span";
    
                 $('#DS'+maxsize).append(htm);
              }

             });

            maxsize++;
          }
        );
          //-----laod value of ext Proper for each table

        $('#editSize').show();  
        $('#propDiv').hide();  
    }

    //-----add new Dimeniso
function newPropNode(){  //-----add Dimension 
       // console.log('New Size node');
        var xid ='NEW';
        var nme =''; 
        selVal=-1;
        var sze ="<table id='sizeEdtTab' class='table'><thead><th>Dimension <th>Value</thead></table>";
            $('#edtSizeDiv').html(sze);

        $("#txtxid").val(xid)
        $("#txtnme").val(nme);

      //  $("#txtsze").val(sze);
     
        $('#editSize').show();  
        $('#propDiv').hide();  
    }

function cancelEnt(){
    //---getback and reload this 
        $('#editSize').hide()
        $('#propDiv').show(); 
        $('#popUpMenu').hide();
        propInCat(catNode);
        selval=-1;
        console.log('selVal ' +selVal)
        //--------remove this object out of page to clearall residue memory
       // $('#editPropDiv').remove();
    }
    
function removeDim(idx){
       var  curIndex='DM'+idx;
       var tobj=$('#'+curIndex).find('.dimcell') ;
       var dimname= $(tobj).text();
            dimname=dimname.trim();

       if(confirm("Remove Dimension "+dimname)==0)return;
   
        $('#'+curIndex).remove();
        //----Remove solumn from prodtab --
      // console.log( $('#productTab tr:eq(0)').html());

      $('#productTab tr').find('.'+dimname).remove()
               
    }

function renameDim(idx){
       var  curIndex='DM'+idx;
       var tobj=$('#'+curIndex).find('.dimcell') ;
       var dimname= $(tobj).text();
           dimname=dimname.trim();

      var nwval =$('#inpDim').val();
          nwval=nwval.trim();

      if(nwval=='')return;

       if(confirm("Rename ["+dimname +"], to [" + nwval +"]")==0)return;

      $(tobj).text(nwval);
       
    }   
function removeDimVal(obj){
 var  spno =$(obj).next('span');
 var  curIndex=$(spno).text()

 if(confirm("Remove Dimension value  "+curIndex)==0)return;

  $(obj).remove();
  $(spno).remove();
}


function addDimVal(idx){
  //  console.log('Add Dimension to   DS'+idx);
    var val =$('#DM'+idx).find('.dimVal').val();
    if(val.trim()==''){
      alert('Invalid Value');
      return;
    }
    var htm= " <span onclick='javascript:removeDimVal(this)' class='glyphicon glyphicon-remove'> </span>";
        htm+= "<span onclick='javascript:selectDimVal(this)' class='dimvalSpn'>"+ val + " </span";
    $('#DS'+idx).append(htm);

    $('#DM'+idx).find('.dimVal').val('');  //--reset input text
    selval=-1;
    $(lastobj).css('background-color','white')
}



function selectDimVal(obj){
    $(lastobj).css('background-color','white')
    $(obj).css('background-color','silver');
    selval  =$(obj).index();
    selprop =$(obj).text().trim();

    seldim  =$(obj).parent().closest('tr').index();
    seldname=$(obj).parent().closest('tr').find('td:eq(0)').text()  
    seldname=seldname.trim();
    lastobj=obj;

    $('#selDimval').text('dim:'+ seldname +',val:'+selprop)
}
 
 
function markThisProp(obj){
  if(selval > -1) { 
    var trclss='.xp'+seldim;
    var thiscell =$(obj).find(trclss);
    $(thiscell).text(selprop);
  } 
}
function unmarkThisProp(obj){
  if(selval > -1) { 
    var trclss='.xp'+seldim;
    var thiscell =$(obj).find(trclss);
    $(thiscell).text('');
  } 
}
 
//------------Connfirm Size Entery
function confirmPropEnt(){
   
   var ddata =[];
    try { 
   
     
  var idx=0;
  //--get dimension Name
  $('.dimrow').each( function()  {  
       // console.log($(this).html());
     // return;
       try { 
       var dimnme =$(this).find('td:eq(0)').text();
        if(dimnme==null)dimnme='';
        dimnme=dimnme.trim();

        var dmdiv=$(this).find('td:eq(1) div:eq(0)'); //--dimension value division
     // console.log($(tbl).html());
        var darr =""
        $(dmdiv).find('.dimvalSpn').each(function(){
          var dval=$(this).text();
           dval=dval.trim();
           darr +=dval+"|";
        })
        var dmv={ dim:dimnme,
                  val:darr.slice(0,-1) 
                 };

          ddata[idx]=dmv;
          idx+=1;
        }
      catch(ex){
          console.log('Row of dimrow '+ $(this).html());
          alert(ex.message);
      
          return
      }
     });

  if(ddata.length==0){
    alert('No Dimension Defined');
    return
  } 
   
 //console.log('Ddata '+JSON.stringify(ddata)) ;

  //--------get pRoduct  and extProp
   var pdata =[]
   idx=0;
   $('#productTab tr:gt(0)').each(function(){
      var skc =$(this).find('td:eq(2)').text();
      var proparr=[];
      //----------get  properyui
       var plen=0;
      $(this).find('td:gt(3)').each(function(){
          var pval =$(this).text();
          var tcls =$(this).attr('class');
          if(pval==null)pval='';
          if(tcls==null)tcls ='';
         pval=pval.trim()
         tcls=tcls.trim()
         pval=pval.replace(/'/g,"")
//console.log(pval+' '+tcls);
//return
          if(tcls!=pval && pval >' '){ //---only that is marked 
            proparr.push(pval)
            plen++;
          }
       else proparr.push("");
      });
      if(plen >0) {   //--only product that assigned property
        var pdr ={skcode:skc.trim(),
                  prop: proparr
                  }
        pdata.push(pdr);
      }          
   });
 console.log('Ddata '+JSON.stringify(pdata)) ;
  //console.log(JSON.stringify(ddata))

   qry="exec insUpdPropNode  '@node','@ddata','@pdata'";
   var pdax ={query:qry,
              para:{
                  node:catNode,
                  ddata:JSON.stringify(ddata),
                  pdata:JSON.stringify(pdata)
              }}
   ajaxExec(pdax,function(isok,ret){
     if(isok){
      var jsn=JSON.parse(ret);
 
      alert('DB exec Return '+ jsn.dbmessage);
      //----------reload size 
     // sizeProperty(catNode);
        cancelEnt();
     }
     else
        alert('Call AJAX Errr..'+ ret);
   })

  }
 catch(ex){alert(ex.message);}

}
//----------remove property node
function removeNode(){
  var nodeid=$('#txtxid').val();
  if(confirm('Remove This Dimension NODE '+nodeid)==0)return;
  qry="Delete from SIZENODE Where SZNODE= "+nodeid;
   
   ajaxGetQuery(qry,function(isok,ret){
     if(isok){
       sizeProperty(catNode);
       cancelEnt();
     }
     else
        alert(ret);
   })
}
//------------Add New Size Click from Prod and add to Size property
function addnewDimension(){
  //console.log('Max Dim '+maxsize)
  if(maxsize >=5){
    alert('Only 5 dimension is allowed');
    return
  }
        var dimtxt=$('#inpDim').val();
        dimtxt  = dimtxt.trim();
        if(dimtxt ==''){
            alert('Invalid Dimension');
            return
        }
        maxsize+=1;
     //   var innHtm  ="<table id='DS"+maxsize +"' width='100%'><tr><td><a href ='javascript:addDimVal(" + maxsize +")'>"
      //      innHtm  +="<span class='glyphicon glyphicon-plus'></span></a><input type='text' class='dimVal' placeholder='dimension value' ></tr></table>";
      var innHtm  ="<div id='DS"+maxsize +"'  width='100%'></div><br>"
          innHtm  +="<a href ='javascript:addDimVal(" + maxsize +")'>"
          innHtm  +="<span class='glyphicon glyphicon-plus'></span></a>" 
          innHtm  +="<input type='text' maxlength='12' class='dimVal' placeholder='Dimension Value' >";
  
        var sze ="<tr class='dimrow'  id ='DM"+ maxsize+"'>"
                    +"<td><a href ='javascript:removeDim("+ maxsize +")'><span class='glyphicon glyphicon-trash'></span></a>"
                    +dimtxt +"</td><td>"+ innHtm +" </td>";
          
         $('#sizeEdtTab').append(sze);
         $('#inpDim').val('');

        //--creat Column on dataTb
      //  $("#productTab tr").append("<td class='"+ dimtxt +"'>"+ dimtxt+ "</td>")
      //--rename col insteaf 
     // var cidx= $("#productTab th:eq(" + cidx +")").tex(dimtxt)
      
}
function closeHelp(){
$('#helpDiv').hide();
}
function helpEnt(){
  $('#helpDiv').show();
}
</script>

<div class="rndDiv" id="editSize" style='display:none;'>
 
    <h4><span id ='editHdr'>Edit Extend Property</span></h4>
    
 
            
                <div id='edtSizeDiv' >
                    
                </div>
              
   

        <a href ="javascript:addnewDimension()" class='btn btn-primary pull-left'>
            <span class="glyphicon glyphicon-plus"></span></a>
            <input type='text' id='inpDim' value=' ' placeholder='Dimension Name'>
    
        <a href ="javascript:confirmPropEnt()" class='btn btn-primary pull-right'>
        <span class="glyphicon glyphicon-ok"></span> Save</a>
                       
        <a href= "javascript:cancelEnt()" class='btn btn-danger pull-right' >
        <span class="glyphicon glyphicon-remove"></span> Cancel</a>

        <a href= "javascript:helpEnt()" class='btn btn-info' >
          <span class="glyphicon glyphicon-question-sign"></span>Help</a>

        <br><br>current dimension to add to product: <span id='selDimval'></span>
</div>

<div id ='helpDiv' class='well' style='display:none;position:absolute;top:100;left:60;z-index:8;background-color:0x88a0d0;'
onmouseout='javascript:closeHelp()' >
<h4>Help Menu</h4>
 <pre>
   To Add Dimension:
       Enter Dimension Name input box then Click + Sign, (max 16 Char)
   To Remove Dimension Name:
       Click at Trash icon infront DIMENSION
   To Rename Dimension Name:
      Enter Dimension Name input box then Click Pencil Icon infront Dimension you want to Change
   
   To Add Dimension Value:
       Enter dimension Value input box then click + sign (max 12 Char)    
   To Remove Dimension Value to :
       Click Cross Icon infront of Dimension value

   To Assign property to Product:
       1 Click at DIMENSION value 
       2 On Product table Move Cursor over row that you want to assign while press [INS Key] Down

   To Remove property from Product:
     1 Click at DIMENSION value
     2 On Product table Move Cursor over row that you want to remove  while press [DEL Key] Down

   Click SAVE to save to Database
 </pre>

</div>
 

  
 


