<script>
    let count = 0;
    let countfail = 0;
    $(document).ready(() => {
        count = 0;
        countfail = 0;
        getStdOnWeb();
    });

    function getStdOnWeb(){
        let qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if(jsn.dbcode == 0){
                for (i = 0; i<jsn.dbrows; i++) {
                    $("#stdonweb").append(`<option value='${(jsn.dbitems[i].WEBNAME == 'TWD' ? '28LV' : 'BNB1')}'>${jsn.dbitems[i].WEBNAME}</option>`);
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return
            }
        })
    }

    function handleFileSelect(evt) {
        clearTable();
        clearTableFail();
        $('#btnProcess').removeAttr("disabled");
        console.log('File is selected  ')
        let tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        let fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }

        let ucat = $('#stdonweb').val();
        if(ucat == ''){
            swalConfirm('warning', 'กรุณาเลือกเว็บที่ท่านต้องการอัพโหลดข้อมูล', '');
            clearAll();
            return;
        }

        let reader = new FileReader();
        reader.onload = function (event) {
            let data = event.target.result;
            let workbook = XLSX.read(data, {
                type: 'binary'
            });
            let sheetNames = workbook.SheetNames;
            let worksheet = workbook.Sheets[sheetNames[0]];
            let rows = XLSX.utils.sheet_to_row_object_array(worksheet);
            let body = '';
            for(let i=0; i< rows.length; i++){
                let skcode = rows[i].SKCODE || '';
                let sdate = rows[i].SDATE || '';
                let edate = rows[i].EDATE || '';
                if(!skcode || !sdate || !edate){
                    swalConfirm('warning','กรุณาตรวจสอบไฟล์',`กรุณาระบุข้อมูล \nSKCODE, SDATE และ EDATE ให้ครบถ้วน`);
                    clearAll();
                    return;
                }
                body += `<tr>
                            <td>${skcode}</td>
                            <td>${sdate}</td>
                            <td>${edate}</td>
                         </tr>`;
            }
            $('#body').html(body)
            $('#importTB').DataTable();
            $('#importDiv').show();
            $('#btnAll').show();
            $('#stdonweb').attr('disabled',true);
            $('#btncheckdiv').hide();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    async function process(){
        let userid = readCookie('WUSERID');
        let userGroup = readCookie('WUGROUP');
        if (userid == null || userid == '' || userid == 'undefined' || userGroup == null) {
            alert('กรุณาเข้าสู่ระบบใหม่อีกครั้ง เนื่องจากคุณไม่ได้อยู่ในระบบนานเกินไป ขอบคุณครับ')
            location.assign("/");
        } else {
            let ucat = $('#stdonweb').val();
            let table = $('#importTB').DataTable();
            if(table.rows().data().length == 0) {
                swalConfirm('warning', 'Warning!!!', 'ไม่มีรายการที่ต้องทำการอัพเดท\r\nกรุณาตรวจสอบอีกครั้ง');
                return;
            }

            let jsnitms = '';
            table.rows().data().map(async (itm, idx, arr) => {
                let skcode, sdate, edate;
                skcode = itm[0];
                sdate = itm[1];
                edate = itm[2];
                ++count;

                if(idx == arr.length - 1) {
                    jsnitms += `{"skcode":${skcode},"sdate":"${sdate}","edate":"${edate}"}`;
                    jsnitms = '[' + jsnitms + ']';

                    let upd = await uploadSKUExcept(ucat, jsnitms, userid)
                    if(upd > 0){
                        return;
                    } else {
                        swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + (count - countfail) + ' แถว');
                        $('#btnProcess').attr('disabled', true);
                        clearInputFile(inpfile);
                        count = 0;
                        countfail = 0;
                    }
                } else {
                    jsnitms += `{"skcode":${skcode},"sdate":"${sdate}","edate":"${edate}"},`;
                }
            })
        }
    }

    async function uploadSKUExcept(...itm){
        return new Promise((res, rej) => {
            const {0:bycode, 1:jsnitms, 2:userid} = {...itm}
            let qry = `exec TWDPIM..execSkuExcept 'upload','${bycode}', '${jsnitms}', '${userid}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                //console.log(ret);
                let jsn = JSON.parse(ret);
                if(jsn.dbcode == 888)
                {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    rej(jsn.dbcode);
                } else if (jsn.dbcode == 0) {
                    if(jsn.dbrows > 0) {
                        let body='';
                        jsn.dbitems.map((itm, idx, arr) => {
                            body += `<tr>
                                        <td>${itm.SKCODE}</td>
                                        <td>${itm.SDATE}</td>
                                        <td>${itm.EDATE}</td>
                                        <td>${itm.MSG}</td>
                                     </tr>`;
                            ++countfail;
                            if(idx == arr.length-1){
                                $('#failbody').html(body);
                                $('#failTB').DataTable();
                                $('#fail-line').css('display','unset');
                                $('#failDiv').show();
                                res(jsn.dbcode);
                            }
                        })
                    } else {
                        res(jsn.dbcode);
                    }
                }
            })
        })
    }

    async function showSKUExcept(obj){
        obj.blur();
        if($(obj).val() == 'show'){
            $(obj).val('hide');
            $(obj).text('ปิดการตรวจสอบ');
            $('#uploaddiv').hide();
            $('#stdonweb').attr('disabled',true);

            if ($('#btncheck').hasClass('btn-primary')){
                $('#btncheck').removeClass('btn-primary');
                $('#btncheck').addClass('btn-info');
            }
        } else {
            $(obj).val('show');
            $(obj).text('ตรวจสอบข้อมูล');
            clearTableCheck();
            $('#chkDiv').hide();
            $('#uploaddiv').show();
            $('#stdonweb').attr('disabled',false);

            if ($('#btncheck').hasClass('btn-info')){
                $('#btncheck').removeClass('btn-info');
                $('#btncheck').addClass('btn-primary');
            }
            return
        }

        let ucat = $('#stdonweb').val();
        if(ucat != ''){
            let wait = await getSKUExcept(ucat)
            if(wait > 0){
                $(obj).val('show');
                $(obj).text('ตรวจสอบข้อมูล')
                clearTableCheck();
                $('#chkDiv').hide();
                $('#uploaddiv').show();
                $('#stdonweb').attr('disabled',false);

                if ($('#btncheck').hasClass('btn-info')){
                    $('#btncheck').removeClass('btn-info');
                    $('#btncheck').addClass('btn-primary');
                }
                return;
            }

            $('#chkTB').DataTable({
                "order": [[5, 'desc'], [1, 'asc'], [2, 'asc']]
            });
            $('#chkDiv').show();
        } else {
            swalConfirm('warning', 'กรุณาเลือกเว็บที่ท่านต้องการ\nตรวจสอบข้อมูล', '');
            $(obj).val('show');
            $(obj).text('ตรวจสอบข้อมูล');
            clearTableCheck();
            $('#chkDiv').hide();
            $('#uploaddiv').show();
            $('#stdonweb').attr('disabled',false);

            if ($('#btncheck').hasClass('btn-info')){
                $('#btncheck').removeClass('btn-info');
                $('#btncheck').addClass('btn-primary');
            }
            return;
        }
    }

    async function getSKUExcept(ucat) {
        return new Promise((res, rej) => {
            let qry = `exec TWDPIM..execSkuExcept 'getdata','${ucat}'`;
            ajaxGetQuery(qry, (isok, ret) => {
                let jsn = JSON.parse(ret);
                if(jsn.dbcode == 888)
                {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    rej(jsn.dbcode);
                } else if (jsn.dbcode == 0){
                    if(jsn.dbrows > 0){
                        $('#btn-delete-all').prop('disabled', false);
                        let body = '';
                        jsn.dbitems.map(itm => {
                            let {SKCODE, SDATE, EDATE, BYCODE, CREATEUSER, CREATEDATE} = {...itm};
                            body += `<tr>
                                        <td>${SKCODE}</td>
                                        <td>${SDATE}</td>
                                        <td>${EDATE}</td>
                                        <td>${BYCODE}</td>
                                        <td>${CREATEUSER}</td>
                                        <td>${CREATEDATE}</td>
                                        <td><center><button class='btn btn-danger' onclick="javascript:deletSKUExcept('${ucat}','${SKCODE}')"><i class="fa fa-trash" aria-hidden="true"></i></button></center></td>
                                    </tr>`;
                        })
                        $('#chkbody').html(body);
                    } else {
                        $('#btn-delete-all').prop('disabled', true);
                    }
                    res(jsn.dbcode);
                }
            })
        })
    }

    function deletSKUExcept(...itm){
        const {0:bycode, 1:skcode} = {...itm}
        swal({
          title: "Do you want to delete?",
          text: "SKU: " + skcode + "\nBYCODE: " + bycode,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
                let qry = `exec TWDPIM..execSkuExcept 'delete','${bycode}', '${skcode}'`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if(jsn.dbcode == 888) {
                        swalAl('error', 'Failed!!!', jsn.dbmessage);
                    } else if (jsn.dbcode == 0) {
                        swalAl("success", "Successful", 'Deleted successfully');
                        clearAll();
                        $('#stdonweb').val(bycode);
                        $('#btncheck').click();
                    }
                })
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function deletAllSKUExcept(obj) {
        obj.blur();
        let ucat = $('#stdonweb').val();
        swal({
          title: "Do you want to delete all?",
          text: "BYCODE: " + ucat,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
                let qry = `exec TWDPIM..execSkuExcept 'deleteall','${ucat}'`;
                let pdata = {
                    query: qry
                }
                ajaxExec(pdata, (isok, ret) => {
                    let jsn = JSON.parse(ret);
                    if(jsn.dbcode == 888) {
                        swalAl('error', 'Failed!!!', jsn.dbmessage);
                    } else if (jsn.dbcode == 0) {
                        swalAl("success", "Successful", 'Deleted successfully');
                        clearAll();
                        $('#stdonweb').val(ucat);
                        $('#btncheck').click();
                    }
                })
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<h4 style='margin-left: 15px'>รายการที่ท่านต้องการอัพโหลดข้อมูล</h4>
                              <div class="col-md-2 col-xs-12"></div>
                              <div class="col-md-8 col-xs-12">
                                    <table id="importTB" class="table table-striped table-bordered" >
                                        <thead id="header">
                                            <th class='text-center'>SKCODE</th>
                                            <th class='text-center'>SDATE</th>
                                            <th class='text-center'>EDATE</th>
                                        </thead>
                                        <tbody id="body">
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-2 col-xs-12"></div><br>`);
    }

    function clearTableCheck() {
        $('#chkTB').remove();
        $('#chkDiv').html(`<h4 style='margin-left: 15px'>รายการที่ท่านต้องการตรวจสอบข้อมูล</h4>
                            <div class="col-md-12 col-xs-12">
                                <table id="chkTB" class="table table-striped table-bordered" >
                                    <thead id="chkheader">
                                        <th class='text-center'>SKCODE</th>
                                        <th class='text-center'>SDATE</th>
                                        <th class='text-center'>EDATE</th>
                                        <th class='text-center'>BYCODE</th>
                                        <th class='text-center'>CREATED BY</th>
                                        <th class='text-center'>CREATED DATE</th>
                                        <th class='text-center' style='width: 100px'><button class='btn btn-danger' id='btn-delete-all' onclick='deletAllSKUExcept(this);'><i class="fa fa-trash" aria-hidden="true"> Delete All</i></button></th>
                                    </thead>
                                    <tbody id="chkbody">
                                    </tbody>
                                </table>
                            </div><br>`);
    }

    function clearTableFail() {
        $('#fail-line').css('display', 'none');
        $('#failTB').remove();
        $('#failDiv').html(`<h4 style='margin-left: 15px'>รายการที่ไม่สำเร็จ</h4>
                            <div class="col-md-2 col-xs-12"></div>
                            <div class="col-md-8 col-xs-12">
                                <table id="failTB" class="table table-striped table-bordered" >
                                    <thead id="failheader">
                                        <th class='text-center'>SKCODE</th>
                                        <th class='text-center'>SDATE</th>
                                        <th class='text-center'>EDATE</th>
                                        <th class='text-center'>MSG</th>
                                    </thead>
                                    <tbody id="failbody">
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-2 col-xs-12"></div>`);
        $('#failDiv').hide();

    }

    function clearAll() {
        clearInputFile(inpfile);
        clearTable();
        clearTableFail();
        $('#btnAll').hide();
        $('#btnProcess').removeAttr("disabled");
        clearTableCheck();
        $('#stdonweb').val('');
        $('#chkDiv').hide();
        $('#importDiv').hide();
        $('#stdonweb').removeAttr('disabled');
        $('#btncheckdiv').show();
        $('#btncheck').val('show');
        $('#btncheck').text('ตรวจสอบข้อมูล');
        $('#uploaddiv').show();

        if ($('#btncheck').hasClass('btn-info')){
            $('#btncheck').removeClass('btn-info');
            $('#btncheck').addClass('btn-primary');
        }
    }

    function getDemofile(obj){
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'SKU Except - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }
</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }

    .delete-action:hover {  	 
        cursor: hand;	 
    }
</style>
<div class="container-fluid">
    <div class="row" style='margin: 15px;'>
        <h3>SKU Except on Web</h3>
    </div>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <pre><h5>You can import SKU Except by excel file and must have content like this:</h5><h4>SKCODE, SDATE [Format: yyyyMMdd], EDATE[Format: yyyyMMdd]</h4></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-5 col-xs-12 " style='margin-top:10px;' >
            <div class="col-md-12 layout-left" style="padding-right: 0px;" >
                <label style="font-size: larger;">กรุณาเลือกเว็บ </label>
                <select id="stdonweb" class='form-control'>
                    <option value=''>เลือกเว็บ</option>
                </select>
            </div>
        </div>
        <div class='col-md-3 col-sm-5 col-xs-12' style='margin-top:10px;' id='uploaddiv'>
            <label for="inpfile">เลือกไฟล์ที่ต้องการอัพโหลด</label>
            <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
        </div>
    </div>
    <div class="row">
        <div class='col-md-3 col-sm-5 col-xs-12' style='margin-top:10px;' id='btncheckdiv'>
            <button class='btn btn-primary' id='btncheck' onclick='showSKUExcept(this)' value='show'>ตรวจสอบข้อมูล</button>
            <button class='btn btn-success' onclick='getDemofile(this);' style='margin-left: 10px;'>Demo File</button>
        </div>
    </div><hr>
    <div class="row " id="chkDiv" style='margin-top:10px; margin-bottom: 30px;' hidden>
        <h4 style='margin-left: 15px'>รายการที่ท่านต้องการตรวจสอบข้อมูล</h4>
        <div class="col-md-12 col-xs-12">
            <table id="chkTB" class="table table-striped table-bordered" >
                <thead id="chkheader">
                    <th class='text-center'>SKCODE</th>
                    <th class='text-center'>SDATE</th>
                    <th class='text-center'>EDATE</th>
                    <th class='text-center'>BYCODE</th>
                    <th class='text-center'>CREATED BY</th>
                    <th class='text-center'>CREATED DATE</th>
                    <th class='text-center' style='width: 100px'><button class='btn btn-danger' id='btn-delete-all' onclick='deletAllSKUExcept(this);'><i class="fa fa-trash" aria-hidden="true"> Delete All</i></button></th>
                </thead>
                <tbody id="chkbody">
                </tbody>
            </table>
        </div>
    </div>
    <div class="row " id="importDiv" style='margin-top:10px; margin-bottom: 30px;' hidden>
        <h4 style='margin-left: 15px'>รายการที่ท่านต้องการอัพโหลดข้อมูล</h4>
        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-8 col-xs-12">
            <table id="importTB" class="table table-striped table-bordered" >
                <thead id="header">
                    <th class='text-center'>SKCODE</th>
                    <th class='text-center'>SDATE</th>
                    <th class='text-center'>EDATE</th>
                </thead>
                <tbody id="body">
                </tbody>
            </table>
        </div>
        <div class="col-md-2 col-xs-12"></div>
    </div>
    <div class="row" style="margin:10px 0px 20px 0px;" id="btnAll" hidden>
        <div class=" col-md-12 "  >
            <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
            <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
        </div>
    </div><hr id='fail-line' style='display: none;'>
    <div class="row " id="failDiv" style='margin-top:10px; margin-bottom: 30px;' hidden>
        <h4 style='margin-left: 15px'>รายการที่ไม่สำเร็จ</h4>
        <div class="col-md-2 col-xs-12"></div>
        <div class="col-md-8 col-xs-12">
            <table id="failTB" class="table table-striped table-bordered" >
                <thead id="failheader">
                    <th class='text-center'>SKCODE</th>
                    <th class='text-center'>SDATE</th>
                    <th class='text-center'>EDATE</th>
                    <th class='text-center'>MSG</th>
                </thead>
                <tbody id="failbody">
                </tbody>
            </table>
        </div>
        <div class="col-md-2 col-xs-12"></div>
    </div><br>
    <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
        <div class="col-md-12">
            <table id="demo-TB" class="table table-striped table-bordered" >
                <thead id="demo-header">
                    <tr>
                        <th>SKCODE</th>
                        <th>SDATE</th>
                        <th>EDATE</th>
                    </tr>
                </thead>
                <tbody id="demo-body">
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div><br>
</div>