<script>
    function process() {
        var userid = readCookie('WUSERID');
        var table = $('#importTB').DataTable();

        if (table.rows().data().length == 0) {
            swalConfirm('warning', 'เงื่อนไข!!!',
                'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
            clearAll();
            return;
        }

        var count = 0;
        var sku, qty, sdate, edate;
        for (i = 0; i < table.rows().data().length; i++) {
            sku = ((table.rows().data())[i])[0];
            qty = ((table.rows().data())[i])[1];
            sdate = ((table.rows().data())[i])[2];
            edate = ((table.rows().data())[i])[3];
            var qry = `EXEC TWDPIM..updateSkuLimitQty '${sku}', '${qty}', '${sdate}', '${edate}', '${userid}'`;
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                //console.log(ret);
                var jsn = JSON.parse(ret);
                if (jsn.dbcode == 888) {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    return;
                }
            });
            ++count;
        }

        swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
        $('#btnProcess').attr('disabled', true);
        clearInputFile(inpfile);
    }

    function handleFileSelect(evt) {
        clearTable();
        $('#btnProcess').removeAttr("disabled");
        console.log('File is selected  ')
        var tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }
        // files is a FileList of File objects. List some properties.
        var jsntotalsku = "";
        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];
            var XL_row_object = XLSX.utils.sheet_to_row_object_array(worksheet);
            $('#header').html(`<tr>
                                    <th width="200">SKU</th>
                                    <th>QTY</th>
                                    <th width="200">SDATE</th>
                                    <th width="200">EDATE</th>
                                </tr>`);
            var detail = '';
            var sku, qty, sdate, edate;
            for (i = 0; i < XL_row_object.length; i++) {
                sku = (XL_row_object[i].SKU != null) ? XL_row_object[i].SKU : '';
                qty = (XL_row_object[i].QTY != null) ? XL_row_object[i].QTY : '';
                sdate = (XL_row_object[i].SDATE != null) ? XL_row_object[i].SDATE : '';
                edate = (XL_row_object[i].EDATE != null) ? XL_row_object[i].EDATE : '';

                if (sku == '' || qty == '' || sdate == '' || edate == '') {
                    qty = (qty == '') ? 'ว่าง' : qty;
                    sdate = (sdate == '') ? 'ว่าง' : sdate;
                    edate = (edate == '') ? 'ว่าง' : edate;
                    swalConfirm('warning', 'กรุณาตรวจสอบไฟล์!!!', 'กรุณาระบุข้อมูลให้ครบถ้วนก่อนการอัพโหลด\r\n(SKU: ' + sku + ', QTY: ' + qty + ', SDATE: ' + sdate + ', EDATE: ' + edate + ')');
                    clearAll();
                    return;
                }
                if (qty == '' || parseFloat(qty).toFixed(2) <= 0) {
                    swalConfirm('warning', 'กรุณาตรวจสอบไฟล์!!!', 'QTY ของแต่ละ SKU ต้องมากกว่า 0\r\n(SKU: ' + sku + ', QTY: ' + qty + ')');
                    clearAll();
                    return;
                }

                detail += `<tr>
                                <td>${sku}</td>
                                <td style='text-align:right;' class='numeric'>${qty}</td>
                                <td>${sdate}</td>
                                <td>${edate}</td>
                            </tr>`;
            }
            $('#body').html(detail);
            $('#importTB').DataTable({
                sDom: 'lrtip'
            });
            $('#btnAll').show();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<table id="importTB" class="table table-striped table-bordered">
                                  <thead id="header">

                                  </thead>
                                  <tbody id="body">

                                  </tbody>
                              </table>`);
    }

    function clearAll() {
        clearInputFile(inpfile);
        clearTable();
        $('#btnAll').hide();
        $('#btnProcess').removeAttr("disabled");
    }

    $('#btnShowData').on('click', function () {
        var val = $('#btnShowData').val();
        if(val == 'show'){
            $('#btnShowData').html('Hide All SKU');
            $('#btnShowData').val('hide');
        } else {
            $('#btnShowData').html('Show All SKU');
            $('#btnShowData').val('show');
        }

        if(val == 'show'){
            getAllDetail();
        } else {
            clearShowDetail();
        }
    })

    function getAllDetail(){
        var qry = `SELECT SKCODE, LIMITQTY, CONVERT(nvarchar(10),SDATE,103) as SDATE, CONVERT(nvarchar(10),EDATE,103) as EDATE FROM TWDCATALOG..SKULIMITQTY`;
            ajaxGetQuery(qry, (isok, ret) => {
                var jsn = JSON.parse(ret);
                var synbody = '';
                if(isok){
                    if(jsn.dbrows > 0){
                        for(i = 0; i < jsn.dbrows; i++){
                            synbody += `<tr>
                                            <td>${jsn.dbitems[i].SKCODE}</td>
                                            <td style='text-align:right;' class='numeric'>${jsn.dbitems[i].LIMITQTY}</td>
                                            <td>${(jsn.dbitems[i].SDATE != null) ? jsn.dbitems[i].SDATE : ''}</td>
                                            <td>${(jsn.dbitems[i].EDATE != null) ? jsn.dbitems[i].EDATE : ''}</td>
                                            <td class='delete-action' ><center><img src='../images/delete-button.png' onclick="javascript:deleteDetail('${jsn.dbitems[i].SKCODE}')"></center></td>
                                        </tr>`;
                        }
                        $('#dtlbody').html(synbody);
                        $('#dtlTB').DataTable();
                        $('#dtlDiv').show();
                    } else {
                        swalConfirm('error', 'No Data!!!', '');
                        $('#btnShowData').html('Show All SKU');
                        $('#btnShowData').val('show');
                    }
                }else {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                }
            })
    }

    function clearShowDetail(){
        $('#dtlTB').remove();
        $('#dtlDiv').html(`<div class="col-md-6 col-xs-6" style="margin:0px; padding-left:0px;" >
                                <table id="dtlTB" class="table table-striped ">
                                    <thead id="dtlheader">
                                        <tr>
                                            <th width="200">SKU</th>
                                            <th>QTY</th>
                                            <th width="200">SDATE</th>
                                            <th width="200">EDATE</th>
                                            <th width="200" style="text-align: center;">DELETE ALL <img src='../images/delete-button.png' onclick="javascript:deleteLmtQtyAllSKU();"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="dtlbody">
                    
                                    </tbody>
                                </table>
                            </div>`);
        $('#dtlDiv').hide();
    }

    function deleteDetail(skcode) {
        swal({
          title: "Do you want to delete?",
          text: "Limit Qty of SKU: " + skcode,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
            var qry = `delete TWDCATALOG..SKULIMITQTY where SKCODE = '${skcode}'`;
            var pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                if(isok) {
                  swalAl("success", "Successful", 'Deleted Successfully.');
                  clearShowDetail();
                  $('#btnShowData').html('Show All SKU');
                  $('#btnShowData').val('show');
                  $('#btnShowData').click();
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function deleteLmtQtyAllSKU(){
        swal({
          title: "Do you want to delete?",
          text: 'All SKUs!',
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
            var qry = `delete TWDCATALOG..SKULIMITQTY`;
            var pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                if(isok) {
                  swalAl("success", "Successful", 'Deleted Successfully.');
                  clearShowDetail();
                  $('#btnShowData').html('Show All SKU');
                  $('#btnShowData').val('show');
                  $('#btnShowData').click();
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function getDemofile(obj){
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'SKU Limit Per Basket - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }

</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }

    .delete-action:hover {  	 
        cursor: hand;	 
    }
</style>
<div class="container-fluid">
    <div class="container-fluid">
        <h3>Import SKU Limit Per Basket</h3>
        <pre><h5>You can import SKU Limit Per Basket by excel file and must have content like this:</h5><h4>SKU, QTY, SDATE, EDATE</h4><h5>Remarks: Format of SDATE and EDATE must be "yyyyMMdd".</h5></pre>
        <div class="row" style="margin:0px;">
            <button class="btn btn-info" id="btnShowData" value="show">Show All SKU</button>
            <button class='btn btn-success' onclick='getDemofile(this);' style='margin-left: 10px;'>Demo File</button>
        </div><br>
        <div class="row " id="dtlDiv" style="margin:0px;" hidden>
            <div class="col-md-6 col-xs-6" style="margin:0px; padding-left:0px;" >
                <table id="dtlTB" class="table table-striped ">
                    <thead id="dtlheader">
                        <tr>
                            <th width="200">SKU</th>
                            <th>QTY</th>
                            <th width="200">SDATE</th>
                            <th width="200">EDATE</th>
                            <th width="200" style="text-align: center;">DELETE ALL <img src='../images/delete-button.png' onclick="javascript:deleteLmtQtyAllSKU();"></th>
                        </tr>
                    </thead>
                    <tbody id="dtlbody">
                        
                    </tbody>
                </table>
            </div>
        </div><br>
        <div class="row" style="margin:0px;">
            <label for="inpfile">กรุณาเลือกไฟล์</label>
            <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
        </div><br>
        <div class="row col-md-6 layout-left" id="importDiv" style="margin:0px;">
            <table id="importTB" class="table table-striped table-bordered">
                <thead id="header">

                </thead>
                <tbody id="body">

                </tbody>
            </table>
        </div>
        <div class="row" style="margin:0px;" id="btnAll" hidden>
            <div class=" col-md-12 layout-left"  >
                <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
                <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
            </div>
        </div><br>
        <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
            <div class="col-md-12">
                <table id="demo-TB" class="table table-striped table-bordered" >
                    <thead id="demo-header">
                        <tr>
                            <th>SKU</th>
                            <th>QTY</th>
                            <th>SDATE</th>
                            <th>EDATE</th>
                        </tr>
                    </thead>
                    <tbody id="demo-body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
    </div>
</div>