<script>
    var skus = '';
    var count = 0;
    function handleFileSelect(evt) {
        clearTable();
        clearTableFail();
        skus = '';
        count= 0;
        $('#btnProcess').removeAttr("disabled");
        console.log('File is selected  ')
        var tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }
        // files is a FileList of File objects. List some properties.
        var jsntotalsku = "";
        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];
            var XL_row_object = XLSX.utils.sheet_to_row_object_array(worksheet);
            var header = `<tr><th width="150">SKU</th></tr>`;
            var detail = '';
            var sku;
            for (var i = 0; i < XL_row_object.length; i++) {
                sku = XL_row_object[i].SKU;
                if(sku == ''){
                    swalConfirm('warning', 'Upload Failed!', 'กรุณาตรวจสอบไฟล์ เนื่องจากมี SKU ที่เป็นค่าว่าง');
                    clearAll();
                    return;
                }
                sku = sku.trim();
                if(detail.includes(`<td>${sku}</td>`)){
                    continue;
                }else{
                    detail += `<tr><td>${sku}</td></tr>`;
                    skus += `${sku},`
                    count++;
                }
            }
            skus = skus.substring(0, skus.length - 1);
            $('#header').html(header);
            $('#body').html(detail);
            $('#importTB').DataTable({
                sDom: 'lrtip'
            });
            $('#btnAll').show();
            $('.line').css('display', 'block');
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    function process() {
        var userid = readCookie('WUSERID');
        var qry = `exec TWDPIM..execSkuSpecial 'update', '${skus}', '${userid}'`;
        var pdata = {
            query: qry
        }
        var countfail = 0;
        ajaxExec(pdata, function (isok, ret) {
            var jsn = JSON.parse(ret);
            if (jsn.dbcode == 888) {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                clearAll();
                return;
            } else {
                if(jsn.dbrows > 0) {
                    var header = '<tr><th>SKU</th><th>Reason</th></tr>'
                    var body = '';
                    countfail = jsn.dbrows;
                    for(var i = 0; i<jsn.dbrows; i++){
                        body += `<tr><td>${jsn.dbitems[i].sku}</td><td>${jsn.dbitems[i].reason}</td></tr>`;
                    }
                    $('#headerfail').html(header);
                    $('#bodyfail').html(body);

                    $('#importfailTB').DataTable({
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'excel',
                            title: null
                        }],
                        "searching": false
                    });

                    $('#importfailDiv').show();
                }
            }
            swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + (count - countfail) + ' แถว');
            $('#btnProcess').attr('disabled', true);
            clearInputFile(inpfile);
        });

        
    }

    function showSkuSpecial(){
        var val = $('#btnShowData').val();
        if(val == 'show'){
            $('#btnShowData').html('Hide');
            $('#btnShowData').val('hide');
        } else {
            $('#btnShowData').html('Show All SKU Special');
            $('#btnShowData').val('show');
        }

        if(val == 'show'){
            getAllDetail();
        } else {
            clearShowDetail();
        }
    }

    function getAllDetail(){
        var qry = `exec TWDPIM..execSkuSpecial 'getall'`;
            ajaxGetQuery(qry, (isok, ret) => {
                var jsn = JSON.parse(ret);
                var synbody = '';
                if(isok){
                    if(jsn.dbrows > 0){
                        for(i = 0; i < jsn.dbrows; i++){
                            synbody += `<tr>
                                            <td>${jsn.dbitems[i].SKCODE}</td>
                                            <td>${jsn.dbitems[i].CREATEUSER}</td>
                                            <td>${jsn.dbitems[i].INSDATE}</td>
                                            <td class='delete-action' ><center><img src='../images/delete-button.png' onclick="javascript:deleteSku('${jsn.dbitems[i].SKCODE}')"></center></td>
                                        </tr>`;
                        }
                        $('#dtlbody').html(synbody);
                        $('#dtlTB').DataTable();
                        $('#dtlDiv').show();
                        var table = $('#dtlTB').DataTable();
                        table
                            .order( [ 2, 'asc' ] )
                            .draw();
                    } else {
                        swalConfirm('error', 'No Data!!!', '');
                        $('#btnShowData').html('Show All SKU Special');
                        $('#btnShowData').val('show');
                    }
                }else {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                }
            })
    }

    function deleteSku(skcode) {
        swal({
          title: "Do you want to delete?",
          text: "SKU: " + skcode,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
            var qry = `exec TWDPIM..execSkuSpecial 'delete', '${skcode}'`;
            var pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                if(isok) {
                  swalAl("success", "Successful", 'Deleted Successfully.');
                  clearShowDetail();
                  $('#btnShowData').html('Show All SKU Special');
                  $('#btnShowData').val('show');
                  $('#btnShowData').click();
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function deleteAllSkuSpecial(){
        swal({
          title: "Do you want to delete all?",
          text: '',
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
            var qry = `exec TWDPIM..execSkuSpecial 'delall'`;
            var pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                if(isok) {
                  swalAl("success", "Successful", 'Deleted Successfully.');
                  clearShowDetail();
                  $('#btnShowData').html('Show All SKU Special');
                  $('#btnShowData').val('show');
                  $('#btnShowData').click();
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function clearShowDetail(){
        $('#dtlTB').remove();
        $('#dtlDiv').html(`<div class="col-md-7 col-xs-12" style="margin:0px; padding:0px;" >
                            <table id="dtlTB" class="table table-striped table-bordered">
                                <thead id="dtlheader">
                                    <tr>
                                        <th width="150" class='text-center'>SKU</th>
                                        <th width="200" class='text-center'>Created By</th>
                                        <th width="200" class='text-center'>Created Date</th>
                                        <th width="200" class='text-center delete-action'>Delete All <img src='../images/delete-button.png' onclick="javascript:deleteAllSkuSpecial();"></th>
                                    </tr>
                                </thead>
                                <tbody id="dtlbody">
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="col-md-5 col-xs-12"></div>`);
        $('#dtlDiv').hide();
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<table id="importTB" class="table table-striped table-bordered">
                                  <thead id="header">

                                  </thead>
                                  <tbody id="body">

                                  </tbody>
                              </table>`);
    }

    function clearTableFail() {
        $('#importfailTB').remove();
        $('#importfailDiv').html(`<h4>รายการที่ไม่สามารถนำเข้าข้อมูลได้</h4>
                                <table id="importfailTB" class="table table-striped table-bordered">
                                    <thead id="headerfail">

                                    </thead>
                                    <tbody id="bodyfail">

                                    </tbody>
                                </table>`);
        $('#importfailDiv').hide();
    }

    function clearAll() {
        clearInputFile(inpfile);
        clearTable();
        clearTableFail();
        $('#btnAll').hide();
        $('#btnProcess').removeAttr("disabled");
        $('.line').css('display', 'none');
    }

    function getDemofile(obj){
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'SKU Special - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }
</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }

    .delete-action:hover {  	 
        cursor: hand;	 
    }
</style>
<div class="container-fluid">
    <div class="container-fluid">
        <h3>Import SKU Special</h3>
        <pre><h5>You can import SKU Special by excel file and must have content SKU in your file.</h5></pre>
        <div class="row" style="margin:0px;">
            <form action="javascript:showSkuSpecial()">
                <button type='submit' class="btn btn-info" id="btnShowData" value="show" onclick='this.blur()'>Show All SKU Special</button>
                <button class='btn btn-success' onclick='getDemofile(this);' style='margin-left: 10px;'>Demo File</button>
            </form>
        </div><br>
        <div class="row " id="dtlDiv" style="margin:0px;" hidden>
            <div class="col-md-7 col-xs-12" style="margin:0px; padding:0px;" >
                <table id="dtlTB" class="table table-striped table-bordered">
                    <thead id="dtlheader">
                        <tr>
                            <th width="150" class='text-center'>SKU</th>
                            <th width="200" class='text-center'>Created By</th>
                            <th width="200" class='text-center'>Created Date</th>
                            <th width="200" class='text-center delete-action'>Delete All <img src='../images/delete-button.png' onclick="javascript:deleteAllSkuSpecial();"></th>
                        </tr>
                    </thead>
                    <tbody id="dtlbody">
                        
                    </tbody>
                </table>
            </div>
            <div class="col-md-5 col-xs-12"></div>
        </div><hr>
        <div class="row" style="margin:0px;">
            <label for="inpfile">กรุณาเลือกไฟล์</label>
            <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
        </div><br>
        <div class="row col-md-5 layout-left" id="importDiv" style="margin:0px; padding:0px">
            <table id="importTB" class="table table-striped table-bordered">
                <thead id="header">

                </thead>
                <tbody id="body">

                </tbody>
            </table>
        </div>
        <div class="row" style="margin:0px;" id="btnAll" hidden>
            <div class=" col-md-12 layout-left"  >
                <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
                <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
            </div>
        </div><hr class='line' style='display: none;'>
        <div class="row col-md-5 layout-left" id="importfailDiv" style="margin:0px; padding:0px" hidden>
            <h4>รายการที่ไม่สามารถนำเข้าข้อมูลได้</h4>
            <table id="importfailTB" class="table table-striped table-bordered">
                <thead id="headerfail">

                </thead>
                <tbody id="bodyfail">

                </tbody>
            </table>
        </div><br>
        <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
            <div class="col-md-12">
                <table id="demo-TB" class="table table-striped table-bordered" >
                    <thead id="demo-header">
                        <tr>
                            <th>SKU</th>
                        </tr>
                    </thead>
                    <tbody id="demo-body">
                        <tr>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
    </div>
</div>