<script>
  var showExport = false;

  $(document).ready(() => {
    getStdOnWeb();

  })

  function getStdOnWeb() {
    var qry = `Select BYCODE,BYNAME from TWDPIM..CATBYUNAME order by recid`; //`select WEBNAME from TWDPIM..STDONWEB`;
    ajaxGetQuery(qry, (isok, ret) => {
      var jsn = JSON.parse(ret);
      if (jsn.dbcode == 0) {
        for (i = 0; i < jsn.dbrows; i++) {
          $("#stdonweb").append(
            `<option value='${jsn.dbitems[i].BYCODE}'>${jsn.dbitems[i].BYNAME}</option>`
          );
        }
      } else {
        swalConfirm('error', 'Failed!!!', jsn.dbmessage);
        return
      }
    })
  }

  function changeweb() {
    var web = $('#stdonweb').val();
    clearTable()
    $('#getsubcatinput').html(`<option value=''>เลือก Subcat</option>`);
    if (web != '') {
      var qry =
        `SELECT DISTINCT c.class AS CLASS,
                    ISNULL(cu2.CATNAME + ' >> ', '') + ISNULL(cu1.CATNAME + ' >> ', '') + ISNULL(cu.CATNAME,'') AS NAME
            FROM TWDPIM..CATPRODUCT2 c
            JOIN CLOUDPOS..EPROD e ON c.skcode = e.sk_code 
            LEFT JOIN TWDPIM..CATDEPT_UCAT cu ON SUBSTRING(c.class,1,2) + '000000' = cu.catcode and cu.bycode = c.BYCODE
            LEFT JOIN TWDPIM..CATSUBDEPT_UCAT cu1 ON SUBSTRING(c.class,1,4) + '0000' = cu1.catcode and cu1.bycode = c.BYCODE
            LEFT JOIN TWDPIM..CATCLASS_UCAT cu2 ON SUBSTRING(c.class,1,6) + '00' = cu2.catcode and cu2.bycode = c.BYCODE
            LEFT JOIN TWDPIM..product p ON p.SKCODE = c.SKCODE
            LEFT JOIN CLOUDPOS..EPRODUCT e2 ON e2.SK_CODE = p.SKCODE AND e2.PR_CODE = p.prCode
            WHERE c.BYCODE = '${web}'
            ORDER BY c.class`
      var pdata = {
        query: qry
      }
      ajaxExec(pdata, function (isok, ret) {
        if (isok) {
          var jsn = JSON.parse(ret);
          for (i = 0; i < jsn.dbitems.length; i++) {
            $('#getsubcatinput').append(
              `<option value='${jsn.dbitems[i].CLASS}'>${jsn.dbitems[i].CLASS} (${jsn.dbitems[i].NAME})</option>`
            );
          }
        }
      })
      $('#getsubcatinput').select2({
        placeholder: 'เลือก Class'
      });

      $('#getsubcatinput').removeAttr('disabled');
    } else {
      $('#getsubcatinput').attr('disabled', true);
    }
  }

  function exportExcel(obj) {
    obj.blur();
    var canExport = (document.getElementById('showTB').rows.length > 1) ? true : false;
    if (!canExport) {
      swalConfirm('warning', "กรุณาระบุ Subcat \r\nที่จะทำการ Export ข้อมูล", '');
      return;
    }
    // $('#showTB').DataTable({
    //   dom: 'Bfrtip',
    //   buttons: [
    //     'copy', 'csv', 'excel', 'pdf', 'print'
    //   ]
    // })
    var cat = $('#getsubcatinput').val();
    var catname = '';
    if (cat.substring(2, 6) == '0000') {
      catname = $('#showTB tbody tr:eq(0) td:eq(5)').text().trim();
    } else if (cat.substring(4, 6) == '00') {
      catname = $('#showTB tbody tr:eq(0) td:eq(7)').text().trim();
    } else {
      catname = $('#showTB tbody tr:eq(0) td:eq(9)').text().trim();
    }
    catname = catname.replace(/\\/g, '').replace(/\//g, '').replace(/\:/g, '').replace(/\:/g, '').replace(/\*/g, '_')
      .replace(/\?/g, '').replace(/\"/g, '').replace(/\</g, '').replace(/\>/g, '').replace(/\|/g, '').replace(/\&/g,
        '_')
    if (showExport) {
      $(function () {

        TableExport.prototype.charset = "charset=utf-8";
        var tableExporter = $('#showTB').tableExport({
          formats: ["xlsx"],
          bootstrap: false,
          exportButtons: true,
          filename: cat + ' - ' + catname,
          ignoreRows: null,
          ignoreCols: null,
          trimWhitespace: true,
          RTL: false
        });
        tableExporter.typeConfig.date.assert = function (v) {
          return false;
        };
        tableExporter.typeConfig.string.assert = function (v) {
          return true;
        };
        tableExporter.typeConfig.number.assert = function (v) {
          return false;
        };
        tableExporter.typeConfig.boolean.assert = function (v) {
          return false;
        };
      });
      xlsbtn = $('.xlsx');
      xlsbtn.click();
      document.getElementById("showTB").deleteCaption();
      showExport = false;
    }
  }

  function clearTable() {
    $('#showTB').html('');
    $('#showTB').html(`
      <thead id="showHeadMain"></thead>
      <tbody id="showBODY"></tbody>
      `);
  }

  function ckstart(obj) {
    obj.blur();
    var web = $('#stdonweb').val();
    var value = $("#getsubcatinput").val();
    var type = $('#type').val();
    if (web == '') {
      swalConfirm('warning', "กรุณาระบุ Category", '');
      return
    }
    if (value.length == 6) {
      showExport = true;
      clearTable();
      startload(web, type);
    } else {
      swalConfirm('warning', "กรุณาใส่ Sub Class 6 หลัก ครับ", '');
    }
  }

  function startload(web, type) {
    var sub = $("#getsubcatinput").val();
    $("#showHeadMain").html(`
        <tr id="showHEAD">
            <th>SubClass Code</th>
            <th>Product Name</th>
            <th>Price</th>
            <th>RANKING</th>
            <th>SPU</th>
            <th>SPUNAME</th>
            <th>DEPT</th>
            <th>NAME</th>
            <th>SUBDEPT</th>
            <th>SDNAME</th>
            <th>CLASS</th>
            <th>CLNAME</th>
            <th>SKCODE</th>


        </tr>`)
    getHead(web, sub, type);
  }

  function getHead(web, sub, type) {

    var qry = `exec TWDPIM.dbo.[getReportTWD_FilterByLV3] '${sub}','header',${type},'${web}'`;
    ajaxGetQuery(qry, function (isok, ret) {
      if (isok) {
        var jsn = JSON.parse(ret);
        if (jsn.dbrows !== 0) {
          for (i = 0; i < jsn.dbitems.length; i++) {
            $("#showHEAD").append(`<th>${jsn.dbitems[i].PropName}</th>`)
          }
          getBody(web, sub, jsn.dbitems.length, type);
        }
      }
    });
  }

  function getBody(web, sub, propLength, type) {

    var qry = `exec TWDPIM.dbo.[getReportTWD_FilterByLV3] '${sub}','detail',${type},'${web}'`;
    ajaxGetQuery(qry, function (isok, ret) {
      if (isok) {
        var jsn = JSON.parse(ret);
        if (jsn.dbrows !== 0) {
          for (i = 0; i < jsn.dbitems.length; i++) {
            var htmltxt = "";
            $("#showBODY").append(`
                           <tr id="showinBODY${i}">
                                <td>${jsn.dbitems[i].SubClassCode}</td>
                                <td>${jsn.dbitems[i].ProductName}</td>
                                <td style="text-align: right;">${(jsn.dbitems[i].Price).toFixed(2)}</td>
                                <td style="text-align: right;" class="numeric">${(jsn.dbitems[i].Ranking == 99) ? '' : jsn.dbitems[i].Ranking}</td>
                                <td>${jsn.dbitems[i].SPUCODE}</td>
                                <td>${jsn.dbitems[i].SPUNAME}</td>
                                <td>${jsn.dbitems[i].DEPT}</td>
                                <td>${jsn.dbitems[i].NAME}</td>
                                <td>${jsn.dbitems[i].SUBDEPT}</td>
                                <td>${jsn.dbitems[i].SDNAME}</td>
                                <td>${jsn.dbitems[i].CLASS}</td>
                                <td>${jsn.dbitems[i].CLNAME}</td>
                                <td>${jsn.dbitems[i].SKCODE}</td>
                            </tr>
                            `)
            for (j = 1; j <= propLength; j++) {
              htmltxt += `<td class="cknull">${jsn.dbitems[i]["PROP"+j]}</td>`;
            }
            $("#showinBODY" + i).append(htmltxt);
          }
          $(".cknull").each(function (index) {

            if ($(this).text() == 'null') {
              $(this).remove();
            }

          });
        } else {
          $("#showBODY").append(
            `<tr><td colspan="${11 + propLength}" class='text-center'>No Data From DB</td></tr>`);
        }
      }
    });

  }
</script>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="row">
        <div class="col-md-3 col-xs-12" style='margin-top: 10px;'>
          <div class="row">
            <label for="stdonweb">เลือก Category</label>
            <select name="stdonweb" id="stdonweb" class='form-control' onchange='changeweb();'>
              <option value=''>เลือก Category</option>
            </select>
          </div>
        </div>
        <div class="col-md-4 col-xs-12" style='margin-top: 10px;'>
          <div class="row">
            <label>กรุณาระบุ Subcat: </label>
            <select name='getsubcatinput' id='getsubcatinput' class="form-control" disabled="disabled"
              style="font-family: 'kittithadabold75regular'; color:black; background-color: white;border-radius: 4px; width: 100%;">
              <option value=''>เลือก Subcat</option>
            </select>
          </div>
        </div>
        <div class="col-md-2 col-xs-12" style='margin-top: 10px;'>
          <div class="row">
            <label>Type Report</label>
            <select id='type' class='form-control'>
              <option value='0' selected>On Web</option>
              <option value='1'>All</option>
            </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 col-xs-12">
      <div class="row">
        <div class="col-md-12 col-xs-12" style='margin-top: 10px;'>
          <div class="row"></div>
          <button class="btn btn-primary" onclick="ckstart(this);">Submit</button>
          <button class="btn btn-success" onclick="exportExcel(this);">Export</button>
        </div>
      </div>
    </div>
  </div>
</div>
</div>



<div class="row" style='margin-top: 20px;' id="showTBDIV">
  <table id="showTB" class="table table-striped table-bordered" style="width:100%">
    <thead id="showHeadMain">

    </thead>
    <tbody id="showBODY">

    </tbody>
  </table>
</div>
</div>