<script>
    function pageReady() {
        getStdOnWeb();
    }

    function changeweb(){
        clearTable();
    }

    function getStdOnWeb(){
        var qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if(jsn.dbcode == 0){
                for (i = 0; i<jsn.dbrows; i++) {
                    $("#stdonweb").append(`<option value='${(jsn.dbitems[i].WEBNAME == 'TWD' ? '28LV' : 'BNB1')}'>${jsn.dbitems[i].WEBNAME}</option>`);
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return
            }
        })
    }

    function search(obj){
        obj.blur();
        var web = $('#stdonweb').val();
        if(web == ''){
            swalConfirm('warning', 'กรุณาเลือกเว็บเพื่อค้นหาข้อมูล', '');
            return
        }

        var type = $('#type').val();
        clearTable()
        if(type == 0){
            getDataOnWeb(web)
        } else {
            getDataAll(web)
        }
    }

    function getDataOnWeb(web) {
        $('#imageload').html(waitimg);
        $('#imageload').show()

        var qry = `exec TWDPIM..Rep_SKUinCATPRODUCT 'ONWEB', '${web}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (isok) {
                var body = '';
                var header = '';
                var keys = Object.keys(jsn.dbfields[0]);
                keys.map((itm) => {header += `<th>${itm}</th>`});
                header = `<tr>${header}</tr>`;
                $('#showHEAD').html(header);
                for (var i = 0; i < jsn.dbrows; i++) {
                    var det = '';
                    var values = Object.values(jsn.dbitems[i]);
                    values.map((itm) => {det += `<td>${itm}</td>`});
                    det = `<tr>${det}</tr>`;
                    body += det;
                }
                $('#showBODY').html(body);
                var tb = $('#showTB').DataTable({
                    dom: 'Bfrtip',
                    buttons: [{
                        extend: 'excel',
                        filename: 'SKU in Web of ' + web,
                        title: null
                    }],
                    "searching": true,
                    "pageLength": 1000
                });
                $('#imageload').hide()
                $('#showTBDIV').show()
            }
        })
    }

    function getDataAll(web) {
        $('#imageload').html(waitimg);
        $('#imageload').show()

        var qry = `exec TWDPIM..Rep_SKUinCATPRODUCT 'ALL', '${web}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (isok) {
                var body = '';
                var header = '';
                var keys = Object.keys(jsn.dbfields[0]);
                keys.map((itm) => {header += `<th>${itm}</th>`});
                header = `<tr>${header}</tr>`;
                $('#showHEAD').html(header);
                for (var i = 0; i < jsn.dbrows; i++) {
                    var det = '';
                    var values = Object.values(jsn.dbitems[i]);
                    values.map((itm) => {det += `<td>${itm}</td>`});
                    det = `<tr>${det}</tr>`;
                    body += det;
                }
                $('#showBODY').html(body);
                var tb = $('#showTB').DataTable({
                    dom: 'Bfrtip',
                    buttons: [{
                        extend: 'excel',
                        filename: 'SKU in Web of' + web,
                        title: null
                    }],
                    "searching": true,
                    "pageLength": 1000
                });
                $('#imageload').hide()
                $('#showTBDIV').show()
            }
        })
    }

    function clearTable(){
        $('#showTB').remove();
        $('#showTBDIV').html(`<table id="showTB" class="table table-striped table-bordered" style="width:100%">
                                <thead id='showHEAD'>

                                </thead>
                                <tbody id="showBODY">

                                </tbody>
                            </table>`)
        $('#showTBDIV').hide()
    }
</script>

<div class="container-fluid">
    <h3>SKU in Web</h3>
    <div class="container-fluid">
        <div class="row" style='padding:0px;'>
            <div class="col-md-3 col-xs-12" style='margin-top: 10px;'>
                <div class="row">
                  <label for="stdonweb">เลือกเว็บ</label>
                  <select name="stdonweb" id="stdonweb" class='form-control' onchange='changeweb();'>
                      <option value=''>เลือกเว็บ</option>
                  </select>
                </div>
              </div>
            <div class="col-md-2 col-xs-12" style='margin-top: 10px;'>
                <label>Type Report</label>
                <select id='type' class='form-control'>
                    <option value='0' selected>On Web</option>
                    <option value='1'>All</option>
                </select>
            </div>
        </div><br>
        <div class="row" style='padding:0px;'>
            <div class="col-xs-12">
                <button class='btn btn-primary' onclick='search(this)'>Submit</button>
            </div>
        </div>
        <hr>
        <div class='row' id='imageload' hidden>

        </div>
        <div class="row" id="showTBDIV" hidden>
            <table id="showTB" class="table table-striped table-bordered" style="width:100%">
                <thead id='showHEAD'>

                </thead>
                <tbody id="showBODY">

                </tbody>
            </table>
        </div>
    </div>
</div>