<script>
    function pageReady() {
        getStdOnWeb();
    }

    function changeweb(){
        clearTable()
    }

    function search(obj){
        obj.blur();
        var web = $('#stdonweb').val();
        if(web == ''){
            swalConfirm('warning', 'กรุณาเลือกเว็บเพื่อค้นหาข้อมูล', '');
            return
        }
        clearTable();
        getData(web);
    }

    function getStdOnWeb(){
        var qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if(jsn.dbcode == 0){
                for (i = 0; i<jsn.dbrows; i++) {
                    $("#stdonweb").append(`<option value='${(jsn.dbitems[i].WEBNAME == 'TWD' ? '28LV' : 'BNB1')}'>${jsn.dbitems[i].WEBNAME}</option>`);
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return
            }
        })
    }

    function getData(web) {
        $('.ucat').html(web);
        $('.content').show();
        $('#imageload').html(waitimg);
        $('#imageload').show();
        $('#imageload1').html(waitimg);
        $('#imageload1').show();

        var qryNR = `exec TWDPIM..Rep_SKUinCATPRODUCT 'NORANK', '${web}'`;
        var qryDel = `exec TWDPIM..Rep_SKUinCATPRODUCT 'DELETE', '${web}'`;

        getNoRanking(qryNR, web);
        getDeleted(qryDel, web);
    }

    function getNoRanking(qry, web) {
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (isok) {
                if (jsn.dbrows > 0) {
                    var body = '';
                    $('#showNRH').html(`<tr>
                                    <th>SKCODE</th>
                                    <th>PR_NAME</th>
                                    <th>CAT_CODE</th>
                                    <th>DEPT</th>
                                    <th>DEPTNAME</th>
                                    <th>SUBDEPT</th>
                                    <th>SUBDEPTNAME</th>
                                    <th>CLASS</th>
                                    <th>CLASSNAME</th>
                                    <th>AsofDate</th>
                                    <th>AsofTime</th>
                                </tr>`);
                    for (i = 0; i < jsn.dbrows; i++) {
                        body += `<tr>
                                    <td>${jsn.dbitems[i].SKCODE}</td>
                                    <td>${jsn.dbitems[i].PR_NAME}</td>
                                    <td>${jsn.dbitems[i].CAT_CODE}</td>
                                    <td>${jsn.dbitems[i].DEPT}</td>
                                    <td>${jsn.dbitems[i].DETPNAME}</td>
                                    <td>${jsn.dbitems[i].SUBDEPT}</td>
                                    <td>${jsn.dbitems[i].SUBDEPTNAME}</td>
                                    <td>${jsn.dbitems[i].CLASS}</td>
                                    <td>${jsn.dbitems[i].CLASSNAME}</td>
                                    <td>${jsn.dbitems[i].AsofDate}</td>
                                    <td>${jsn.dbitems[i].AsofTime}</td>
                                </tr>`;
                    }
                    $('#showNRB').html(body);
                    var tb = $('#showNRTB').DataTable({
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'excel',
                            filename: 'SKU in Web of ' + web + ' No Ranking',
                            title: null
                        }],
                        "searching": true,
                        "pageLength": 10,
                        order: [
                            [7, "asc"]
                        ]
                    });
                    $('#imageload').hide()
                    $('#showNRDIV').show()
                } else {
                    $('#showNRDIV').html(`<h4>No Data!</h4>`);
                    $('#imageload').hide()
                    $('#showNRDIV').show()
                }
            }
        })
    }

    function getDeleted(qry, web) {
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (isok) {
                if (jsn.dbrows > 0) {
                    var body = '';
                    $('#showDelH').html(`<tr>
                                <th>SKCODE</th>
                                <th>PR_NAME</th>
                                <th>CAT_CODE</th>
                                <th>DEPT</th>
                                <th>DEPTNAME</th>
                                <th>SUBDEPT</th>
                                <th>SUBDEPTNAME</th>
                                <th>CLASS</th>
                                <th>CLASSNAME</th>
                                <th>AsofDate</th>
                                <th>AsofTime</th>
                            </tr>`);
                    for (i = 0; i < jsn.dbrows; i++) {
                        body += `<tr>
                                <td>${jsn.dbitems[i].SKCODE}</td>
                                <td>${jsn.dbitems[i].PR_NAME}</td>
                                <td>${jsn.dbitems[i].CAT_CODE}</td>
                                <td>${jsn.dbitems[i].DEPT}</td>
                                <td>${jsn.dbitems[i].DETPNAME}</td>
                                <td>${jsn.dbitems[i].SUBDEPT}</td>
                                <td>${jsn.dbitems[i].SUBDEPTNAME}</td>
                                <td>${jsn.dbitems[i].CLASS}</td>
                                <td>${jsn.dbitems[i].CLASSNAME}</td>
                                <td>${jsn.dbitems[i].AsofDate}</td>
                                <td>${jsn.dbitems[i].AsofTime}</td>
                             </tr>`;
                    }
                    $('#showDelB').html(body);
                    var tb = $('#showTBDel').DataTable({
                        dom: 'Bfrtip',
                        buttons: [{
                            extend: 'excel',
                            filename: 'SKU in Web of ' + web + ' Already Deleted',
                            title: null
                        }],
                        "searching": true,
                        "pageLength": 10,
                        order: [
                            [7, "asc"]
                        ]
                    });
                    $('#imageload1').hide()
                    $('#showDelDIV').show()
                } else {
                    $('#showDelDIV').html(`<h4>No Data!</h4>`);
                    $('#imageload1').hide()
                    $('#showDelDIV').show()
                }
            }
        })
    }

    function clearTable(){
        $('#showNRTB').remove();
        $('#showTBDel').remove();
        $('#showNRDIV').html(`<div class="col-md-12 col-xs-12">
                                    <table id="showNRTB" class="table table-striped table-bordered" style="width:100%">
                                        <thead id='showNRH'>
                        
                                        </thead>
                                        <tbody id="showNRB">
                        
                                        </tbody>
                                    </table>
                                </div>`)
        $('#showDelDIV').html(`<div class="col-md-12 col-xs-12">
                                    <table id="showTBDel" class="table table-striped table-bordered" style="width:100%">
                                        <thead id='showDelH'>
                        
                                        </thead>
                                        <tbody id="showDelB">
                        
                                        </tbody>
                                    </table>
                                </div>`)
        $('#showNRDIV').hide()
        $('#showDelDIV').hide()
        $('.content').hide();
    }
</script>

<div class="container-fluid">
    <h3>SKU in Web No Ranking & Already Deleted</h3>
    <div class="row" style='padding:0px;'>
        <div class="col-md-3 col-xs-12" style='margin-top: 10px;'>
            <div class="row">
              <label for="stdonweb">เลือกเว็บ</label>
              <select name="stdonweb" id="stdonweb" class='form-control' onchange='changeweb();'>
                  <option value=''>เลือกเว็บ</option>
              </select>
            </div>
        </div>
    </div><br>
    <div class="row" style='padding:0px;'>
        <div class="col-xs-12">
            <button class='btn btn-primary' onclick='search(this)'>Submit</button>
        </div>
    </div>
    <hr>
    <div class="row content" style='padding:0px;' hidden>
        <h3>SKU in Web of <span class='ucat'></span>: No Ranking</h3>
    </div>
    <div class="container-fluid">
        <div class='row' id='imageload' hidden>

        </div>
        <div class="row" id="showNRDIV" hidden>
            <div class="col-md-12 col-xs-12">
                <table id="showNRTB" class="table table-striped table-bordered" style="width:100%">
                    <thead id='showNRH'>
    
                    </thead>
                    <tbody id="showNRB">
    
                    </tbody>
                </table>
            </div>
        </div>
    </div><br>
    <div class="row content" style='padding:0px;' hidden>
        <h3>SKU in Web of <span class='ucat'></span>: Already Deleted</h3>
    </div>
    <div class="container-fluid">
        <div class='row' id='imageload1' hidden>

        </div>
        <div class="row" id="showDelDIV" hidden>
            <div class="col-md-12 col-xs-12">
                <table id="showTBDel" class="table table-striped table-bordered" style="width:100%">
                    <thead id='showDelH'>
    
                    </thead>
                    <tbody id="showDelB">
    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>