<script>
  function pageReady(){
    getlog();
  }
  function getlog() {
        var userid = readCookie('WUSERID');
        var stc = readCookie('WDFSTORE');
        var qry = `exec TWDPIM..execPORequestHistory 'getlog'`;
        ajaxGetQuery(qry, function (isok, ret) {
            var jsn = JSON.parse(ret);
            if (isok) {
              var table = $('#cpflogtable').DataTable({"order": [['2', 'desc']]});
              for (let i = 0; i < jsn.dbrows; i++) {
                  table.row.add( [
                         jsn.dbitems[i].PO_NUM,
                         jsn.dbitems[i].Remark,
                         jsn.dbitems[i].CreateDate
                          ] ).draw();
                }
            }
        })
    }



</script>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h3>CPF Log</h3>
    </div>
    <div class="col-xs-12">
      <table id="cpflogtable" style="width:100%">
        <thead>
        <tr>
          <th>PO_NUM</th>
          <th>Remark</th> 
          <th>CreateDate</th>
        </tr>
      </thead>
      </table>
    </div>
  </div>
</div>

