<script>
    function pageReady(){
    }

    function searchPrice(obj) {
        obj.blur();
        clearTable();
        let daystype = $('#daystype-option').val();
        if(daystype == ''){
            swalConfirm('warning', 'กรุณาระบุ Days Type!', '');
            return;
        }
        let jsnitems = {
            days: daystype
        }
        let qry = `exec TWDPIM..execCPFData 'pricedata', '${JSON.stringify(jsnitems)}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if(jsn.dbcode == 0){
                if(jsn.dbrows > 0){
                    let body;
                    for(let i = 0; i < jsn.dbrows; i++){
                        const {SKU, Days, Barcode, Price, Price_ExVat} = {...jsn.dbitems[i]};
                        body += `<tr>
                                    <td>${SKU}</td>
                                    <td>${Days}</td>
                                    <td>${Barcode}</td>
                                    <td>${Price}</td>
                                    <td>${Price_ExVat}</td>
                                 </tr>`;
                    }
                    $('#pricedata-body').html(body);
                }
                $('#pricedata-tb').DataTable();
                $('#pricedata-div').show();
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
            }
        })


    }

    function clearTable() {
        $('#pricedata-tb').remove();
        $('#pricedata-div').html(`<table class='table table-bordered table-striped' style='width: 100%' id='pricedata-tb'>
                                <thead id='pricedata-header'>
                                    <tr>
                                        <th class='text-center'>SKU</th>
                                        <th class='text-center'>Days</th>
                                        <th class='text-center'>Barcode</th>
                                        <th class='text-center'>Price</th>
                                        <th class='text-center'>Ex Vat</th>
                                    </tr>
                                </thead>
                                <tbody id='pricedata-body'>

                                </tbody>
                            </table>`);
        $('#pricedata-div').hide();
    }
</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }
</style>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-2">
            <label for='daystype-option'>กรุณาระบุ Days Type</label>
            <select class='form-control' id='daystype-option' name='daystype-option'>
                <option value=''>เลือก Days Type</option>
                <option value='30'>30 Days</option>
                <option value='180'>180 Days</option>
            </select>
            <button class='btn btn-primary' style='margin-top: 10px' onclick='searchPrice(this)'>ค้นหา</button>
        </div>
        <div class="col-md-10"></div>
    </div><hr>
    <div class="row">
        <div class="col-md-12" id='pricedata-div' hidden>
            <table class='table table-bordered table-striped' style='width: 100%' id='pricedata-tb'>
                <thead id='pricedata-header'>
                    <tr>
                        <th class='text-center'>SKU</th>
                        <th class='text-center'>Days</th>
                        <th class='text-center'>Barcode</th>
                        <th class='text-center'>Price</th>
                        <th class='text-center'>Ex Vat</th>
                    </tr>
                </thead>
                <tbody id='pricedata-body'>

                </tbody>
            </table>
        </div>
    </div><br>
</div>