<script>
    let insitms = [];
    function pageReady(){

    }

    function handleFileSelect(evt) {
        let daystype = $('#daystype-opt-upd').val();
        if(daystype == ''){
            swalConfirm('warning', 'กรุณาระบุ Days Type!', '');
            clearAll();
            return;
        }

        clearTable();
        $('#btnProcess').removeAttr("disabled");
        var tfile = $('#inpfile2')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile2);
            return
        }

        let insitm = '';
        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];
            var row = XLSX.utils.sheet_to_row_object_array(worksheet);

            var header, body;
            let idx = 0;
            header = `<tr><th class='text-center'>SKU</th><th class='text-center'>Barcode</th><th class='text-center'>Price</th><th class='text-center'>Ex.Vat</th></tr>`;
            for (let i = 0; i < row.length; i++) {
                let e = row[i];
                let sku = e['SKU'] || '';
                let barcode = e['Barcode'] || '';
                let price = e['Price'] || '';
                let exvat = e['Ex.Vat'] || '';
                if (sku == '' || sku == null || price == '' || price == null || exvat == '' || exvat == null) {
                    swalConfirm('warning', 'กรุณาตรวจสอบไฟล์', 'กรุณาระบุ SKU Price และ Ex.Vat ให้ครบถ้วน')
                    clearAll();
                    return 
                }
                if(i % 1000 == 0) {
                    insitm = insitm.substring(0, insitm.length - 1)
                    insitms[idx] = insitm;
                    ++idx;
                    insitm = '';
                }
                insitm += `(''${sku}'',''${daystype}'',''${barcode}'',cast(''${price}'' as money),cast(''${exvat}'' as money),getdate()),`;
                body+=`<tr><td>${sku}</td><td>${barcode}</td><td>${price}</td><td>${exvat}</td></tr>`
            }
            if(insitm != ''){
                insitm = insitm.substring(0, insitm.length - 1)
                insitms[idx] = insitm;
            }

            $('#priceheader').html(header);
            $('#pricebody').html(body);

            $('#importpriceTB').DataTable();
            $('#btnAllProcess').show();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    async function process() {
        let daystype = $('#daystype-opt-upd').val();
        var userid = readCookie('WUSERID');
        var userGroup = readCookie('WUGROUP');
        if (userid == null || userid == '' || userid == 'undefined' || userGroup == null) {
            alert('กรุณาเข้าสู่ระบบใหม่อีกครั้ง เนื่องจากคุณไม่ได้อยู่ในระบบนานเกินไป ขอบคุณครับ')
            location.assign("/");
        } else {
            if(daystype == ''){
                swalConfirm('warning', 'กรุณาระบุ Days Type!', '');
                clearAll();
                return;
            }
            let table = $('#importpriceTB').DataTable();
            if(table.rows().data().length == 0) {
                swalConfirm('warning', 'Warning!!!', 'ไม่มีรายการที่ต้องทำการอัพเดท\r\nกรุณาตรวจสอบอีกครั้ง');
                clearAll();
                return;
            }

            let count = table.rows().data().length;
            let jsnitems = {
                days: daystype
            }
            let qry = `exec TWDPIM..execCPFData 'pricedeletebydays', '${JSON.stringify(jsnitems)}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, async (isok, ret) => {
                let jsn = JSON.parse(ret);
                if(isok){
                    await insertNewData();

                    swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
                    $('#btnProcess').attr('disabled', true);
                    clearInputFile(inpfile);
                } else {
                    swalAl("error", "Failed", jsn.dbmessage);
                }
            })
        }
    }

    async function insertNewData(){
        return new Promise((res, rej) => {
            insitms.forEach(async (itm, idx) => {
                if(itm != '')
                    await insertStep1000Rows(itm);
            })
            res('already uploaded')
        })
    }

    async function insertStep1000Rows(insitm){
        return new Promise((res, rej) => {
            var qry = `EXEC TWDPIM..execCPFData 'priceupload',null, '${insitm}'`;
            console.log(qry)
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                var jsn = JSON.parse(ret);
                if(jsn.dbcode == 888)
                {
                    rej(jsn.dbcode)
                } else {
                    res(jsn.dbcode)
                }
            });
        })
    }

    function clearAll() {
        $('#daystype-opt-upd').val('');
        clearInputFile(inpfile2);
        clearTable();
        $('#btnAllProcess').hide();
    }

    function clearTable() {
        $('#importpriceTB').remove();
        $('#importpriceDiv').html(`<div class="col-md-12">
                                    <table id="importpriceTB" class="table table-striped table-bordered" >
                                        <thead id="priceheader">

                                        </thead>
                                        <tbody id="pricebody">

                                        </tbody>
                                    </table>
                                </div>`);
    }

    function getDemofile(obj){
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-price-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'CPF NormalPrice - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }
</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }
</style>
<div class="container-fluid">
    <br>
        <div class="row" style="margin:0px;">
            <div class="col-md-12 layout-left">
                <div class="col-md-2 layout-left">
                    <label for='daystype-opt-upd'>กรุณาระบุ Days Type</label>
                    <select class='form-control' id='daystype-opt-upd' name='daystype-opt-upd'>
                        <option value=''>เลือก Days Type</option>
                        <option value='30'>30 Days</option>
                        <option value='180'>180 Days</option>
                    </select>
                    <button class='btn btn-success' onclick='getDemofile(this);' style='margin-top:10px;'>Demo File</button>
                </div>
                <div class='col-md-3 layout-left' id="uploadDiv">
                    <label for="inpfile2">เลือกไฟล์ที่ต้องการอัพโหลด</label>
                    <input type="file" onchange="handleFileSelect()" id="inpfile2" name="inpfile2" accept=".xls, .xlsx">
                </div>
            </div>
        </div><br>
        <div class="row layout-left" id="importpriceDiv" style="margin:0px;">
            <div class="col-md-12">
                <table id="importpriceTB" class="table table-striped table-bordered" >
                    <thead id="priceheader">

                    </thead>
                    <tbody id="pricebody">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin:0px;" id="btnAllProcess" hidden>
            <div class=" col-md-12 layout-left"  >
                <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
                <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
            </div>
        </div><br>
        <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
            <div class="col-md-12">
                <table id="demo-price-TB" class="table table-striped table-bordered" >
                    <thead id="demo-price-header">
                        <tr>
                            <th>SKU</th>
                            <th>Barcode</th>
                            <th>Price</th>
                            <th>Ex.Vat</th>
                        </tr>
                    </thead>
                    <tbody id="demo-price-body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
</div>