<script>
    function pageReady(){
        getStore();
    }

    function getStore() {
        var userid = readCookie('WUSERID');
        var stc = readCookie('WDFSTORE');
        var qry = `exec CLOUDPOS..cs_loadStoreByUser '${userid}', '${stc}'`;
        ajaxGetQuery(qry, function (isok, ret) {
            var jsn = JSON.parse(ret);
            if (isok) {
                for (let i = 0; i < jsn.dbrows; i++) {
                    $('#edit-stc').append(
                        `<option value='${jsn.dbitems[i].ST_CODE}'>${jsn.dbitems[i].ST_CODE} ${jsn.dbitems[i].ST_TNAME}</option>`
                    );
                }
                $('#edit-stc').select2({
                    placeholder: 'เลือกสาขา'
                });
            }
        })
    }

    function search(obj){
        obj.blur();
        clearPlantTable();
        let sector = $('#sector-option-2').val();
        if(sector == ''){
            swalConfirm('warning', 'กรุณาระบุ Sector!', '');
            return;
        }

        let jsnitems = {
            sector: sector
        }

        let qry = `exec TWDPIM..execCPFData 'plantdata', '${JSON.stringify(jsnitems)}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if(isok) {
                let body='';
                if(jsn.dbrows > 0){
                    for(let i = 0; i < jsn.dbrows; i++){
                        let {Plant_No, Plant_Name, Plant_Address, STCODE, Sector, Customer_ID} = {...jsn.dbitems[i]};
                        body += `<tr id='idx-${i}'>
                                    <td>${Plant_No}</td>
                                    <td>${Plant_Name}</td>
                                    <td>${Plant_Address}</td>
                                    <td>${STCODE}</td>
                                    <td>${Sector}</td>
                                    <td>${Customer_ID}</td>
                                    <td class='text-center'>
                                        <button class='btn btn-warning' id='btn-updplant-${i}' onclick="javascript:editPlant(this)">
                                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                        </button>
                                        <button class='btn btn-danger' id='btn-delplant-${i}' onclick="javascript:deletePlant(this, '${Plant_No}', '${Sector}')">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                 </tr>`;
                    }
                }
                $('#data-body').html(body);
                $('#data-tb').DataTable();
                $('#data-div').show();
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
            }
        })
    }

    function editPlant(obj) {
        obj.blur();
        let rowidx = $(obj).attr('id').replace('btn-updplant-','')
        let plantno, plantname, plantaddress, stcode, sector, customerid;
        let table = $('#data-tb').DataTable();
        let cols = table.row("#idx-"+rowidx).data()
        plantno = cols[0];
        plantname = cols[1];
        plantaddress = cols[2];
        stcode = cols[3];
        sector = cols[4];
        customerid = cols[5];

        $('#plantno-edit').html(plantno);
        $('#sector-edit').html(sector);
        $('#edit-plantname').val(plantname);
        $('#edit-plantaddress').val(plantaddress);
        $('#edit-stc').val(stcode).trigger('change');
        $('#edit-customerid').val(customerid);
        $('#modal-edit').modal('show');

    }

    function deletePlant(obj, plantno, sector) {
        obj.blur();
        swal({
          title: "Do you want to delete?",
          text: "Plant No: " + plantno,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes",
          closeOnConfirm: false,
        },
        function () {
          try {
            let rowidx = $(obj).attr('id').replace('btn-delplant-','')
            let jsnitems = {
                sector: sector,
                plantNo: plantno
            }
            let qry = `exec TWDPIM..execCPFData 'deleteplant', '${JSON.stringify(jsnitems)}'`; 
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, (isok, ret) => {
                if(isok){
                    var jsn = JSON.parse(ret);
                    if (jsn.dbcode == 0) {
                        swalAl("success", "Successful", 'Deleted successful');
                        let table = $('#data-tb').DataTable();
                        table.row("#idx-"+rowidx).remove().draw();
                    } else {
                        swalAl("error", "Failed", jsn.dbmessage);
                    }
                }
            })
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function saveedit(obj){
        obj.blur();
        let plantno, plantname, plantaddress, stcode, sector, customerid;
        plantno = $('#plantno-edit').text();
        plantname = $('#edit-plantname').val();
        plantaddress = $('#edit-plantaddress').val();
        stcode = $('#edit-stc').val();
        sector = $('#sector-edit').text();
        customerid = $('#edit-customerid').val();

        let jsnitems = {
            sector: sector,
            plantNo: plantno,
            plantName: plantname, 
            plantAddress: plantaddress,
            stc: stcode,
            customerId: customerid
        }
        let qry = `exec TWDPIM..execCPFData 'editplant', '${JSON.stringify(jsnitems)}'`;
        let pdata = {
            query: qry
        }

        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if(isok) {
                swalAl("success", "Successful", 'Edited Successfully.');
                $('#modal-edit').modal('hide');

                let table = $('#data-tb').DataTable();
                table.rows(( idx, data, node ) => {             
                    let plant_no = data[0];
                    if(plant_no == plantno){
                        (data[1] == plantname) ? null : table.cell( idx, 1 ).data(plantname).draw(); 
                        (data[2] == plantaddress) ? null : table.cell( idx, 2 ).data(plantaddress).draw(); 
                        (data[3] == stcode) ? null : table.cell( idx, 3 ).data(stcode).draw(); 
                        (data[5] == customerid) ? null : table.cell( idx, 5 ).data(customerid).draw(); 
                    }
                });
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    function clearPlantTable() {
        $('#data-tb').remove();
        $('#data-div').html(`<table class='table table-bordered table-striped' id='data-tb'>
                                <thead id='data-header'>
                                    <tr>
                                        <th class='text-center' style='width: 150;'>Plant No</th>
                                        <th class='text-center' style='width: 200;'>Plant Name</th>
                                        <th class='text-center' style='width: 400;'>Plant Address</th>
                                        <th class='text-center' style='width: 150;'>STCODE</th>
                                        <th class='text-center' style='width: 150;'>SECTOR</th>
                                        <th class='text-center' style='width: 150;'>Customer ID</th>
                                        <th style='width: 100;'> </th>
                                    </tr>
                                </thead>
                                <tbody id='data-body'>

                                </tbody>
                            </table>`);
        $('#data-div').hide();
    }
</script>
<div class="container-fluid">
    <br>
    <div class="row">
        <div class="col-md-2">
            <label for='sector-option-2'>กรุณาระบุ Sector</label>
            <select class='form-control' id='sector-option-2' name='sector-option-2'>
                <option value=''>เลือก Sector</option>
                <option value="C">กลาง - Central</option>
                <option value='N'>เหนือ - North</option>
                <option value='S'>ใต้ - South</option>
                <option value='E'>ตะวันออก - East</option>
                <option value='W'>ตะวันตก - West</option>
            </select>
            <button class='btn btn-primary' style='margin-top: 10px' onclick='search(this)'>ค้นหา</button>
        </div>
        <div class="col-md-10"></div>
    </div><hr>
    <div class="row">
        <div class="col-md-12" id='data-div' hidden>
            <table class='table table-bordered table-striped' id='data-tb'>
                <thead id='data-header'>
                    <tr>
                        <th class='text-center' style='width: 150;'>Plant No</th>
                        <th class='text-center' style='width: 200;'>Plant Name</th>
                        <th class='text-center' style='width: 400;'>Plant Address</th>
                        <th class='text-center' style='width: 150;'>STCODE</th>
                        <th class='text-center' style='width: 150;'>SECTOR</th>
                        <th class='text-center' style='width: 150;'>Customer ID</th>
                        <th style='width: 100;'> </th>
                    </tr>
                </thead>
                <tbody id='data-body'>

                </tbody>
            </table>
        </div>
    </div><br>

    <!-- Modal -->
    <div class="modal fade" id="modal-edit" role="dialog">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Plant: <span id='plantno-edit'></span> | Sector: <span id='sector-edit'></span></h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">
                        <label for="edit-plantname">Plant Name:</label>
                        <input type="text" name="edit-plantname" id="edit-plantname" class='form-control'/>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        <label for="edit-plantaddress">Plant Address:</label>
                        <input type="text" name="edit-plantaddress" id="edit-plantaddress" class='form-control'/>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        <label for="edit-stc">STCODE:</label>
                        <select id='edit-stc' class='form-control' style='width: 100%' name="edit-stc">

                        </select>
                    </div>
                </div><br>
                <div class="row">
                    <div class="col-md-12">
                        <label for="edit-customerid">Customer ID:</label>
                        <input type="text" name="edit-customerid" id="edit-customerid" class='form-control'/>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick='saveedit(this)'>Confirm</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
        </div>
    </div>
</div>

