<script>
    function pageReady(){

    }

    async function process() {
        let sectortype = $('#sector-option').val();
        var userid = readCookie('WUSERID');
        var userGroup = readCookie('WUGROUP');
        if (userid == null || userid == '' || userid == 'undefined' || userGroup == null) {
            alert('กรุณาเข้าสู่ระบบใหม่อีกครั้ง เนื่องจากคุณไม่ได้อยู่ในระบบนานเกินไป ขอบคุณครับ')
            location.assign("/");
        } else {
            if(sectortype == ''){
                swalConfirm('warning', 'ระบุข้อมูลไม่ครบถ้วน!', 'กรุณาเลือก Sector ที่ท่านต้องการอัพโหลดข้อมูล');
                clearAll();
                return;
            }
            var count = 0;
            var table = $('#importTB').DataTable();
            if(table.rows().data().length == 0) {
                swalConfirm('warning', 'Warning!!!', 'ไม่มีรายการที่ต้องทำการอัพเดท\r\nกรุณาตรวจสอบอีกครั้ง');
                clearAll();
                return;
            }
            for (var i = 0; i < table.rows().data().length; i++) {
                let [PlantNo, PlantName, PlantAddress, STCODE, CustomerId] = (table.rows().data())[i];
                let upd = await updatePlant(PlantNo, PlantName, PlantAddress, STCODE, sectortype, CustomerId);
                if (upd > 0) {
                    return;
                }
                ++count;
            }

            swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
            $('#btnProcess').attr('disabled', true);
            clearInputFile(inpfile);
        }
    }

    async function updatePlant(plantno, plantname, plantaddress, stcode, sector, customerid){
        return new Promise (res => {
            let jsnitems = {
                sector: sector,
                plantNo: plantno,
                plantName: plantname, 
                plantAddress: plantaddress,
                stc: stcode,
                customerId: customerid
            }
            let qry = `exec TWDPIM..execCPFData 'plantupload', '${JSON.stringify(jsnitems)}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, (isok, resp) => {
                let jsn = JSON.parse(resp);
                res(jsn.dbcode);
            })
        })
    }

    function handleFileSelect(evt) {
        let sectortype = $('#sector-option').val();
        if(sectortype == ''){
            swalConfirm('warning', 'ระบุข้อมูลไม่ครบถ้วน!', 'กรุณาเลือก Sector ที่ท่านต้องการอัพโหลดข้อมูล');
            clearAll();
            return;
        }

        clearTable();
        $('#btnProcess').removeAttr("disabled");
        var tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }

        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];
            var row = XLSX.utils.sheet_to_row_object_array(worksheet);

            var header, body;
            header = `<tr><th>PlantNo</th><th>PlantName</th><th>PlantAddress</th><th>STCODE</th><th>CustomerId</th></tr>`;
            for (var i = 0; i < row.length; i++) {
                let {PlantNo, PlantName, PlantAddress, STCODE, CustomerId} = row[i];
                if (PlantNo == '' || PlantNo == null || STCODE == '' || STCODE == null) {
                    swalConfirm('warning', 'กรุณาตรวจสอบไฟล์', 'กรุณาระบุ Plant No และ Store Code ให้ครบถ้วน')
                    clearAll();
                    return 
                }

                PlantName = (PlantName === 'undefined' || PlantName == null) ? '' : PlantName;
                PlantAddress = (PlantAddress === 'undefined' || PlantAddress == null) ? '' : PlantAddress;
                CustomerId = (CustomerId === 'undefined' || CustomerId == null) ? '' : CustomerId;
                body+=`<tr><td>${PlantNo}</td><td>${PlantName}</td><td>${PlantAddress}</td><td>${STCODE}</td><td>${CustomerId}</td></tr>`
            }
            $('#header').html(header);
            $('#body').html(body);

            $('#importTB').DataTable();
            $('#btnAll').show();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    function clearAll() {
        $('#sector-option').val('');
        clearInputFile(inpfile);
        clearTable();
        $('#btnAll').hide();
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<div class="col-md-12">
                                    <table id="importTB" class="table table-striped table-bordered" >
                                        <thead id="header">

                                        </thead>
                                        <tbody id="body">

                                        </tbody>
                                    </table>
                                </div>`);
    }

    function getDemofile(obj){
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'Plant Upload - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }
</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }
</style>
<div class="container-fluid">
    <br>
        <div class="row" style="margin:0px;">
            <div class="col-md-2 layout-left">
                <label for='sector-option'>กรุณาระบุ Sector</label>
                <select class='form-control' id='sector-option' name='sector-option'>
                    <option value=''>เลือก Sector</option>
                    <option value="C">กลาง - Central</option>
                    <option value='N'>เหนือ - North</option>
                    <option value='S'>ใต้ - South</option>
                    <option value='E'>ตะวันออก - East</option>
                    <option value='W'>ตะวันตก - West</option>
                </select>
                <button class='btn btn-success' onclick='getDemofile(this);' style='margin-top:10px;'>Demo File</button>
            </div>
            <div class='col-md-3 layout-left' id="uploadDiv">
                <label for="inpfile">เลือกไฟล์ที่ต้องการอัพโหลด</label>
                <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
            </div>
            <div class="col-md-7 layout-left"></div>
        </div><hr>
        <div class="row layout-left" id="importDiv" style="margin:0px;">
            <div class="col-md-12">
                <table id="importTB" class="table table-striped table-bordered" >
                    <thead id="header">

                    </thead>
                    <tbody id="body">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin:0px;" id="btnAll" hidden>
            <div class=" col-md-12 layout-left"  >
                <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
                <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
            </div>
        </div><br>
        <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
            <div class="col-md-12">
                <table id="demo-TB" class="table table-striped table-bordered" >
                    <thead id="demo-header">
                        <tr>
                            <th>PlantNo</th>
                            <th>PlantName</th>
                            <th>PlantAddress</th>
                            <th>STCODE</th>
                            <th>CustomerId</th>
                        </tr>
                    </thead>
                    <tbody id="demo-body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
</div>