<div class="container-fluid">
    <div class="container-fluid">
        <h3>Upload Plant 2 Store & Normal Price</h3>
        <div class="tab">
          <button class="tablinks" onclick="openTab(event, 'plantupload')" id="defaultOpen">Upload Plant 2 Store</button>
          <button class="tablinks" onclick="openTab(event, 'normalpriceupload')">Upload Normal Price</button>
          <button class="tablinks" onclick="openTab(event, 'plantdata')">Plant 2 Store</button>
          <button class="tablinks" onclick="openTab(event, 'normalpricedata')">Normal Price</button>
        </div>
        
        <div id="plantupload" class="tabcontent" style='min-height: 100vh;'>
        </div>
        
        <div id="normalpriceupload" class="tabcontent" style='min-height: 100vh;'>
        </div>

        <div id="plantdata" class="tabcontent" style='min-height: 100vh;'>
        </div>

        <div id="normalpricedata" class="tabcontent" style='min-height: 100vh;'>
        </div>
    </div>
</div>

<style>
  body {
    font-family: Arial;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }

  .topright:hover {
    color: red;
  }
</style>
<script>
  function openTab(evt, tabid) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (let i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (let i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    var url;
    if(tabid == 'plantupload') {
      url = "CPF/DATAUPLOAD/cpfplantupload.htm";
    } else if (tabid == 'normalpriceupload') {
      url = "CPF/DATAUPLOAD/cpfnormalpriceupload.htm";
    } else if (tabid == 'plantdata') {
      url = "CPF/DATAUPLOAD/cpfplantdata.htm";
    } else if (tabid == 'normalpricedata') {
      url = "CPF/DATAUPLOAD/cpfnormalpricedata.htm";
    }

      $.get(url, function (data) {
        $('#'+tabid).html(data);
        pageReady();
      });

    document.getElementById(tabid).style.display = "block";
    evt.currentTarget.className += " active";
  }
  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>