<script>
    var header;
    function process() {
        var userid = readCookie('WUSERID');
        var table = $('#importTB').DataTable();

        if (table.rows().data().length == 0) {
            swalConfirm('warning', 'เงื่อนไข!!!',
                'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
            clearAll();
            return;
        }

        var count = 0;
        for(i = 0; i < table.rows().data().length; i++) {
            var syngroup;
            var synname = '|';
            for(j = 0; j < header.length; j++){
                if(j == 0) { 
                    syngroup = ((table.rows().data())[i])[j].trim(); 
                } 
                else {
                    if(((table.rows().data())[i])[j] != '' && ((table.rows().data())[i])[j] != null){
                        synname += `${((table.rows().data())[i])[j].trim()}|`;
                    }
                    else { continue; }
                }
            }
            var qry = `EXEC TWDPIM..updateSynonymGroup '${syngroup}', '${synname}', '${userid}'`;
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                //console.log(ret);
                var jsn = JSON.parse(ret);
                if(jsn.dbcode == 888)
                {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    return;
                }
            });
            ++count;
        }

        swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
        $('#btnProcess').attr('disabled', true);
        clearInputFile(inpfile);
    }

    function handleFileSelect(evt) {
        clearTable();
        $('#btnProcess').removeAttr("disabled");
        console.log('File is selected  ')
        var tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }
        // files is a FileList of File objects. List some properties.
        var jsntotalsku = "";
        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];
                var XL_row_object = XLSX.utils.sheet_to_row_object_array(worksheet);
                header = getHeaders(worksheet);
                $('#header').html('<tr><th width="250">' + header.join('</th><th>') + '</th></tr>');
                var detail = '';
                for (i = 0; i < XL_row_object.length; i++) {
                    detail += '<tr>';
                    for(j = 0; j < header.length; j++){
                        detail += (XL_row_object[i][header[j]] != null && 
                                   XL_row_object[i][header[j]] !== 'undefined' && 
                                   XL_row_object[i][header[j]] != '') ? `<td>${XL_row_object[i][header[j]]}</td>` : `<td></td>`;
                    }
                    detail += '</tr>';
                }
                $('#body').html(detail);
                $('#importTB').DataTable({
                    sDom: 'lrtip'
                });
                $('#btnAll').show();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<table id="importTB" class="table table-striped table-bordered">
                                  <thead id="header">

                                  </thead>
                                  <tbody id="body">

                                  </tbody>
                              </table>`);
    }

    function clearAll() {
        clearInputFile(inpfile);
        clearTable();
        $('#btnAll').hide();
        $('#btnProcess').removeAttr("disabled");
    }

    $('#btnShowAllSyn').on('click', function () {
        var val = $('#btnShowAllSyn').val();
        if(val == 'show'){
            $('#btnShowAllSyn').html('Hide All Synonym');
            $('#btnShowAllSyn').val('hide');
        } else {
            $('#btnShowAllSyn').html('Show All Synonym');
            $('#btnShowAllSyn').val('show');
        }

        if(val == 'show'){
            getAllSynonym();
        } else {
            clearShowSynonym();
        }
    })

    function getAllSynonym(){
        var qry = `SELECT SYNGROUP, SYNNAME FROM TWDPIM..SYNONYMGROUP`;
            ajaxGetQuery(qry, (isok, ret) => {
                var jsn = JSON.parse(ret);
                var synbody = '';
                if(isok){
                    if(jsn.dbrows > 0){
                        for(i = 0; i < jsn.dbrows; i++){
                            synbody += `<tr>
                                            <td>${jsn.dbitems[i].SYNGROUP}</td>
                                            <td>${jsn.dbitems[i].SYNNAME}</td>
                                            <td class='delete-action' ><center><img src='../images/delete-button.png' onclick="javascript:deleteSynGroup('${jsn.dbitems[i].SYNGROUP}')"></center></td>
                                        </tr>`;
                        }
                        $('#synbody').html(synbody);
                        $('#synTB').DataTable();
                        $('#synDiv').show();
                    } else {
                        swalConfirm('error', 'No Data!!!', '');
                        $('#btnShowAllSyn').html('Show All Synonym');
                        $('#btnShowAllSyn').val('show');
                    }
                }else {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                }
            })
    }

    function clearShowSynonym(){
        $('#synTB').remove();
        $('#synDiv').html(`<div class="col-md-6 col-xs-6" style="margin:0px; padding-left:0px;" >
                                <table id="synTB" class="table table-striped ">
                                    <thead id="synheader">
                                        <tr>
                                            <th width="250">Synonym Group</th>
                                            <th width="500">Synonym Name</th>
                                            <th width="200" style="text-align: center;">Delete All <img src='../images/delete-button.png' onclick="javascript:deleteAllSynonym();"></th>
                                        </tr>
                                    </thead>
                                    <tbody id="synbody">
                    
                                    </tbody>
                                </table>
                            </div>`);
        $('#synDiv').hide();
    }

    function deleteSynGroup(syngroup) {
        swal({
          title: "Do you want to delete?",
          text: "Synonym Group: " + syngroup,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
            var qry = `delete TWDPIM..SYNONYMGROUP where SYNGROUP = '${syngroup}'`;
            var pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                if(isok) {
                  swalAl("success", "Successful", 'Deleted Synonym Group: ' + syngroup);
                  clearShowSynonym();
                  $('#btnShowAllSyn').html('Show All Synonym');
                  $('#btnShowAllSyn').val('show');
                  $('#btnShowAllSyn').click();
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function deleteAllSynonym() {
        swal({
          title: "Do you want to delete?",
          text: 'All Synonyms!',
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes, delete it!",
          closeOnConfirm: false,
        },
        function () {
          try {
            var qry = `delete TWDPIM..SYNONYMGROUP`;
            var pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                if(isok) {
                  swalAl("success", "Successful", 'Deleted Successfully.');
                  clearShowSynonym();
                  $('#btnShowAllSyn').html('Show All Synonym');
                  $('#btnShowAllSyn').val('show');
                  $('#btnShowAllSyn').click();
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }
</script>
<style>
    .delete-action:hover {  	 
        cursor: hand;	 
    }
</style>

<div class="container-fluid">
    <div class="container-fluid">
        <h3>Import Synonym Group</h3>
        <pre><h5>You can import Synonym Group by excel file and must have content like this:</h5><h4>SYNGROUP, SN1, SN2, SN3, ..., SNn</h4></pre>
        <div class="row" style="margin:0px;">
            <button class="btn btn-info" id="btnShowAllSyn" value="show">Show All Synonym</button>
        </div><br>
        <div class="row " id="synDiv" style="margin:0px;" hidden>
            <div class="col-md-6 col-xs-6" style="margin:0px; padding-left:0px;" >
                <table id="synTB" class="table table-striped ">
                    <thead id="synheader">
                        <tr>
                            <th width="250">Synonym Group</th>
                            <th width="500">Synonym Name</th>
                            <th width="200" style="text-align: center;">Delete All <img src='../images/delete-button.png' onclick="javascript:deleteAllSynonym();"></th>
                        </tr>
                    </thead>
                    <tbody id="synbody">
    
                    </tbody>
                </table>
            </div>
        </div><br>
        <div class="row" style="margin:0px;">
            <label for="inpfile">กรุณาเลือกไฟล์</label>
            <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
        </div><br>
        <div class="row" id="importDiv" style="margin:0px;">
            <table id="importTB" class="table table-striped ">
                <thead id="header">

                </thead>
                <tbody id="body">

                </tbody>
            </table>
        </div>
        <div class="row" style="margin:0px;" id="btnAll" hidden>
            <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
            <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
        </div>
    </div>
</div>