<div id ='addDicountDiv'>
<script>
  
    function formDLoaded(){
        discount.dable =$('#discable').text();
        $('#txtdab').val(discount.dable);
        $('#txtaut').val('');
        $('#txtpsw').val('');
        $('#discModalDiv').modal('show');
    }
    function formDCancel(){
        $('#discModalDiv').modal('hide');
    }
    function formDConfirm(){
        //--------Set Value to caller
        try { 
            var perc=$('#txtper').val();
            //--------------Check autohize
            var qry="exec ws_discAutorize '@usr','@psw',@per, @amt,'@cref'";
            var auth=$('#txtaut').val()
            var pdata={ query:qry,
                        para:{usr:auth, 
                              psw:$('#txtpsw').val(),
                              cref:receiptNo,
                              per:perc,
                              amt:discount.dable
                            }}

            ajaxExec(pdata,function(isok,ret){
                if(isok){
                    jsn=JSON.parse(ret);
                    if(jsn.dbcode==0){
                        discount.perc   =perc;
                        discount.amnt  =perc * discount.dable/100;
                        discount.auth  =auth;
                        var gtot =$('#gtotal').text();  
                        $('#disaut').text( auth  );  
                        $('#discper').text(numericFormat(discount.perc));
                        $('#discamt').text(numericFormat( discount.amnt));
                        $('#gtotal').text(numericFormat(gtot-discount.amnt));
                        $('#discModalDiv').modal('hide');
                    }
                 else alert(jsn.dbmessage);
                }
              else alert('Error .. Ajax call');
            })
     
        }
    catch(ex){alert(ex.message);}
    }

</script>

 <div class="modal fade" id="discModalDiv" role="dialog"  tabindex="-1">    
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h2>Add Discount</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                               <div class="form-group">
                                <label for="txtdab"><span class="glyphicon glyphicon-user"></span>Discountable Amount</label>
                                <input type="number" class="form-control" name="txtdab" id="txtdab" disabled='true'  value="0.00">
                            </div>
                            <div class="form-group">
                                    <label for="txtper"><span class="glyphicon glyphicon-user"></span>Discount Percent</label>
                                    <input type="number" class="form-control" name="txtdab" id="txtper"   value="10.00">
                                </div>

                            <div class="form-group">
                                    <label for="txtaut"><span class="glyphicon glyphicon-eye-open"></span>Authorize By</label>
                                    <input type="text" class="form-control" name="txtsut" id="txtaut" placeholder="Enter password" value="">
                                </div>

                            <div class="form-group">
                                <label for="txtpsw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                                <input type="password" class="form-control" name="passw" id="txtpsw" placeholder="Enter password" value="">
                            </div>       
        </div>
        <div class="modal-footer">
                <a href='javascript:formDConfirm()' class="btn btn-success">Confirm</a>
                <a href='javascript:formDCancel()'  class="btn btn-danger">Cancel</a>
        </div>
        </div>
    </div>
</div>
</div>