<!-- Modal for Edit -->
<div id ='editItemDiv'></div>
<script>
    function startEditItem(editobj){
        try {  
 	    var prc 	=$(editobj).find('td:eq(2)').text();
 	    var pnm  	=$(editobj).find('td:eq(3)').text();
	    var upc 	=$(editobj).find('td:eq(6)').text();
		var qnt 	=$(editobj).find('td:eq(1)').text();
		$('#editQnt').val(qnt);
		$('#editSkc').val(prc +' '+ pnm);
		$('#editUpc').val(upc);

        $("#editModal").modal("show");
    }
    catch(ex){alert(ex.message);}
}

 function editBtnCC(){
	$("#editModal").modal("hide");
	$('#barcode').focus();
} 
function editBtnOK(){
	//---set Quan iti on item #
	var qnt		=$('#editQnt').val();
	var auth	=$('#editId').val();
	var nupc	=$('#editUpc').val();
	var item 	=$(editObj).find('td:eq(0)').text();
	try {
		if(auth==''){
			alert('No Authorize Personel scan in');
			return;
		}
		nupc =nupc.replace(/,/g,'');
		var ctl ={
				query:"exec  ws_editItem '@stc','@lck',@itm,@qnt,@upc,'@aut','@pwd' ",
				para:{
					stc:storeCode,
					lck:lockNumber,
					itm:item,
					qnt:qnt,
					upc:nupc,
                    aut:auth,
                    pwd:$('#editPwd').val()
				}
		}
		ajaxExec(ctl,function(cok,resp){
			// alert("Return from AjaxGetQuery.."+ resp );
			if(cok)
			  {
				 console.log(resp);
				var jsn =JSON.parse(resp)
				var ecode = jsn.dbcode;
				//alert(ecode);
				if(parseInt(ecode)!=0){
					alert(jsn.dbmessage);
					return;
				}
				//---edit successfule
				alert('Edit Item Sucessful');

				reloadWarn =0;
				$("#editModal").modal("hide");
				showSItem();    //--reolad item from Database
				//location.reload();
			}
			else {
				alert("ajaxGetQuery Return Error .. "+resp);
			}
		});
	  
	}
	catch(ex){alert('EditBtnOK '+ex.message);}
	
}
</script>
   <div class="modal fade" id="editModal" role="dialog"  tabindex="-1">
        <div class="modal-dialog modal-md">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>  
                    <h4 class="modal-title" id="edHeader">Alert</h4>
                </div>
                
                <div class="modal-body" id="edBody">
                        <div class="form-group">
                                <label for="editSkc">Product Name</label>
                                <input type="text" class="form-control" name="editSkc" id="editSkc" disabled="true" >
                            </div>
                              <div class="form-group">
                                <label for="editAut">Authorize By</label>
                                <input type="text" class="form-control" name="editAut" id="editAut"   >
                            </div>

                            <div class="form-group">
                                    <label for="editPwd">Authorize By</label>
                                    <input type="password" class="form-control" name="editPwd" id="editPwd"   >
                                </div>

                            <div class="form-group">
                                <label for="editQnt">QUANTITY</label>
                                <input type="number" class="form-control" name="editQnt" id="editQnt" >
                            </div>
                            
                            <div class="form-group">
                                <label for="editUpc">New Unit Price</label>
                                <input type="number" class="form-control" name="editUpc" id="editUpc" >
                            </div>      
                </div>
                
                <div class="modal-footer">
                    <button type="button"  onclick ="javascript:editBtnOK()"  class="btn btn-primary"  >Confirm</button>
                    <button type="button" onclick ="javascript:editBtnCC()"   class="btn btn-default" > Cancel</button>
                </div>
            </div>

        </div>
    </div>
      
    
    </div>