
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#">
                <p>POS SALE OPERATION</p>
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">

            <ul id ='menuItem' class="nav navbar-nav">
 
  
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                       Help Menu <span class="caret"></span></a>

                    <ul class="dropdown-menu">
                       <li><a href="javascript:addDicount()">F3 Discount</a></li>
                           <li><a href="javascript:detailRcpt(null)">F4 Show LastRcpt</a></li>
                        <li><a href="javascript:save2Temp()">F5 Save Temp</a></li>
                        <li><a href="javascript:recallTemp()">F6 Recall Temp</a></li>
                        <li><a href="javascript:checkBill()">F9 Guest Bill</a></li>
                        <li><a href="javascript:closeOpr()">F10 Close </a></li>
                        <li><a href="javascript:showCust()">F11 Customer</a></li>
                        <li><a href="javascript:showProd()">F12 Product</a></li>
                        <li><a href="javascript:clearItem()">F13 Clear</a></li>
                      </ul>
                </li>
                
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class='dropdown'>
                    <a href="javascript:toggleRcpt();" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">
                        <label id='receiptLb' onclick='javascript:toggleRcpt();'>RCPT#</label><span class="caret"></span>
                    </a>
                    
                </li>
                
		 
            </ul>



        </div><!-- /.nav-collapse -->

