 <!--Login  Modal -->
 <div id='posPaidDiv'>
 <script>
     var pref ;
     var posamt;
     function startPosPaid(ref,amt){
        $('#pospaidModal').modal('show');
        $('#reftxt').val(ref);
        $('#amttxt').val(amt);

        pref=ref;
        posamt= amt.replace(',','');
     }

     function cancelPosPaid(){
        $('#pospaidModal').modal('hide');
     }
     function confirmPosPaid(){
         //---check existing of POS REFERENCE Number
        var posref=$('#rcptxt').val();
        var stcode=$('#stctxt').val();
        if(posref.length<8){
            alert('Invalid POS Receipt number');
            return
        }
         //---------assume itis there
         var pdata ={
             tendor:"PPOS",
             amount:posamt,
             atstore:stcode,
             bankref:posref
         }
         var qry="exec savepayment '"+ pref +"','"+ JSON.stringify(pdata)  +"','PPOS'," +posamt +",'"+posref +"' ";
       console.log(qry);

        ajaxGetQuery(qry,function(isok,resp){
            console.log(resp);
            $('#respDiv').html(resp);
            var rjsn =JSON.parse(resp);
            if(rjsn.dbcode==0){
               alert("Save Payment OK");
               $('#pospaidModal').modal('hide');
               pageReload();
               return
            }
            else {
                console.log(resp)
                alert("Save payment Error "+rjsn.dbmessage)
            }
          });
       
        $('#pospaidModal').modal('hide');
     }

 </script>
 <div class="modal fade" id="pospaidModal" role="dialog"  tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="padding:25px 20px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4>  Pay at POS Record</h4>
                    
                </div>
                <div style="padding: 10px 20px;">
 
                        <div class="form-group col-sm-6">
                            <label for="reftxt"> Pat for Ref Number</label>
                            <input type="text" class="form-control"   id="reftxt" disabled='true' value="">
                        </div>
                        <div class="form-group col-sm-6">
                            <label for="passw" > Amount</label>
                            <input type="text" class="form-control"    id="amttxt"  disabled='true' value="">
                        </div>
                        <div class="form-group col-sm-6"">
                            <label for="stctxt"> </span>At Store</label>
                            <input type="text" class="form-control"   id="stctxt"  placeholder="Store code" value="920">
                        </div>
                        <div class="form-group col-sm-6"">
                            <label for="rcptxt"> </span>POS Receipt Number</label>
                            <input type="text" class="form-control"    id="rcptxt"   value="">
                        </div>

                        <button type="button" class="btn btn-success" onclick="confirmPosPaid()">
                            <span class="glyphicon glyphicon-check"></span>Confirm
                        </button>
                        <button type="button" class="btn btn-danger" onclick="cancelPosPaid()">
                            <span class="glyphicon glyphicon-off"></span>Cancel
                        </button>
                        
                   </form>
                </div>

                <div class="modal-footer">
                    
                </div>

            </div>
        </div> 
    </div>
    
</div>
