<div id='payMentModalDiv'> 
    <script> 
        //***********for payament*****************
        var disAmt = 0;
        var tipAmt =0;
        var dueAmt = 0;
        
        var balAmt = 0;
        var chgAmt = 0;
        var payAmt = 0;
        var srvAmt =0;
        var totAmt=0;
    function   formPLoaded(amt){
    
         totAmt=amt;
         $('#errDiv').html('')
     //    $('#tendorDiv').html( tendorType);  //only 1 PPOS as defualt
         $('#paymentDiv').modal('show');
         startPayment();
     }

   function startPayment() {
    try { 
          //--tendor Ttype
        //-----------Set Payment property
            $('#PpayTxt').blur(function () {
                verifyCard();
            });

            //-----------When payment Amount lost focus
            $('#PpayAmt').blur(function () {
                addPayment();
            });
                //-----------When Tip Amount lost focus
         //   $('#PtipTxt').blur(function () {
         //       checkTip();
         //   });

        //totAmt =dueAmt; // $("#gtotal").text(); //from item display

        totAmt=totAmt.replace(/,/g,'')*1

        disAmt = 0;  //totalDisc; $("#totalLine td:eq(1)").text();
        
        $("#PtotAmt").text(numericFormat(totAmt)) ;  //Payment TAb
        srvAmt  =0;   //parseInt(totAmt*10) /100;
        totAmt  =totAmt*1 + srvAmt;

        dueAmt = totAmt - disAmt;
         $('#PpayAmt').val(dueAmt);
        balAmt = dueAmt;
        $('#PdueAmt').text(numericFormat(dueAmt));
        $('#PbalAmt').text(numericFormat(balAmt));
        $('#PdisAmt').text(numericFormat(disAmt));
        $('#PsrvAmt').text(numericFormat(srvAmt));
    $('#payBtnOK').prop('disabled', true);   
 
    }	
  catch(ex){alert(ex.message);}
}

function  verifyCard(){
	//---check for card validate
	var pty = $('#PpayPmc').val();
    var txt = $('#PpayTxt').val(); //-หมายเขบัตร
    if(pty!='CASH'){

	}
}
function addPayment() {
    var pty = $('#PpayPmc').val();
    var txt =  sorder.id; //$('#PpayTxt').val(); //-หมายเขบัตร
    var amts = $('#PpayAmt').val();

    var amt = parseFloat(amts.replace(",", ""));
    if (isNaN(amt)) return;
    
    //---------Only cASH that allow change---
    if ((pty!="CASH") &&  amts >balAmt) {
    	alert('Only CASH payment that allow change');
    	$('#PpayAmt').val('');
    	return;
    }
    
    var found = 0;
    
    try {
        $('#payTab tr:gt(0)').each(function () {
            var pm = $(this).find('td:eq(0)').text();
            if (pm == pty) {
                //replace value with new one
                $(this).find('td:eq(1)').text(txt);
                $(this).find('td:eq(2)').text(numericFormat(amt));
                found = $(this).index();
            }
        });

        if (found == 0) {
            //Add new row to payTAb
            var thisTr = "<tr>";
            thisTr = thisTr + "<td>" + pty + "</td>";
            thisTr = thisTr + "<td>" + txt + "</td>";
            thisTr = thisTr + "<td align='right'>" + numericFormat(amt) + "</td></tr>";
            $('#payTab tr:last').after(thisTr);
        }
        
        $('#PpayTxt').val('');
        $('#PpayAmt').val('');
        
        balAmt =sumPTotal();
        
      
       //--------------warning code below dont wait for sumTotal if we dont get the value back from fucntion ??????
       if(balAmt == 0){ 
      // alert("disabled");
        $('#payBtnOK').prop( "disabled", false );
        $('#payBtnOK').focus();
        }
       else {  
        $('#PpayPmc').focus(); 
        $('#payBtnOK').prop( "disabled", true);   
        }
    }
    catch (ex) {
        alert(ex.message);
    }
}

function sumPTotal() {
var bAmt=0;
  try { 
    payAmt = 0;
    $('#payTab tr:gt(0)').each(function () {
        var am = $(this).find('td:eq(2)').text();
        am = am.replace(/,/g, '');
        payAmt = payAmt + parseFloat(am);
    })
    bAmt = dueAmt*1 + tipAmt*1 - payAmt;
    chgAmt = 0;
    
    if (bAmt <= 0) {
        chgAmt = -bAmt;
        bAmt = 0;
        $('#payBtnOK').prop('disabled', false);  //---save transaction
        $('#payBtnOK').focus();
    }
    else {  
        $('#PpayPmc').focus(); 
        $('#payBtnOK').prop('disabled', true);
        }
    
        var due= dueAmt*1 + tipAmt*1 ;
        $('#PpayAmt').val(due);
    $('#PdueAmt').text(numericFormat( due ));
    $('#PpaidAmt').text(numericFormat(payAmt));
    $('#PbalAmt').text(numericFormat(bAmt));
    $('#PchgAmt').text(numericFormat(chgAmt));
     
     
    }
    catch (ex) {
        alert(ex.message);
    }
   return bAmt;
}
function keyPMPress(ev) {
    var x = ev.keyCode;
    if (x == 13) {
      $('#payBtnOK').focus(); //
    }
}
/*
function keyTPPress(ev) {
    var x = ev.keyCode;
    if (x == 13) {
        checkTip();
    }
}
 
function checkTip() {
        tipAmt =$('#PtipTxt').val();
        $('#PtipTxt').val(numericFormat( tipAmt));
        sumPTotal()
        $('#payBtnOK').focus(); //
   
}
*/
/***/ 

     
function cancelPayment(){
   $('#paymentDiv').modal('hide'); 
 
}

function confirmPayment( ) {
	try { 
   var last 	=$('#salesItem').find(' tr:last').index();
   var rcvn	= 1;   //$('#rcvnum').text();
   if (last < 1) { alert("NO Sales Item"); return; }
   
  // ---------Check payment and due --
   if (balAmt>0) return;
   

  
   //----------------------------
   var vipid    = sorder.vipid;     //$('#custId').text();
   var custname = sorder.custname; //$('#custName').text();
             
   var xmld="";
    
  //---------Add PAyment
   $('#payTab').find('tr:gt(0)').each(function () {
       var pmc = $(this).find('td:eq(0)').text();
       var pmn = $(this).find('td:eq(1)').text(); // $('#pmNum').val();
       var pma = $(this).find('td:eq(2)').text(); // $('#pmAmt').text();
       var chg = 0;
       if (pmc =='CASH')chg=chgAmt;
       xmld = xmld + " <PAYMENT>"
                   + "<PMCODE>" +  pmc.trim() + "</PMCODE>"
                   + "<PMNUM>" 	+ pmn + "</PMNUM>"
                   + "<PMAMNT>" + pma.replace(/,/g,'')  + "</PMAMNT>"
                   + "<PMFDS>" 	+  chg  + "</PMFDS>"
                   + "</PAYMENT>";
   });
    /*---------Add DiSCOUNT
       xmld = xmld + " <RDISC>"
                   + "<PMCODE>MANAGER</PMCODE>"
                   + "<AUTH>" 	+ discount.auth + "</AUTH>"
                   + "<DABLE>" +  discount.dable   + "</DABLE>"
                   + "<PERC>" 	+ discount.perc + "</PERC>"
                   + "<AMNT>" 	+ discount.amnt + "</AMNT>"
                   + "</RDISC>";
    */
     var gtotal  =$('#gtotal').text().replace(/,/g,'');
     var nitem   =1;
     var tqnt   =1;
     var vatPer =7.00;

     var hdr = "<HEADER><FUNCT>SAVETR</FUNCT><REQID>1</REQID>"
  			+"<STCODE>"		+ storeCode 	+	"</STCODE>"
            +"<LOCK>"		+ lockNumber	+	"</LOCK>"
            + "<CASHIER>"   + cashierId 	+ 	"</CASHIER>"
            + "<CUSTID>"    + sorder.vipid + "</CUSTID>"
            + "<CUSTNAME>"  + sorder.custname + "</CUSTNAME>"
            + "<SORDER>"    + sorder.id + "</SORDER>"
            +"<RCVNO>" 		+ rcvn			+"</RCVNO>"
            +"<NITEM>0</NITEM>"
            +"<TQNT>0</TQNT>"
           + "<TAMT>"       + gtotal   + "</TAMT>"
           + "<TDIS>"       + discount.amnt  +  "</TDIS>"
           + "<SCHARGE>"    + srvAmt +  "</SCHARGE>"
           + "<TDIS>"       + discount.amnt  +  "</TDIS>"
           + "<VRATE>"      + vatPer + "</VRATE>"
           + "<TVAT>"       + gtotal + "</TVAT></HEADER>";

   xmld ='<REQUEST>'+ hdr + xmld + "</REQUEST>";
  
  // alert(xmld);
   
   // var xmldata ={'FUNCT':'DBREQUEST', 'PARA':xmld};
   qry ="Exec CLOUDPOS..ws_SAVETR '"+xmld +"'" ;
   ajaxPosRequest(qry, function(bool,ret ){
	   	try { 
    		if(bool){
    			console.log(ret); //--return 1 row of that command
    	    //alert(JSON.stringify(ret));
    			//var xml=ret.Res;
                saveTrReturn(ret);
                 
    		 }
    		else {
    		    alert(qry +' '+ ret);
    			showInfo(ret);
    		}
	   	}
	   	catch(ex){alert("Ajax err ..."+ex.message);}
    });
 
   }
catch(ex){alert("Save Payment err ..."+ex.message);}
}

//************************
function saveTrReturn(ret) {  //--ret is json data
   try {
    //  {"REQID":"1","STCODE":"920","LOCKNO":"900","DBCODE":0,"REFNO":"900033650 ","MESSAGE":"SAVE SUCCESSFUL"
       //------Check Response
       var err  = ret["DBCODE"];
       var emsg = ret["MESSAGE"]; 
       var ref  = ret["REFNO"];
       var dbrr = parseInt(err);
       var amnt = ret["AMNT"];

       //-----or you can us JSON to readData
       if ( isNaN(dbrr) || (dbrr>0) > 0)   {
           //alert('ERROR [' + err + ']\n' + emsg);
           alert('ERROR [' + emsg + ']\n' + emsg);
           return;
       }

       //-----------SAve PAyemnt of this Salesorder 
       var pdata={
                 tendor:'PPOS'
                ,bankref:ref
                ,amount:amnt
                ,POSREF:ref
       }
       var qry="exec savepayment '"+  sorder.id   +"','"+ JSON.stringify(pdata)  +"','PPOS'," + amnt +",'"+ ref +"' ";
      // console.log(qry);
     
      ajaxGetQuery(qry,function(isok,resp){
            console.log(resp);
            $('#respDiv').html(resp);
            var rjsn =JSON.parse(resp);
            if(rjsn.dbcode==0){
               alert("Save Payment OK");
                 window.close();
               return
            }
            else {
                console.log(resp)
                alert("Save payment Error "+rjsn.dbmessage)
            }
          });
       

      // $("#paymentDiv").modal('hide');
      // window.close();
      /*
       //--Show this receipt and print
       setTimeout( detailRcpt(ref),200);  //wait abit before Showdetail
       //-wait abit before activate Upstream
     //  setTimeout( sendUpstream(ref),600);  //wait abit before Showdetail
       
       reloadWarn=0;
	   showSItem();  //clear any action on previous sales  
       //$('#barcode').focus();
       */
       //-----------------
   }
   catch (ex) { alert(ex.message); }
}

function cancelPayment(){
   $('#paymentDiv').modal('hide'); 
 
}



</script>

<div class="modal fade" id="paymentDiv" role="dialog"  tabindex="-1">
        <div class="modal-dialog modal-md">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                <h3>Payment by Customer # <span id='eorderid'></span> </h3> 
                </div>   
            <div class="modal-body" id="paymentModal">
            <!  ----------Payment Part---------------- > 
                <div id ='paidDiv' style='border:2px solid navy;width:100%;height:140px;'>
                        <table id ='payTab' class='table table-striped'>
                        <thead><th>Tender<th>ID<th> Amount</thead>
                        </table>
                </div>
        
                <table style='width:100%;font-size:120%'>
                <tr align ='right' bgcolor='silver' ><td width ='70%'>Total  Amount
                    <td   id ='PtotAmt'>:00
   

                <tr align ='right'><td>Paid Amount
                    <td  id ='PpaidAmt' >0.00

                <tr align ='right'><td>Balance Amount
                    <td  id ='PbalAmt' >0.00
                <tr align ='right' bgcolor='#C0E0E0'><td>Change
                    <td  id ='PchgAmt' >0.00
            </table>
        
        
        <div style='border:2px solid navy;width:100%'  >
        
            <div class="form-group">
            <label for="PpayPmc" class='control-label col-xs-3'>Tender:</label>
             <div id='tendorDiv'> 
                <select id ='PpayPmc' name ='PpayPmc'  >
                   <option value='PPOS'>Pay at POS(CASH)</option>
                </select>
            </div>
            </div>
            <!-- 
            <div class="form-group">
            <label for="PpayTxt" class='control-label col-xs-3'>Tender ID:</label>
            <input type="text"  id='PpayTxt'  size ='20' value=''  
                        onkeypress='javascript:keyPMPress(event)'  >
            </div>
                -->

            <div class="form-group">
            <label for="PpayAmt" class='control-label col-xs-3'>Amount:</label>
            <input type="number"  id='PpayAmt'  size ='14' value='0.00'  
                        onkeypress='javascript:keyPMPress(event)'  >
            </div>
        
            </div>
                        
            <div class="modal-footer">
                <div id='errDiv'>
                 Error!!!   payment may not load propery
                </div>
            <a href="javascript:confirmPayment()"  class="btn btn-primary" >Confirm</a>
            <a href ="javascript:cancelPayment();" class="btn btn-default" >Esc Cancel</a>
            </div>
        </div> <!-- Content-->
</div>
</div>
    <!- ------------------------------ ->