

<div id ='showDiv' >
  
  <script>
    var actionLine = 0;
    var editObj;

function menuOver(obj) {
      //----------Display Remakr on info
      var rem = $(obj).find('.tdWrap').text();
      $('#remarkDiv').text(rem);
      return;
    /*
    //----------no menu
	  editObj =obj;
    var pos     = $(obj).position();
    var mpos    = $('#salesDiv').position();
    actionLine  = $(obj).find('td:eq(0)').text();

    //------display popup menu
    $('#popupMenu').css('top', pos.top+mpos.top);
  	var wdt=$('#salesDiv').width();
	  $('#popupMenu').css('left', mpos.left + wdt-120);
    $('#popupMenu').show();


*/
    /*  -------Show Image
      var skc =$(obj).find('td:eq(9)').text();
      var nme =$(obj).find('td:eq(3)').text();
    
      $('.card-text').html(skc+".jpg<br>"+nme );
        
      //--------get image from DAtabase
      var url="/B/"+ skc  ;
      $.get(url,function(data){
      $('#imgDiv').html( " <img src='" +data + "' height='140px'  >") ;
      });
        $('#popUpImage').css('top', pos.top+mpos.top);
        $('#popUpImage').show();
      */
   }
 /*  
//================EDIT ITem ++++++++++++++++
function editItem() {
    //alert('Edit line ' + actionLine);
    $('#editMenu').hide();

    if($('#editItemDiv').length==0){
    var pat="../PAYMENT/editItem.htm";
        $.get( pat, function( data ) {
            $('body').append(data);
            startEditItem(editObj);
            
            }).fail(function() {
                alert('Cant not load Pattern '+pat); // or whatever
            });
        }
    else  startEditItem(editObj);

 }
 
function deleteItem() {
	 
	if( confirm("Delete Item  #"+actionLine)==0)return;
	
	var qry ="delete from CLOUDPOS..xtrans where seq=" +actionLine + " and STC ='"+storeCode +"' and LCK='" +lockNumber +"' ";
   // alert(qry );
	try {
	
      $('#editMenu').hide();
      ajaxPosRequest(qry, function (bool,ret) {
              if (bool) {  
              showSItem();
                      }
              else
                  alert(ret);
          });
     }
    catch (ex) { alert(ex.message);}
    }
  function hideReceipt(){
    $('#receiptDiv').hide();
  }
  */
  </script>

  <div class='row'>
      <center>
      <span>
        <h3>Upfront Solution System POS# 3214-234-33</h3>
        <label id ='rcptLabel' >STORE:[#xpd.STCODE] CASHIER:[#xpd.USERID] LOCK:[#xpd.LOCKNO] RECEIPT:[#xpd.ENDRCV]</label>
        <label id ='cdate'>[#xpd.LOGINDATE] </label>
      </span><br>
    <h4> For EORDERING # <b> <span id='sorderId'></span></b> Customer:<b><span id='sorderVipid'></b></span></h4> 
      </center>
      <hr>

      <div class="col-sm-12" id ='salesDiv' >
          <table id ='salesItem' class="table table-striped">
          <thead class='thead-info'>
          <th>ITEM</th> 
          <th>QUANT</th> 
          <th>PRCODe</th> 
          <th>NAME</th> 
          <th>DTY</th> 
          <th>VTY</th> 
          <th>UPC</th> 
          <th>DISCOUNT</th> 
          <th>TOTAL</th> 
          </thead>
          <tr id='totalLine' style='background-color:teal;color:yellow;font-size:150%'>
            <td align='center' colspan='8'>Grand Total</td>
            <td align='right'> 0.00</td> </tr>
          </table>
      </div>
    <div id='remarkDiv' class='well'>
      Remark
    </div>
  </div>

  <!----To prevent Blink when mouseleve and mouse over popup menu, these div must be in side  'salesDiv'  -->
  <div id='popupMenu' style='display:none;z-index:6;position:absolute;'>
  <!-- 
    <a href="javascript:deleteItem()" class="btn smn btn-danger">Remove</a> 
  -->   
      <a href="javascript:editItem()"   class="btn smn btn-primary">Edit</a>
  </div>
 
  <div class="card" style=" width:20rem;display:none;z-index:4;
        background-color:white;position:absolute;"
      id='popUpImage' > 
      <figure class="card card-product" />
      <div id='imgDiv' class="card-img-top"> 
      </div>
        <p class="card-text"></p>
  </div>
 
 
  
    <div  id='receiptDiv' class='rndDiv' 
        onclick="javascript:hideReceipt();"
        onkeypress="javascript:hideReceipt();"
      style='display:none;z-index:6;position:absolute;top:80px;top:100px;left:100px'  > 	 
    </div>
 
</div> <!-- Main-->