<div id='selStoreDiv'> 
<script> 
 
function startSelStc(){
    $('#selStcModal').modal('show');
  
}
function confirmStore(){ 
    var stc   =$('#stctxt').val().trim();
    var stn   =$('#stctxt option:selected').text() ;
    $('#selStcModal').modal('hide');

    saveCookie('WDFSTORE',stc,1); 
    saveCookie('WDFSTNAME',stn,1);

    storeCode=stc;
    storeName=stn;
    $('#workStore').text(stc+' '+stn);
    //--add2cart
    //add2Cart(frstsk);
}
function cancelStore(){ 
    $('#selStcModal').modal('hide');
}
</script>

<div class="modal fade" id="selStcModal" role="dialog"  tabindex="-1">
       <div class="modal-dialog modal-md">
           <div class="modal-content">
               <div class="modal-header" style="padding:10px 50px;">
                    <h4> กรุณาเลือกสาขา</h4>  
               </div>
               <div style="padding:40px 50px;">
                    <div class="form-group">
                        <label for="stctxt"><span class="glyphicon glyphicon-user"></span>Working at Store</label>
                            <select class="form-control" id ='stctxt'>
                            <option value='920'>TWD Bangna</option>
                            <option value='974'>Nong Chok</option>
                            </select>  
                    </div>
                        <a href = "javascript:confirmStore()" class="btn btn-success">Confirm </a>
                        <a href = "javascript:cancelStore()"  class="btn btn-danger">Cancel</a>
               </div>

             </div>
               
            <div class="modal-footer">
                
            </div>

        </div>
</div>

> 