<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <h3>Void Reason Management</h3>
        </div><br>
        <div class="row">
            <div class="col-md-12">
                <button class='btn btn-sm btn-primary' onclick="addNewVoidReason(this);">Add New Reason</button>
            </div>
        </div><br>
        <div class="row" id='vrs-div' >
            <div class="col-md-7" style='padding-left: 0px;'>
                <table class="table table-bordered table-striped" id='vrs-tb'>
                    <thead id='vrs-head'>
                        <tr>
                            <th width="120">Reason Code</th>
                            <th>Reason Name</th>
                            <th width="80">Status</th>
                            <th width="50">Edit</th>
                        </tr>
                    </thead>
                    <tbody id='vrs-body'>

                    </tbody>
                </table>
            </div>
        </div><br>

        <!-- Modal -->
        <div id="edit-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
        
                <!-- Modal content-->
                <div class="modal-content">
                <form action="javascript:saveEditVoidReason();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="edit-title">Edit Void Reason (<span id='vrcode'></span> - <span id='vrname'></span>)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Reason Code:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type='text' readonly class='form-control' id='edit-code' onkeypress="return event.charCode >= 48 && event.charCode <= 57;" maxlength="2" minlength='2' required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Reason Name:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type='text' class='form-control'  id='edit-name' maxlength="100" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Status:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select class='form-control' id='edit-status'>
                                    <option value='A'>Active</option>
                                    <option value='I'>In active</option>
                                </select>                        
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary" onclick='this.blur();'>Confirm</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                </div>
        
            </div>
        </div>

        <div id="add-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
        
                <!-- Modal content-->
                <div class="modal-content">
                <form action="javascript:saveAddVoidReason();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="add-title">Add New Void Reason</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>Reason Code:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type='text' class='form-control' id='new-code' onkeypress="return event.charCode >= 48 && event.charCode <= 57;" maxlength="2" minlength='2' required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Reason Name:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type='text' class='form-control' id='new-name' maxlength="100" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>Status:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <select class='form-control' id='new-status'>
                                    <option value='A' selected>Active</option>
                                    <option value='I'>In active</option>
                                </select>                   
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary" onclick='this.blur();'>Confirm</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
                </div>
        
            </div>
        </div>
    </div>
</div>

<script>
    function pageReady(){
        getVoidReason();
    }

    function getVoidReason(){
        var qry = `exec TWDPIM..getVoidReason`;
        ajaxGetQuery(qry, (isok,ret) => {
            var jsn = JSON.parse(ret);
            if(isok) {
                var body = '';
                if(jsn.dbrows > 0) {
                    for(i=0; i<jsn.dbrows; i++) {
                        var code = jsn.dbitems[i].RSCODE;
                        var name = jsn.dbitems[i].RSNAME;
                        var status = jsn.dbitems[i].STATUS;
                        body += `<tr>
                                    <td>${code}</td>
                                    <td>${name}</td>
                                    <td>${status}</td>
                                    <td><center><button class='btn btn-sm btn-info' onclick="javascript:editReason(this, '${code}', '${name}', '${status}')">Edit</button>
                                 </tr>`;
                    }
                    $('#vrs-body').html(body);
                } 
                $('#vrs-tb').DataTable();
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    function addNewVoidReason(obj){
        $('#add-modal').modal('show');
        obj.blur();
    }

    function editReason(obj, code, name, status) {
        $('#vrcode').html(code);
        $('#vrname').html(name);
        $('#edit-code').val(code);
        $('#edit-name').val(name);
        $('#edit-status').val(status);
        $('#edit-modal').modal('show');
        obj.blur();
    }

    function saveAddVoidReason(){
        var code = $('#new-code').val();
        var name = $('#new-name').val();
        var status = $('#new-status').val();
        var userid = readCookie('WUSERID');

        if(name == ' '){
            swalAl('warning','Failed!','กรุณาระบุ Reason Name')
            return;
        }

        var qry = `exec TWDPIM..updateVoidReason 'A','${code}','${name}','${status}','${userid}'`;
        var pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if(isok) {
                clearTable();
                getVoidReason();
                swalAl("success", "Successful", 'Added Successfully!');
                $('#add-modal').modal('hide');
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
            $('#new-code').val('')
            $('#new-name').val('')
            $('#new-status').val('')
        })

    }
    
    function saveEditVoidReason(){
        var code = $('#edit-code').val();
        var name = $('#edit-name').val();
        var status = $('#edit-status').val();
        var userid = readCookie('WUSERID');

        if(name == ' '){
            swalConfirm('warning','Failed!','กรุณาระบุ Reason Name')
            return;
        }

        var qry = `exec TWDPIM..updateVoidReason 'E','${code}','${name}','${status}','${userid}'`;
        var pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if(isok) {
                clearTable();
                getVoidReason();
                swalAl("success", "Successful", 'Updated Successfully!');
                $('#edit-modal').modal('hide');
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })

    }

    function clearTable(){
        $('#vrs-div').html(`<div class="col-md-7" style='padding-left: 0px;'>
                                <table class="table table-bordered table-striped" id='vrs-tb'>
                                    <thead id='vrs-head'>
                                        <tr>
                                            <th width="120">Reason Code</th>
                                            <th>Reason Name</th>
                                            <th width="80">Status</th>
                                            <th width="50">Edit</th>
                                        </tr>
                                    </thead>
                                    <tbody id='vrs-body'>

                                    </tbody>
                                </table>
                            </div>`);
    }
</script>