<script>
    var xl_header;
    var stc;
    var count = 0;
    var insitms = [];
    $(document).ready(() => {
        getStoreByUser();
    })

    function getStoreByUser() {
        var userid = readCookie('WUSERID');
        var stc = readCookie('WDFSTORE');
        var qry = `exec CLOUDPOS..cs_loadStoreByUser '${userid}', '${stc}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (jsn.dbcode == 0) {
                if (jsn.dbrows > 0) {
                    for (i = 0; i < jsn.dbrows; i++) {
                        $('#sel-store').append(
                            `<option value='${jsn.dbitems[i].ST_CODE}'>${jsn.dbitems[i].ST_CODE + ' - ' + jsn.dbitems[i].ST_TNAME}</option>`
                        );
                    }
                }
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    function handleFileSelect(evt) {
        stc = $('#sel-store').val();
        if (stc == '') {
            swalConfirm('warning', 'กรุณาเลือกสาขา', '');
            clearInputFile(inpfile);
            return
        }

        var userid = readCookie('WUSERID');
        clearTable();
        insitm = [];
        $('#btnProcess').removeAttr("disabled");
        console.log('File is selected  ')
        var tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }

        var insitm = '';
        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];

            var xl_row = XLSX.utils.sheet_to_row_object_array(worksheet);
            xl_header = getHeaders(worksheet);

            if (!xl_header.includes('SKU') || !xl_header.includes('Location')) {
                clearAll();
                swalConfirm('warning', 'กรุณาตรวจสอบไฟล์', 'ไฟล์ Excel ควรมีคอลัมน์ดังนี้\r\nSKU และ Location')
                return
            }

            var header = `<tr><th class='text-center'>SKU</th><th class='text-center'>Location</th></tr>`;
            $('#header').html(header);
            var detail = '';
            var idx = 0;
            for (i = 0; i < xl_row.length; i++) {
                var sku = xl_row[i].SKU;
                if (sku == null) {
                    continue;
                } else {
                    sku = sku.replace(/\./g, '').replace(/\+/g, '').replace(/\//g, '');
                }
                if (sku == '' || sku.length != 8 || sku.includes('E') || xl_row[i].Location == null || xl_row[i]
                    .Location == '') {
                    continue;
                }
                if (i % 1000 == 0) {
                    insitm = insitm.substring(0, insitm.length - 1)
                    insitms[idx] = insitm;
                    ++idx;
                    insitm = '';
                }

                insitm +=
                    `(''${stc}'',''${sku}'',''${xl_row[i].Location.trim().replace('\r\n','')}'',''${userid}'',getdate()),`;
                detail += `<tr><td>${sku}</td><td>${xl_row[i].Location.trim()}</td></tr>`;
            }
            if (insitm != '') {
                insitm = insitm.substring(0, insitm.length - 1)
                insitms[idx] = insitm;
            }

            $('#body').html(detail);
            $('#importTB').DataTable({
                "pageLength": 100
            });
            $('#btnAll').show();
            $('#importDiv').show();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    async function process(obj) {
        obj.blur();
        $('#btnchkdata').attr('disabled', true);
        $('#btnProcess').attr('disabled', true);

        var table = $('#importTB').DataTable();

        if (table.rows().data().length == 0) {
            swalConfirm('warning', 'เงื่อนไข!!!',
                'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
            clearAll();
            return;
        }
        stc = $('#sel-store').val();
        if (stc == '') {
            swalConfirm('warning', 'Failed!!!', 'กรุณาระบุสาขา');
            return;
        }
        count = table.rows().data().length;
        var qry = `EXEC TWDPIM..execLocationByStore 'delolddata','${stc}'`;
        var pdata = {
            query: qry
        }
        ajaxExec(pdata, async function (isok, ret) {
            //console.log(ret);
            var jsn = JSON.parse(ret);
            if (jsn.dbcode == 888) {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return;
            } else if (jsn.dbcode == 0) {
                await insertNewData(table, stc);
                swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
                $('#btnchkdata').attr('disabled', false);
                clearInputFile(inpfile);
                clearTableChkData();
                $('#btnchkdata').text('Check Data');
                $('#btnchkdata').val('show');
                $('#chkdiv').hide();
            }
        });
    }

    async function insertNewData(table, stc) {
        var countins = 0;
        var msg = '';
        return new Promise((res, rej) => {
            insitms.forEach(async (itm, idx) => {
                if (itm != '')
                    await insertStep1000Rows(itm);
            })
            res('already uploaded')
        })
    }

    async function insertStep1000Rows(insitm) {
        return new Promise((res, rej) => {
            var qry = `EXEC TWDPIM..execLocationByStore 'insnewdata','${stc}', '${insitm}'`;
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                var jsn = JSON.parse(ret);
                if (jsn.dbcode == 888) {
                    rej(jsn.dbcode)
                } else {
                    res(jsn.dbcode)
                }
            });
        })
    }

    function changestc() {
        clearTableChkData();
        $('#btnchkdata').text('Check Data');
        $('#btnchkdata').val('show');
        $('#chkdiv').hide();
    }

    async function checkData(obj) {
        obj.blur();
        stc = $('#sel-store').val();
        if (stc == '') {
            swalConfirm('warning', 'กรุณาเลือกสาขา\nที่ต้องการตรวจสอบข้อมูล', '');
            return
        }

        if ($('#btnchkdata').val() == 'show') {
            $('#btnchkdata').text('Hide Check Data');
            $('#btnchkdata').val('hide');
            $('#btnchkdata').attr('disabled', true);
            $('#checkstc').html(stc);

            var qry = `EXEC TWDPIM..execLocationByStore 'checkdata','${stc}'`;
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                //console.log(ret);
                var jsn = JSON.parse(ret);
                if (jsn.dbcode == 888) {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    return;
                } else if (jsn.dbcode == 0) {
                    if (jsn.dbrows > 0) {
                        var chkdtl = '';
                        jsn.dbitems.map((itm) => {
                            chkdtl +=
                                `<tr><td>${itm.STORE}</td><td>${itm.SKCODE}</td><td>${itm.Location}</td><td>${itm.CreateUser}</td><td>${itm.CreateDate}</td></tr>`;
                        })
                        $('#chkbody').html(chkdtl)
                        $('#chkdataTB').DataTable({
                            "pageLength": 100
                        })
                        $('#chkdiv').show();
                        $('#btnchkdata').attr('disabled', false);
                    } else {
                        swalConfirm('error', 'ไม่มีข้อมูล!!!', '');
                        $('#btnchkdata').text('Check Data');
                        $('#btnchkdata').val('show');
                        $('#chkdiv').hide();
                        $('#btnchkdata').attr('disabled', false);
                        return;
                    }
                }
            });
        } else {
            $('#btnchkdata').text('Check Data');
            $('#btnchkdata').val('show');
            clearTableChkData();
            $('#chkdiv').hide();
        }


    }

    function clearAll() {
        $('#btnchkdata').text('Check Data');
        $('#btnchkdata').val('show');
        clearInputFile(inpfile);
        clearTable();
        clearTableChkData();
        $('#chkdiv').hide();
        $('#btnAll').hide();
        $('#importDiv').hide();
        $('#sel-store').val('');
        $('#btnProcess').removeAttr("disabled");
        insitm = [];
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<h4>รายการ Location By Store ที่ต้องการอัพโหลด</h4>
                              <table id="importTB" class="table table-striped table-bordered">
                                  <thead id="header">

                                  </thead>
                                  <tbody id="body">

                                  </tbody>
                              </table>`);
    }

    function clearTableChkData() {
        $('#chkdataTB').remove();
        $('#chkdataDiv').html(`<h4>Location of <span id='checkstc'></span></h4>
                                <table id="chkdataTB" class="table table-striped table-bordered">
                                    <thead id="chkheader">
                                        <tr>
                                            <th class='text-center'>Store</th>
                                            <th class='text-center'>SKCode</th>
                                            <th class='text-center'>Location</th>
                                            <th class='text-center'>Create User</th>
                                            <th class='text-center'>Create Date</th>
                                        </tr>
                                    </thead>
                                    <tbody id="chkbody">
                    
                                    </tbody>
                                </table>`);
    }

    function hideCountRow() {
        $("#countrowupdate").hide();
    }
</script>
<style>
    .card-float {
        border: 1px solid lightgray;
        position: fixed;
        bottom: 20px;
        right: 20px;
        float: right;
        width: 215px;
        border-radius: 10px;
        background-color: lightgray;
        box-shadow: 4px 4px;
    }
</style>
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <h3>Location By Store</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <pre><h4>You can update location by store from this page and you must have content like this: SKU, Location</h4></pre>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-4 col-xs-12" style='margin-top: 10px;'>
                <label for='sel-store'>กรุณาระบุสาขา</label>
                <select id='sel-store' name='sel-store' class='form-control' onchange="changestc();">
                    <option value=''>เลือกสาขา</option>
                </select>
            </div>
            <div class="col-md-5 col-xs-12" style='margin-top: 10px;'>
                <label for="inpfile">เลือกไฟล์ที่ต้องการอัพโหลด</label>
                <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
            </div>
        </div><br>
        <div class="row">
            <div class="col-xs-12">
                <button type='button' class='btn btn-info btn-sm' id='btnchkdata' value='show'
                    onclick='checkData(this);'>Check Data</button>
            </div>
        </div>
        <hr>
        <div class="row" id='chkdiv' hidden>
            <div class="col-md-8 col-xs-12" id="chkdataDiv" style="margin:0px;">
                <h4>Location of <span id='checkstc'></span></h4>
                <table id="chkdataTB" class="table table-striped table-bordered">
                    <thead id="chkheader">
                        <tr>
                            <th class='text-center'>Store</th>
                            <th class='text-center'>SKCode</th>
                            <th class='text-center'>Location</th>
                            <th class='text-center'>Create User</th>
                            <th class='text-center'>Create Date</th>
                        </tr>
                    </thead>
                    <tbody id="chkbody">

                    </tbody>
                </table>
            </div>
            <div class="col-md-4 col-xs-12"></div>
            <div class="col-md-12">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 col-xs-12">
                <div class="row" id="importDiv" style="margin:0px;" hidden>
                    <h4>รายการ Location By Store ที่ต้องการอัพโหลด</h4>
                    <table id="importTB" class="table table-striped table-bordered">
                        <thead id="header">

                        </thead>
                        <tbody id="body">

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row" id="btnAll" style='margin-bottom: 15px;' hidden>
            <div class="col-md-4 col-xs-12">
                <button onclick='javascript:process(this);' class='btn btn-primary' id="btnProcess">Process</button>
                <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
            </div>
        </div>
        <div class="card-float" id="countrowupdate" hidden>

        </div>
    </div>
</div>