<script>
    let xl_header;

    function process() {
        var table = $('#importTB').DataTable();

        if (table.rows().data().length == 0) {
            swalConfirm('warning', 'เงื่อนไข!!!',
                'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
            clearAll();
            return;
        }

        let count = table.rows().data().length;
        let countFailed = 0;
        var sku, skuservice;
        let data = table.rows().data();
        let jsnSkuService = data.map((itm, idx) =>
            `{"SKU": ${data[idx][0]}, "SKUSERVICE": ${data[idx][1]}, "GOWITH": ${data[idx][2]}}`).join(',');
        jsnSkuService = '[' + jsnSkuService + ']';

        let qry = `exec TWDPIM..execSKUInstallation 'upload', '${jsnSkuService}', '${userId}'`;
        let pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (!(isok && jsn.dbcode == 0)) {
                swalConfirm('error', 'Failed', jsn.dbmessage);
                clearAll();
                return
            }

            if (jsn.dbrows > 0) {
                countFailed = jsn.dbrows;
                let header = '<tr><th>SKU</th><th>SKUSERVICE</th><th>GOWITH</th><th>ERRMSG</th></tr>'
                let body = '';

                for (var i = 0; i < jsn.dbrows; i++) {
                    body +=
                        `<tr><td>${jsn.dbitems[i].SKU}</td><td>${jsn.dbitems[i].SKUSERVICE}</td><td>${jsn.dbitems[i].GOWITH}</td><td>${jsn.dbitems[i].ERRMSG}</td></tr>`;
                }
                $('#headerfail').html(header);
                $('#bodyfail').html(body);

                let tableFail = $('#importfailTB').DataTable({
                    dom: 'Bfrtip',
                    buttons: [{
                        extend: 'excel',
                        title: null
                    }],
                    "searching": false
                });

                $('#importfailDiv').show();
            }

            swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + (count - countFailed) + ' แถว');
            $('#btnProcess').attr('disabled', true);
            clearInputFile(inpfile);
        })
    }

    function handleFileSelect(evt) {
        clearTable();
        $('#btnProcess').removeAttr("disabled");
        console.log('File is selected  ')
        var tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }
        // files is a FileList of File objects. List some properties.
        var jsntotalsku = "";
        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];
            var XL_row_object = XLSX.utils.sheet_to_row_object_array(worksheet);
            xl_header = getHeaders(worksheet);

            let lstheader = xl_header.map((itm) => itm.toLowerCase());
            if (!lstheader.includes('sku') || !lstheader.includes('skuservice') || !lstheader.includes('gowith')) {
                clearAll();
                swalConfirm('warning', 'กรุณาตรวจสอบไฟล์',
                    'ไฟล์ Excel ควรมีคอลัมน์ดังนี้\r\nSKU, SKUSERVICE และ GOWITH')
                return
            }

            let skuHeader, skuServiceHeader, goWithHeader;
            xl_header.map((itm, idx, arr) => {
                skuHeader = (itm.toLowerCase() == 'sku') ? itm : skuHeader;
                skuServiceHeader = (itm.toLowerCase() == 'skuservice') ? itm : skuServiceHeader;
                goWithHeader = (itm.toLowerCase() == 'gowith') ? itm : goWithHeader;

                if (idx == arr.length - 1) {
                    $('#header').html(`<tr>
                                    <th width="200">SKU</th>
                                    <th width="200">SKUSERVICE</th>
                                    <th width="100">GOWITH</th>
                                </tr>`);
                    let detail = '';
                    let sku, skuservice, gowith;
                    for (i = 0; i < XL_row_object.length; i++) {
                        sku = (XL_row_object[i][skuHeader] != null) ? XL_row_object[i][skuHeader] : '';
                        skuservice = (XL_row_object[i][skuServiceHeader] != null) ? XL_row_object[i][skuServiceHeader] : '';
                        gowith = (XL_row_object[i][goWithHeader] != null) ? XL_row_object[i][goWithHeader] :
                            '';

                        if (sku == '' || skuservice == '' || skuservice == '') {
                            sku = (sku == '') ? 'ว่าง' : sku;
                            skuservice = (skuservice == '') ? 'ว่าง' : skuservice;
                            gowith = (gowith == '') ? 'ว่าง' : gowith;
                            swalConfirm('warning', 'กรุณาตรวจสอบไฟล์!!!',
                                'กรุณาระบุข้อมูลให้ครบถ้วนก่อนการอัพโหลด\r\n(SKU: ' + sku +
                                ', SKUSERVICE: ' + skuservice +
                                ', GOWITH: ' + gowith);
                            clearAll();
                            return;
                        }
                        detail += `<tr>
                                <td>${sku}</td>
                                <td style='text-align:right;' class='numeric'>${skuservice}</td>
                                <td style='text-align:right;'>${gowith}</td>
                            </tr>`;
                    }
                    $('#body').html(detail);
                    $('#importTB').DataTable({
                        sDom: 'lrtip'
                    });
                    $('#btnAll').show();
                }
            })
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<table id="importTB" class="table table-striped table-bordered">
                                  <thead id="header">

                                  </thead>
                                  <tbody id="body">

                                  </tbody>
                              </table>`);
    }

    function clearAll() {
        clearInputFile(inpfile);
        clearTable();
        clearTableFail();
        $('#btnAll').hide();
        $('#btnProcess').removeAttr("disabled");
    }

    $('#btnShowData').on('click', function () {
        this.blur();
        var val = $('#btnShowData').val();
        if (val == 'show') {
            $('#btnShowData').html('Hide All');
            $('#btnShowData').val('hide');
        } else {
            $('#btnShowData').html('Show All');
            $('#btnShowData').val('show');
        }

        if (val == 'show') {
            getAllDetail();
        } else {
            clearShowDetail();
        }
    })

    function getAllDetail() {
        let qry =
            `exec TWDPIM..execSKUInstallation 'getdata'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            let body = '';
            if (isok) {
                if (jsn.dbrows > 0) {
                    for (i = 0; i < jsn.dbrows; i++) {
                        body += `<tr>
                                            <td>${jsn.dbitems[i].SKU}</td>
                                            <td>${jsn.dbitems[i].SKUSERVICE}</td>
                                            <td>${jsn.dbitems[i].GOWITH ? 'ไปพร้อมช่าง' : 'ไม่ไปพร้อมช่าง'}</td>
                                            <td>${jsn.dbitems[i].USERID}</td>
                                            <td>${jsn.dbitems[i].LUPD}</td>
                                            <td><center><button type='button' class='btn btn-danger' onclick="javascript:deleteDetail('${jsn.dbitems[i].SKU}', '${jsn.dbitems[i].SKUSERVICE}')"><i class="fa fa-trash-o" aria-hidden="true"></i></button></center></td>
                                        </tr>`;
                    }
                    $('#dtlbody').html(body);
                    $('#dtlTB').DataTable();
                    $('#dtlDiv').show();
                } else {
                    swalConfirm('error', 'No Data!!!', '');
                    $('#btnShowData').html('Show All');
                    $('#btnShowData').val('show');
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
            }
        })
    }

    function clearShowDetail() {
        $('#dtlTB').remove();
        $('#dtlDiv').html(`<div class="col-md-10 col-xs-12" style="margin:0px; padding-left:0px;" >
                                <table id="dtlTB" class="table table-striped ">
                                    <thead id="dtlheader">
                                        <tr>
                                            <th width="100">SKU</th>
                                            <th width="100">SKU Service</th>
                                            <th width="200">Go With (สินค้าไปพร้อมช่าง?)</th>
                                            <th width="100">Create User</th>
                                            <th width="100">Last Update</th>
                                            <th width="50" style="text-align: center;">DELETE</th>
                                        </tr>
                                    </thead>
                                    <tbody id="dtlbody">
                    
                                    </tbody>
                                </table>
                            </div>`);
        $('#dtlDiv').hide();
    }

    function deleteDetail(sku, skuservice) {
        swal({
                title: "Do you want to delete?",
                text: "SKU: " + sku + ", SKUSERVICE: " + skuservice,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "ตกลง",
                closeOnConfirm: false,
            },
            function () {
                try {
                    var qry = `exec TWDPIM..SKUInstallation_deleteData ${sku}, ${skuservice}`;
                    var pdata = {
                        query: qry
                    }

                    ajaxExec(pdata, (isok, ret) => {
                        if (isok) {
                            swalAl("success", "Successful", 'Deleted Successfully.');
                            clearShowDetail();
                            $('#btnShowData').html('Show All');
                            $('#btnShowData').val('show');
                            $('#btnShowData').click();
                        } else {
                            swalAl("error", "Failed", jsn.dbmessage);
                        }
                    })

                } catch (ex) {
                    swalAl("error", "Failed", ex.message);
                }
            }
        );
    }

    function getDemofile(obj) {
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'ข้อมูล SKU ตัวซื้อ กับ SKU การบริการ - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }

    function clearTableFail() {
        $('#importfailTB').remove();
        $('#importfailDiv').html(`<h4>รายการที่ไม่สามารถนำเข้าข้อมูลได้</h4>
                                <table id="importfailTB" class="table table-striped table-bordered">
                                    <thead id="headerfail">

                                    </thead>
                                    <tbody id="bodyfail">

                                    </tbody>
                                </table>`);
        $('#importfailDiv').hide();
    }
</script>
<style>
    .layout-left {
        padding-left: 0px !important;
    }

    .delete-action:hover {
        cursor: hand;
    }
</style>
<div class="container-fluid">
    <div class="container-fluid">
        <h3>อัพโหลดข้อมูล SKU ตัวซื้อ กับ SKU การบริการ</h3>
        <pre><h5>You can import by excel file and must have content like this:</h5><h4>SKU, SKUSERVICE, GOWITH(1 สินค้าไปพร้อมช่าง, 0 สินค้าไม่ไปพร้อมช่าง)</h4><h5>หมายเหตุ : ระบบจะไม่นำข้อมูลที่ผิดปกติเข้าสู่ระบบ และเป็นการ insert ข้อมูลเท่านั้น</h5></pre>
        <div class="row" style="margin:0px;">
            <button class="btn btn-info" id="btnShowData" value="show">Show All</button>
            <button class='btn btn-success' onclick='getDemofile(this);' style='margin-left: 10px;'>Demo File</button>
        </div><br>
        <div class="row " id="dtlDiv" style="margin:0px;" hidden>
            <div class="col-md-10 col-xs-12" style="margin:0px; padding-left:0px;">
                <table id="dtlTB" class="table table-striped ">
                    <thead id="dtlheader">
                        <tr>
                            <th width="100">SKU</th>
                            <th width="100">SKU Service</th>
                            <th width="200">Go With (สินค้าไปพร้อมช่าง?)</th>
                            <th width="100">Create User</th>
                            <th width="100">Last Update</th>
                            <th width="50" style="text-align: center;">DELETE</th>
                        </tr>
                    </thead>
                    <tbody id="dtlbody">

                    </tbody>
                </table>
            </div>
        </div><br>
        <div class="row" style="margin:0px;">
            <label for="inpfile">กรุณาเลือกไฟล์</label>
            <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
        </div><br>
        <div class="row col-md-4 layout-left" id="importDiv" style="margin:0px;">
            <table id="importTB" class="table table-striped table-bordered">
                <thead id="header">

                </thead>
                <tbody id="body">

                </tbody>
            </table>
        </div>
        <div class="row" style="margin:0px;" id="btnAll" hidden>
            <div class=" col-md-12 layout-left">
                <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
                <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
            </div>
        </div>
        <hr class='line' style='display: none;'>
        <div class="row col-md-6 layout-left" id="importfailDiv" style="margin:0px; padding:0px" hidden>
            <h4>รายการที่ไม่สามารถนำเข้าข้อมูลได้</h4>
            <table id="importfailTB" class="table table-striped table-bordered">
                <thead id="headerfail">

                </thead>
                <tbody id="bodyfail">

                </tbody>
            </table>
        </div><br>
        <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
            <div class="col-md-12">
                <table id="demo-TB" class="table table-striped table-bordered">
                    <thead id="demo-header">
                        <tr>
                            <th>SKU</th>
                            <th>SKUSERVICE</th>
                            <th>GOWITH</th>
                        </tr>
                    </thead>
                    <tbody id="demo-body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
    </div>
</div>