body {
  padding: 50px 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.test {
  font-size:10;
  font-family: 'control;
  
}

@media all {
  .page-break { display: none; }
}

@media print {
  .page-break { 
    display: block; 
    page-break-before: always;
    overflow: hidden!important;
  }
}