 <!--Login  Modal -->
 <script>
     function startLogin(){
        $('#loginModal').modal('show');
     }

   function loginClick(){
     
        var userid 	= $('#xuserid').val();
        var passw  	= $('#passw').val();
        var pdata={query:"exec ws_userlogin  '@user','@passw'",
                    para:{
                         user:userid,
                         passw:passw
                 }}
          $('#message').html("<center><img src='../images/wait.gif' width='100px' ></center>" );
          //-----------------
          try{ 
                 var sUrl ="../POSSRV/QUERY";  // for mssql
                $.ajax({
                    type: "POST",
                    url: sUrl,
                    data: JSON.stringify(pdata),
                    dataType: "text",
                    contentType: "application/json; charset=UTF-8",
                    success: function (ret) { //return is array of data in json 
                        try { 
                            var jsn= JSON.parse(ret);  //JSON.parse(ret);
                            var ecode=jsn.dbcode;
                            var emsg =jsn.dbmessage;
                        
                        
                            if(ecode>0) 
                                $('#message').html( 'Can not login  .. dbError..'+emsg);
                            else {
                                //------set up cookie for other form
                                //console.log(jsn.dbitems[0]);
                                saveCookie('WUSERID',jsn.dbitems[0].USERID );
                                saveCookie('WUGROUP',jsn.dbitems[0].USERGROUP);
                                saveCookie('WUPROFILE',jsn.dbitems[0].PROFILE);                            

                                //-------record login ----------
                                var qry="Exec CLOUDPOS..recordLogin '@userid','@appname'";
                                var pdata ={query:qry,
                                            para:{
                                                userid:jsn.dbitems[0].USERID,
                                                appname:"Control"
                                            }}
                                    ajaxExec(pdata,function(isok,ret){
                                    //console.log(JSON.stringify(ret))
                                })
                                //-------end record login ----------
    
                                 
                                location.reload();
                            }
                            return;
                             }   
                          catch(ex){ 
                              console.log(ret);
                              $('#message').html(ex.message);
                            }
                        },
                        error: function (e) { 
                            $('#message').html('System Error at Ajax call'+ e.responseText);
                        }

                    });
                }
            catch(ex){ $('#message').html(ex.message);}
          /*---------------
          ajaxExec(pdata,function(isok,ret){
                if(isok){ 
                    var jsn=JSON.parse(ret);  //JSON.parse(ret);
                    var ecode=jsn.dbcode;
                    var emsg =jsn.dbmessage;
                
                    if(ecode>0) 
                        $('#message').html( 'Can not login  .. dbError..'+emsg);
                    else {
                        //------set up cookie for other form
                            saveCookie('WUSERID',jsn.dbitems[0].USERID );
                            saveCookie('WUGROUP',jsn.dbitems[0].UGROUP);

                          //  $('#loginModal').modal('hide');
                            location.reload();
                        }
                }
                 else {alert('System Error at Ajax call')}
            });
         */     
      }
 </script>
 <div class="modal fade" id="loginModal" role="dialog"  tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="padding:25px 20px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4>  <span class="glyphicon glyphicon-lock"></span>LOGIN to E-Ordering Control </h4>
                    
                </div>
                <div style="padding:40px 50px;">
 
                        <div class="form-group">
                            <label for="xuserid"><span class="glyphicon glyphicon-user"></span> Username</label>
                            <input type="text" class="form-control" name="xuserid" id="xuserid" placeholder="Enter Userid" value="">
                        </div>
                        <div class="form-group">
                            <label for="passw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="password" class="form-control" name="passw" id="passw" placeholder="Enter password" value="">
                        </div>
              
                        <button type="button" class="btn btn-success btn-block" onclick="loginClick()">
                            <span class="glyphicon glyphicon-off"></span> Login
                        </button>
                        <div id='message' class="info info-default">

                        </div>
                   </form>
                </div>

                <div class="modal-footer">
                    <p>Forgot <a href="javascript:resetPassword();">Password?</a></p>
                </div>

            </div>
        </div> 
    </div>
    
