 <!--Login  Modal -->
 <script>
     function startLogin(){
        $('#xuserid').val(myuserid);
        $('#loginModal').modal('show');
     }

   function loginClick(){
        var userid 	= $('#xuserid').val();
        var passw  	= $('#passw').val();
       
          $('#message').html("<img src='./images/wait.gif' width='100px' >" );
          //-----------------
        try{ 
            var qry="use.MYSQL^ \nSelect   userid,profile ,usertype as Ugroup  " 
           +"   from  twdpim.usertab " 
           +"   Where  password=PASSWORD('@userid@passw') and  userid='@userid'";
         var pdata={query:qry,
             para:{passw:passw,
                    userid:userid}}

            ajaxExec(pdata,function(isok,ret){
            console.log('Login return ' + ret);
            if (isok){
                var jsn=JSON.parse(ret);
                if(jsn.dbrows>0){
                    myprofile =jsn.dbitems[0].profile;
                    mygroup =jsn.dbitems[0].Ugroup;
                    saveCookie('PMPROFILE',myprofile,1)
                    saveCookie('WUSERID',userid,1);
                    saveCookie('WUGROUP','500',1 );
                    location.reload();
                  }
                else 
                    $('#message').html("Invalid LOGIN")
                }
             else
                 $('#message').html(ret)
            }); 
         }
       catch(ex){ $('#message').html(ex.message);}
        
      }

 </script>
 <div class="modal fade" id="loginModal" role="dialog"  tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header" style="padding:25px 20px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4>  <span class="glyphicon glyphicon-lock"></span>PIM User Login </h4>
                    
                </div>
                <div style="padding:40px 50px;">
 
                        <div class="form-group">
                            <label for="xuserid"><span class="glyphicon glyphicon-user"></span> PIM UserId</label>
                            <input type="text" class="form-control" name="xuserid" id="xuserid" placeholder="Enter Userid" value="">
                        </div>
                        <div class="form-group">
                            <label for="passw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                            <input type="password" class="form-control" name="passw" id="passw" placeholder="Enter password" value="">
                        </div>
              
                        <button type="button" class="btn btn-success btn-block" onclick="loginClick()">
                            <span class="glyphicon glyphicon-off"></span> Login
                        </button>
                        <div id='message' class="info info-default">

                        </div>
                   </form>
                </div>

                <div class="modal-footer">
                     
                </div>

            </div>
        </div> 
    </div>
    
