<script>
    function pageReady(){
        getStdOnWeb();

        $('#edit-sdate').datepicker({
            format: "yyyymmdd",
            // todayBtn: true,
            language: "th",
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
            //,endDate: '0d'
        });

        $('#edit-edate').datepicker({
            format: "yyyymmdd",
            // todayBtn: true,
            language: "th",
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
            //,endDate: '0d'
        });
    }

    function getStdOnWeb(){
        var qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if(jsn.dbcode == 0){
                for (let i = 0; i<jsn.dbrows; i++) {
                    $("#sel-ucat-2").append(`<option value='${(jsn.dbitems[i].WEBNAME == 'TWD' ? '28LV' : 'BNB1')}'>${jsn.dbitems[i].WEBNAME}</option>`);
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return
            }
        })
    }

    async function getData(obj){
        clearTable();
        obj.blur();
        let ucat = $('#sel-ucat-2').val();
        if(ucat == '') {
            swalConfirm('warning', 'Warning!!!', 'กรุณาเลือกเว็บที่ต้องการตรวจสอบ');
            return
        }
        $('#imageload').html(`<center>${waitimg}</center>`);
        $('#imageload').show()
        await getTSPPromotion(ucat);
        $('#imageload').hide()
        $('#showdata').show();
    }

    async function getTSPPromotion(ucat){
        let qry = `exec TWDPIM..execTSPPromotion 'getdatatsp', '${ucat}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok){
                if(jsn.dbrows > 0){
                    let body = '';
                    for(let i = 0; i < jsn.dbrows; i++){
                        let {PMNUM, SDATE, EDATE, MINAMOUNT, MAXAMOUNT, DISCOUNT, DISCCODE, ONWEB} = {...jsn.dbitems[i]};
                        SDATE = SDATE.substring(0, 10);
                        EDATE = EDATE.substring(0, 10);
                        MINAMOUNT = textToNum(MINAMOUNT);
                        MAXAMOUNT = textToNum(MAXAMOUNT);
                        DISCOUNT = textToNum(DISCOUNT);
                        body += `<tr id='row-promodata-${i}'>
                                        <td>${PMNUM}</td>
                                        <td>${SDATE}</td>
                                        <td>${EDATE}</td>
                                        <td style="text-align: right;">${MINAMOUNT}</td>
                                        <td style="text-align: right;">${MAXAMOUNT}</td>
                                        <td style="text-align: right;">${DISCOUNT}</td>
                                        <td>${DISCCODE}</td>
                                        <td>${ONWEB}</td>
                                        <td class='delete-action' id='col-action-${i}'>
                                            <center>
                                                <button class='btn btn-info' id='btn-viewpromodata-${i}' onclick="javascript:viewTSPPromoData(this, '${PMNUM}', '${ONWEB}')">
                                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                                </button>
                                                <button class='btn btn-warning' id='btn-updpromodata-${i}' onclick="javascript:editTSPPromoData(this, '${PMNUM}', '${SDATE}', '${EDATE}', '${MINAMOUNT}', '${MAXAMOUNT}', '${DISCOUNT}', '${DISCCODE}', '${ONWEB}')">
                                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                                </button>
                                                <button class='btn btn-danger' id='btn-delpromodata-${i}' onclick="javascript:deleteTSPPromoData(this, '${PMNUM}')">
                                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                                </button>
                                            </center>
                                        </td>
                                    </tr>`;
                    }
                    $('#tsppromodata-body').html(body);
                } 
                let header = `<tr>
                                    <th style='text-align:center'>PMNUM</th>
                                    <th style='text-align:center'>SDATE</th>
                                    <th style='text-align:center'>EDATE</th>
                                    <th style='text-align:center'>MINAMOUNT</th>
                                    <th style='text-align:center'>MAXAMOUNT</th>
                                    <th style='text-align:center'>DISCOUNT</th>
                                    <th style='text-align:center'>DISCCODE</th>
                                    <th style='text-align:center'>ONWEB</th>
                                    <th></th>
                                </tr>`;
                $('#tsppromodata-header').html(header);
                $('#tsppromodata').DataTable();
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    async function getTSPPromotionCat(ucat, pmnum){
        let qry = `exec TWDPIM..execTSPPromotion 'getdatacat', '${ucat}', ${pmnum}`;
        ajaxGetQuery(qry, (isok, ret) => {
            let jsn = JSON.parse(ret);
            if (isok){
                cleartsppromocat();
                if(jsn.dbrows > 0){
                    let body = '';
                    for(let i = 0; i < jsn.dbrows; i++){
                        let {PMNUM, CATCODE} = {...jsn.dbitems[i]};
                        body += `<tr id='row-promocat-${i}'>
                                    <td>${PMNUM}</td>
                                    <td>${CATCODE}</td>
                                    <td class='delete-action' >
                                        <center>
                                            <button class='btn btn-danger' id='btn-delpromocat-${i}' onclick="javascript:deleteTSPPromoCat(this, '${PMNUM}','${CATCODE}')">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </center>
                                    </td>
                                </tr>`;
                    }
                    $('#tsppromocat-body').html(body);
                } 
                
                let header = `<tr><th style='text-align:center'>PMNUM</th><th style='text-align:center'>CATCODE</th><th></th></tr>`;
                $('#tsppromocat-header').html(header);
                $('#tsppromocat').DataTable();
                $('#tsppromocat-div').show();
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    function viewTSPPromoData(obj, pmnum, ucat) {
        obj.blur();
        getTSPPromotionCat(ucat, pmnum);
    }

    function deleteTSPPromoCat(obj, pmnum, catcode) {
        let rowidx = $(obj).attr('id').replace('btn-delpromocat-', '');
        obj.blur();
        swal({
          title: "Do you want to delete?",
          text: "PMNUM: " + pmnum + "\r\nCATCODE: " + catcode,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes",
          closeOnConfirm: false,
        },
        function () {
          try {
            let qry = `exec twdpim..execTSPPromotion 'deldatacat', '', ${pmnum}, null, null, null, null, null, '${catcode}'`;
            let pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                let jsn = JSON.parse(ret)
                if(isok) {
                  swalAl("success", "Successful", 'Deleted Successfully.');
                  let table = $('#tsppromocat').DataTable();
                  table.row("#row-promocat-"+rowidx).remove().draw();
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function editTSPPromoData(obj){
        obj.blur();
        let rowidx = $(obj).attr('id').replace('btn-updpromodata-', '');
        let pmnum, sdate, edate, minamount, maxamount, discount, disccode, onweb;

        let table = $('#tsppromodata').DataTable();
        table.rows(( idx, data, node ) => {
            if(rowidx == idx){
                pmnum = data[0];
                sdate = data[1];
                edate = data[2];
                minamount = data[3];
                maxamount = data[4];
                discount = data[5];
                disccode = data[6];
                onweb = data[7];

                minamount = minamount.includes(',') ? minamount.replace(/,/g, '') : minamount;
                maxamount = maxamount.includes(',') ? maxamount.replace(/,/g, '') : maxamount;
                $('#edit-pmnum').val(pmnum);
                $('#edit-sdate').val(sdate);
                $('#edit-edate').val(edate);
                $('#edit-minamount').val(minamount);
                $('#edit-maxamount').val(maxamount);
                $('#edit-discount').val(discount);
                $('#edit-disccode').val(disccode);
                $('#edit-onweb').val(onweb);
                
                $('#edit-tspdata-modal').modal('show');
            }
        });
    } 

    function saveEditTSPPromotionData(){
        let pmnumupd = $('#edit-pmnum').val();
        let ucat = $('#edit-onweb').val();
        let sdate = $('#edit-sdate').val();
        let edate = $('#edit-edate').val();
        let amount = $('#edit-minamount').val();
        let discount = $('#edit-discount').val();
        let disccode = $('#edit-disccode').val();
        let qry = `exec twdpim..execTSPPromotion 'edtdatatsp', '${ucat}', ${pmnumupd}, '${sdate}', '${edate}', '${amount}', '${discount}', '${disccode}', null`;
        let pdata = {
            query: qry
        }

        ajaxExec(pdata, (isok, ret) => {
            let jsn = JSON.parse(ret)
            if(isok) {
                swalAl("success", "Successful", 'Edited Successfully.');
                $('#edit-tspdata-modal').modal('hide');

                let table = $('#tsppromodata').DataTable();
                table.rows(( idx, data, node ) => {             
                    let pmnum = data[0];
                    if(pmnum == pmnumupd){
                        let rowidx = idx;
                        (data[1] == sdate) ? null : table.cell( rowidx, 1 ).data(sdate).draw(); ;
                        (data[2] == edate) ? null : table.cell( rowidx, 2 ).data(edate).draw(); ;
                        (data[3] == amount) ? null : table.cell( rowidx, 3 ).data(textToNum(amount)).draw(); ;
                        (data[4] == amount) ? null : table.cell( rowidx, 4 ).data(textToNum(amount)).draw(); ;
                        (data[5] == discount) ? null : table.cell( rowidx, 5 ).data(textToNum(discount)).draw(); ;
                        (data[6] == disccode) ? null : table.cell( rowidx, 6 ).data(disccode).draw(); ;
                    }
                });
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    function deleteTSPPromoData(obj, pmnum) {
        let rowidx = $(obj).attr('id').replace('btn-delpromodata-', '');
        obj.blur();
        swal({
          title: "Do you want to delete?",
          text: "PMNUM: " + pmnum,
          type: "warning",
          showCancelButton: true,
          confirmButtonText: "Yes",
          closeOnConfirm: false,
        },
        function () {
          try {
            let qry = `exec twdpim..execTSPPromotion 'deldatatsp', '', ${pmnum}, null, null, null, null, null, null`;
            let pdata = {
              query: qry
            }

            ajaxExec(pdata, (isok, ret) => {
                let jsn = JSON.parse(ret)
                if(isok) {
                    swalAl("success", "Successful", 'Deleted Successfully.');
                    let table = $('#tsppromodata').DataTable();
                    table.row("#row-promodata-"+rowidx).remove().draw();

                    let rowcatidxs = [];
                    let tablecat = $('#tsppromocat').DataTable();
                    tablecat.rows(( idx, data, node ) => {             
                        let pmnumcat = data[0];
                        if(pmnumcat == pmnum){
                            let rowcatidx = idx;
                            rowcatidxs.push(rowcatidx);
                        }
                    });
                    
                    rowcatidxs.map(itm => {
                        tablecat.row("#row-promocat-"+itm).remove().draw();
                    })
                } else {
                  swalAl("error", "Failed", jsn.dbmessage);
                }
            })
            
          } catch (ex) {
            swalAl("error", "Failed", ex.message);
          }
        }
      );
    }

    function clearTable(){
        $('#showdata').html(`<center><h3>TSP Promotion</h3>
            <div class="row layout-left" id="tsppromodata-div" style="margin:0px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <table id="tsppromodata" class="table table-striped table-bordered" >
                        <thead id="tsppromodata-header">

                        </thead>
                        <tbody id="tsppromodata-body">

                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
            </div><br><hr class="line">

            <div id='tsppromocat-div' hidden>
                <h3>TSP Promotion - Catcode</h3>
                <div class="row layout-left" id="tsppromocat-div" style="margin:0px;">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <table id="tsppromocat" class="table table-striped table-bordered" >
                            <thead id="tsppromocat-header">

                            </thead>
                            <tbody id="tsppromocat-body">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-3"></div>
                </div><br><hr class="line">
            </div></center>`)
        $('#showdata').hide();
    }

    function cleartsppromocat(){
        $('#tsppromocat-div').html(`<h3>TSP Promotion - Catcode</h3>
                                    <div class="row layout-left" id="tsppromocat-div" style="margin:0px;">
                                        <div class="col-xs-3"></div>
                                        <div class="col-xs-6">
                                            <table id="tsppromocat" class="table table-striped table-bordered" >
                                                <thead id="tsppromocat-header">

                                                </thead>
                                                <tbody id="tsppromocat-body">

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-xs-3"></div>
                                    </div><br><hr class="line">`);
    }
</script>
<style>
    .line {
        border-color: #ccc;
    }

    .layout-left {
        padding-left:0px !important;
    }

    .btnsearch{
        margin-top: 10px;
    }

    .delete-action:hover {  	 
        cursor: hand;	 
    }
</style>
<div class="container-fluid">
    <br>
        <div class="row layout-left" style="margin:0px;" >
            <div class="col-md-3 col-sm-5 col-xs-12 layout-left" style='margin-top:5px;' id='ucat-div' >
                <div class="col-md-12 layout-left" style="padding-right: 0px;" >
                    <label style="font-size: larger;">กรุณาเลือกเว็บ </label>
                    <select id="sel-ucat-2" class='form-control'>
                        <option value=''>เลือกเว็บ</option>
                    </select>
                    <button id='btn-search' class='btn btn-primary btnsearch' onclick='getData(this)'>Search</button>
                </div>
            </div>
        </div><br>
        <div class='row' id='imageload' hidden>

        </div>
        <div id='showdata' hidden>
            <center>
            <h3>TSP Promotion</h3>
            <div class="row layout-left" id="tsppromodata-div" style="margin:0px;">
                <div class="col-xs-1"></div>
                <div class="col-xs-10">
                    <table id="tsppromodata" class="table table-striped table-bordered" >
                        <thead id="tsppromodata-header">

                        </thead>
                        <tbody id="tsppromodata-body">

                        </tbody>
                    </table>
                </div>
                <div class="col-xs-1"></div>
            </div><br><hr class="line">

            <div id='tsppromocat-div' hidden>
                <h3>TSP Promotion - Catcode</h3>
                <div class="row layout-left" id="tsppromocat-div" style="margin:0px;">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <table id="tsppromocat" class="table table-striped table-bordered" >
                            <thead id="tsppromocat-header">

                            </thead>
                            <tbody id="tsppromocat-body">

                            </tbody>
                        </table>
                    </div>
                    <div class="col-xs-3"></div>
                </div><br><hr class="line">
            </div>
            </center>
        </div>

        <!-- Modal -->
    <div id="edit-tspdata-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">
    
            <!-- Modal content-->
            <div class="modal-content">
            <form action="javascript:saveEditTSPPromotionData();">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <label>PMNUM:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="edit-pmnum" readonly class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>SDATE:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="edit-sdate" required name="edit-sdate" class="form_datetime form-control" onFocus='this.select();' autocomplete="off" maxlength="10" placeholder="format : yyyy-mm-dd" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>EDATE:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="edit-edate" required name='edit-edate' class="form_datetime form-control" onFocus='this.select();' autocomplete="off" maxlength="10" placeholder="format : yyyy-mm-dd" >
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>MINAMOUNT:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="number" id="edit-minamount" required class="form-control" step="0.01">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>MAXAMOUNT:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="number" id="edit-maxamount" readonly class="form-control" step="0.01">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>DISCOUNT:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="number" id="edit-discount" required class="form-control" step="0.01">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>DISCCODE:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="edit-disccode" required class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>ONWEB:</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" id="edit-onweb" readonly class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-sm btn-primary" onclick='this.blur();'>Confirm</button>
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                </div>
            </form>
            </div>
    
        </div>
        </div>
</div>