<script>
    var ucat;
    function pageReady() {
        getStdOnWeb();
    }

    function getStdOnWeb(){
        var qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if(jsn.dbcode == 0){
                for (i = 0; i<jsn.dbrows; i++) {
                    $("#sel-ucat").append(`<option value='${(jsn.dbitems[i].WEBNAME == 'TWD' ? '28LV' : 'BNB1')}'>${jsn.dbitems[i].WEBNAME}</option>`);
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return
            }
        })
    }

    async function process() {
        var ucat = $('#sel-ucat').val();
        var userid = readCookie('WUSERID');
        var userGroup = readCookie('WUGROUP');
        if (userid == null || userid == '' || userid == 'undefined' || userGroup == null) {
            alert('กรุณาเข้าสู่ระบบใหม่อีกครั้ง เนื่องจากคุณไม่ได้อยู่ในระบบนานเกินไป ขอบคุณครับ')
            location.assign("/");
        } else {
            if(ucat == ''){
                swalConfirm('warning', 'Warning!!!', 'กรุณาเลือกเว็บที่ต้องการอัพโหลด');
                return;
            }
            var count = 0;
            var table = $('#importTB').DataTable();
            if(table.rows().data().length == 0) {
                swalConfirm('warning', 'Warning!!!', 'ไม่มีรายการที่ต้องทำการอัพเดท\r\nกรุณาตรวจสอบอีกครั้ง');
                return;
            }
            for (var i = 0; i < table.rows().data().length; i++) {
                let [SDATE, EDATE, AMOUNT, DISCOUNT, DISCCODE, CATCODE] = (table.rows().data())[i];
                AMOUNT = AMOUNT.replace(/,/g, '');
                let upd = await updateTSP(SDATE, EDATE, AMOUNT, DISCOUNT, DISCCODE, CATCODE, ucat);
                if (upd > 0) {
                    return;
                }
                ++count;
            }

            swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
            $('#btnProcess').attr('disabled', true);
            clearInputFile(inpfile);
        }
    }

    async function updateTSP(sdate, edate, amount, discount, disccode, catcode, ucat){
        return new Promise (res => {
            let qry = `exec TWDPIM..execTSPPromotion 'update', '${ucat}', null, '${sdate}', '${edate}', ${amount}, ${discount}, '${disccode}', '${catcode}'`;
            let pdata = {
                query: qry
            }
            ajaxExec(pdata, (isok, resp) => {
                let jsn = JSON.parse(resp);
                res(jsn.dbcode);
            })
        })
    }

    function handleFileSelect(evt) {
        clearTable();
        $('#btnProcess').removeAttr("disabled");
        var tfile = $('#inpfile')[0].files;

        //--check if Files is txt
        var fname = tfile[0].name;
        fname = fname.toLowerCase();

        if (fname.indexOf('.xls') < 0) {
            swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                " is not excel file (.xls or .xlsx).");
            clearInputFile(inpfile);
            return
        }

        var reader = new FileReader();
        reader.onload = function (event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {
                type: 'binary'
            });
            var sheetNames = workbook.SheetNames;
            var worksheet = workbook.Sheets[sheetNames[0]];
            var row = XLSX.utils.sheet_to_row_object_array(worksheet);

            var header, body;
            header = `<tr><th>SDATE</th><th>EDATE</th><th>AMOUNT</th><th>DISCOUNT</th><th>DISCCODE</th><th>CATCODE</th></tr>`;
            for (var i = 0; i < row.length; i++) {
                let {SDATE, EDATE, AMOUNT, DISCOUNT, DISCCODE, CATCODE} = row[i];
                if (SDATE == '' || SDATE == null || EDATE == '' || EDATE == null ||
                    AMOUNT == '' || AMOUNT == null || DISCOUNT == '' || DISCOUNT == null ||
                    DISCCODE == '' || DISCCODE == null || CATCODE == '' || CATCODE == null) {
                    swalConfirm('warning', 'กรุณาตรวจสอบไฟล์', 'เนื่องจากมีข้อมูลเป็นค่าว่าง')
                    clearAll();
                    return 
                }
                AMOUNT = textToNum(AMOUNT);
                DISCOUNT = textToNum(DISCOUNT);
                body+=`<tr><td>${SDATE}</td><td>${EDATE}</td><td style="text-align: right;">${AMOUNT}</td><td style="text-align: right;">${DISCOUNT}</td><td>${DISCCODE}</td><td>${CATCODE}</td></tr>`
            }
            $('#header').html(header);
            $('#body').html(body);

            $('#importTB').DataTable();
            $('#btnAll').show();
        }
        reader.onerror = function (event) {
            console.error("File could not be read! Code " + event.target.error.code);
        };
        reader.readAsBinaryString(tfile[0]);
    }
    
    function clearAll() {
        $('#sel-ucat').val('');
        clearInputFile(inpfile);
        clearTable();
        $('#btnAll').hide();
    }

    function clearTable() {
        $('#importTB').remove();
        $('#importDiv').html(`<div class="col-md-12">
                                    <table id="importTB" class="table table-striped table-bordered" >
                                        <thead id="header">

                                        </thead>
                                        <tbody id="body">

                                        </tbody>
                                    </table>
                                </div>`);
    }

    function getDemofile(obj){
        obj.blur();
        $(function () {
            TableExport.prototype.charset = "charset=utf-8";
            var tableExporter = $('#demo-TB').tableExport({
                formats: ["xlsx"],
                bootstrap: false,
                exportButtons: true,
                filename: 'TSP Promotion - Demo File',
                ignoreRows: null,
                ignoreCols: null,
                trimWhitespace: true,
                RTL: false
            });
            tableExporter.typeConfig.date.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.string.assert = function (v) {
                return true;
            };
            tableExporter.typeConfig.number.assert = function (v) {
                return false;
            };
            tableExporter.typeConfig.boolean.assert = function (v) {
                return false;
            };
        });

        xlsbtn = $('.xlsx');
        xlsbtn.click();
    }
</script>
<style>
    .layout-left {
        padding-left:0px !important;
    }
</style>
<div class="container-fluid">
    <br>
        <div class="row" style="margin:0px;" >
            <button class='btn btn-success' onclick='getDemofile(this);'>Demo File</button>
            <div class="col-md-12 layout-left" style="padding-right: 0px; margin-top:10px">
                <pre id="prePage"><h4>You can upload TSP Promotion and must have contents like this: </h4><h5>SDATE [Format: yyyyMMdd], <br>EDATE [Format: yyyyMMdd], <br>AMOUNT, <br>DISCOUNT, <br>DISCCODE, <br>CATCODE [Format: 01 (Example for DEPT), 0101 (Example for SUBDEPT), 010101 (Example for CLASS), 01010101 (Example for SUBCLASS)]</h5></pre>
            </div>
            <div class="col-md-3 col-sm-5 col-xs-12 " style='margin-top:5px;' id='ucat-div' >
                <div class="col-md-12 layout-left" style="padding-right: 0px;" >
                    <label style="font-size: larger;">กรุณาเลือกเว็บ </label>
                    <select id="sel-ucat" class='form-control'>
                        <option value=''>เลือกเว็บ</option>
                    </select>
                </div>
            </div>
        </div><br>
        <div class="row" style="margin:0px;">
            <div class="col-md-12 ">
            <div class='col-md-3 layout-left' id="uploadDiv">
                <label for="inpfile">เลือกไฟล์ที่ต้องการอัพโหลด</label>
                <input type="file" onchange="handleFileSelect()" id="inpfile" name="inpfile" accept=".xls, .xlsx">
            </div>
        </div>
        </div><br>
        <div class="row layout-left" id="importDiv" style="margin:0px;">
            <div class="col-md-12">
                <table id="importTB" class="table table-striped table-bordered" >
                    <thead id="header">

                    </thead>
                    <tbody id="body">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="row" style="margin:0px;" id="btnAll" hidden>
            <div class=" col-md-12 "  >
                <button onclick='javascript:process();' class='btn btn-primary' id="btnProcess">Process</button>
                <button onclick='javascript:clearAll();' class='btn btn-danger' id="btnCancel">Cancel</button>
            </div>
        </div><br>
        <div class="row layout-left" id="demo-Div" style="margin:0px;" hidden>
            <div class="col-md-12">
                <table id="demo-TB" class="table table-striped table-bordered" >
                    <thead id="demo-header">
                        <tr>
                            <th>SDATE</th>
                            <th>EDATE</th>
                            <th>AMOUNT</th>
                            <th>DISCOUNT</th>
                            <th>DISCCODE</th>
                            <th>CATCODE</th>
                        </tr>
                    </thead>
                    <tbody id="demo-body">
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div><br>
</div>