<script>
    function pageReady() {
        getAllProfiles();
        addEventTBProfile();
        addEventTBUser2Profile();
    }

    function getAllProfiles() {
        var qry = `exec TWDPIM..getAllProfilesControl`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (isok) {
                var body;
                for (i = 0; i < jsn.dbrows; i++) {
                    body += `<tr>
                            <td class='dt-body-center'><input type="checkbox" name="chkpfno[]" value="${jsn.dbitems[i].ProfileNo}"/></td>
                            <td>${jsn.dbitems[i].ProfileNo}</td>
                            <td>${jsn.dbitems[i].ProfileMenu}</td>
                         </tr>`
                }
                $('#showBody').html(body);
                $('#showTB').DataTable();
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        });
    }

    function update() {
        var userId = $('#userid').val();
        if (userId.trim() == '') {
            swalConfirm('warning', 'Warning!!!', 'กรุณาระบุ User ID ที่ต้องการอัพเดท')
        } else {
            var qry = `SELECT USERID FROM CLOUDPOS..USERTAB WHERE USERID = '${userId}'`;
            ajaxGetQuery(qry, (isok, ret) => {
                var jsn = JSON.parse(ret);
                if (isok) {
                    if (jsn.dbrows <= 0) {
                        swalConfirm('error', 'Failed!!!',
                            'ไม่พบ User ID นี้ในระบบ\r\nกรุณาระบุ User ID ใหม่อีกครั้ง');
                        return;
                    } else {
                        var table = $('#showTB').DataTable();
                        var countSelProfile = 0;
                        table.$('input[type="checkbox"]').each(function () {
                            if (this.checked) {
                                ++countSelProfile;
                            }
                        })

                        if(countSelProfile <= 0){
                            swalConfirm('warning', 'Warning!!!', 'กรุณาเลือก Profile');
                            return;
                        }

                        table.$('input[type="checkbox"]').each(function () {
                            if (this.checked) {
                                var qry =
                                    `exec TWDPIM..updateOrDeleteUser2Profile '${userId}', '${this.value}', 'update'`;
                                var pdata = {
                                    query: qry
                                }
                                ajaxExec(pdata, (isok, ret) => {
                                    //console.log(ret)
                                })
                            }
                        })
                        swalConfirm('success', 'อัพเดทสำเร็จ', '');
                        $('#userid').val('')
                        clearTBProfile();
                        getAllProfiles();
                        addEventTBProfile();
                    }
                } else {
                    swalAl("error", "Failed", jsn.dbmessage);
                }
            })
        }
    }

    function search() {
        clearTBUser2Profile();
        var userId = $('#useridfordel').val();
        if (userId.trim() == '') {
            swalConfirm('warning', 'Warning!!!', 'กรุณาระบุ User ID ที่ต้องการลบ Profile');
            return;
        }
        var qry = `exec TWDPIM..getUser2ProfileByUserId '${userId}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            //console.log(ret)
            var jsn = JSON.parse(ret);
            if (isok) {
                $('#showUser2Profile').show();
                if (jsn.dbrows > 0) {
                    var body;
                    for (i = 0; i < jsn.dbrows; i++) {
                        body += `<tr>
                                    <td class='dt-body-center'><input type="checkbox" name="chkpfnodel[]" value="${jsn.dbitems[i].ProfileNo}"/></td>
                                    <td>${jsn.dbitems[i].ProfileNo}</td>
                                    <td>${jsn.dbitems[i].ProfileMenu}</td>
                                    <td>${jsn.dbitems[i].UserId}</td>
                                 </tr>`;
                    }
                    $("#showBodyUser2Profile").html(body);
                    $('#showUser2Profile').DataTable();
                    $('#delete-btn').css('display', 'unset');
                } else {
                    $("#showBodyUser2Profile").html(`<tr><td colspan='6'>No Result From DB</td></tr>`);
                    $('#delete-btn').css('display', 'none');
                }
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
        $('#useridfordel').prop('disabled', true);
        $('#clear-btn').prop('disabled', false);
        $('#search-btn').prop('disabled', true);
        addEventTBUser2Profile();
    }

    function deleteProfile() {
        var userId = $('#useridfordel').val();
        if (userId.trim() == '') {
            swalConfirm('warning', 'Warning!!!', 'กรุณาระบุ User ID ที่ต้องการลบ Profile');
            return;
        }
        var table = $('#showUser2Profile').DataTable();
        var profiles = '';
        table.$('input[type="checkbox"]').each(function () {
            if (this.checked) {
                profiles += `${this.value},`;
            }
        })
        profiles = profiles.substr(0, (profiles.length - 1));
        if (profiles == '') {
            swalConfirm('warning', 'Warning!!!', 'กรุณาเลือก Profile');
            return;
        }
        var qry = `exec TWDPIM..updateOrDeleteUser2Profile '${userId}', '${profiles}', 'delete'`;
        var pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            //console.log(ret)
            var jsn = JSON.parse(ret);
            if (isok) {
                swalConfirm('success', 'ลบสำเร็จ', '')
                search();
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }

        })

    }

    function clearTBUser2Profile() {
        $('#showUser2Profile').remove();
        $('#user2ProfileDiv').html(`<TABLE id="showUser2Profile" class="table table-striped table-bordered" hidden>
                                        <thead>
                                            <tr>
                                                <th width="120"><INPUT type="checkbox" name="delete-all" id="deleteall" />  Delete All</th>
                                                <th>Profile No</th>
                                                <th>Profile Menu</th>
                                                <th>User ID</th>
                                            </tr>
                                        </thead>
                                        <tbody id="showBodyUser2Profile">

                                        </tbody>
                                    </TABLE>`);
    }

    function clearTBProfile() {
        $('#showTB').remove();
        $('#profileDiv').html(`<h4 style="font-weight: bold;">กรุณาเลือก Profiles</h4>
                                <TABLE id="showTB" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th width="100"><INPUT type="checkbox" name="select-all" id="selectall" /> Select All
                                            </th>
                                            <th>Profile No</th>
                                            <th>Profile Menu</th>
                                        </tr>
                                    </thead>
                                    <tbody id="showBody">

                                    </tbody>
                                </TABLE>`);
    }

    function addEventTBProfile() {
        $('#selectall').on('click', function () {
            var table = $('#showTB').DataTable();
            // Get all rows with search applied
            var rows = table.rows({
                'search': 'applied'
            }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#showTB tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#selectall').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    }

    function addEventTBUser2Profile() {
        $('#deleteall').on('click', function () {
            var table = $('#showUser2Profile').DataTable();
            // Get all rows with search applied
            var rows = table.rows({
                'search': 'applied'
            }).nodes();
            // Check/uncheck checkboxes for all rows in the table
            $('input[type="checkbox"]', rows).prop('checked', this.checked);
        });

        $('#showUser2Profile tbody').on('change', 'input[type="checkbox"]', function () {
            // If checkbox is not checked
            if (!this.checked) {
                var el = $('#deleteall').get(0);
                // If "Select all" control is checked and has 'indeterminate' property
                if (el && el.checked && ('indeterminate' in el)) {
                    // Set visual state of "Select all" control
                    // as 'indeterminate'
                    el.indeterminate = true;
                }
            }
        });
    }

    function rdChange() {
        var type = $('input[name=type]:checked').val();
        if (type == 'update') {
            $('#deleteProfile').hide();
            $('#updateProfile').show();
            $('#useridfordel').val('');
            $('#delete-btn').css('display', 'none');
            $('#useridfordel').prop('disabled', false);
            $('#clear-btn').prop('disabled', true);
            $('#search-btn').prop('disabled', false);
        } else if (type == 'delete') {
            $('#updateProfile').hide();
            $('#deleteProfile').show();
            $('#userid').val('')
            var table = $('#showTB').DataTable();
            table.$('input[type="checkbox"]').each(function () {
                if (this.checked) {
                    $(this).prop('checked', false);
                }
            })
        }
        clearTBUser2Profile();
        addEventTBUser2Profile();
        clearTBProfile();
        addEventTBProfile();
        getAllProfiles();
    }

    function clearDtU2P() {
        $('#useridfordel').val('')
        clearTBUser2Profile();
        $('#delete-btn').css('display', 'none');
        $('#useridfordel').prop('disabled', false);
        $('#search-btn').prop('disabled', false);
        $('#clear-btn').prop('disabled', true);
    }

</script>

<div class="container-fluid">
    <div class="container-fluid">
        <h3>Update/Delete User2Profile</h3>
        <div class="container-fluid" style="padding-left: 0px;">
            <h4 style="font-weight: bold;">Do you want to update/delete profile</h4>
            <div class="container-fluid">
                <input type="radio" name="type" value="update" onchange="rdChange();" checked><span
                    style="font-size: larger;"> Update Profile</span>
                <input type="radio" name="type" value="delete" onchange="rdChange();" style="margin-left: 25px;"><span
                    style="font-size: larger;"> Delete Profile</span>
            </div>
        </div><br>
        <div class="container-fluid" id="updateProfile">
            <div class="row">
                <div class="col-md-4">
                    <h4 style="font-weight: bold;">กรุณาระบุ User ID</h4>
                    User ID: <input class="form-control " style="width:40%; display: inline-block;" type="text"
                        id="userid">
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-6" id='profileDiv'>
                    <h4 style="font-weight: bold;">กรุณาเลือก Profiles</h4>
                    <TABLE id="showTB" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th width="100"><INPUT type="checkbox" name="select-all" id="selectall" /> Select All
                                </th>
                                <th>Profile No</th>
                                <th>Profile Menu</th>
                            </tr>
                        </thead>
                        <tbody id="showBody">

                        </tbody>
                    </TABLE>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <button class="btn btn-primary" onclick="update()">Update</button>
                </div>
            </div>
        </div>
        <div class="container-fluid" id="deleteProfile" hidden>
            <div class="row">
                <div class="col-md-4">
                    <h4 style="font-weight: bold;">กรุณาระบุ User ID</h4>
                    User ID: <input class="form-control " style="width:40%; display: inline-block;" type="text"
                        id="useridfordel">
                    <button class='btn btn-primary' id='search-btn' onclick='search()'>Search</button>
                    <button class='btn btn-info' id='clear-btn' onclick='clearDtU2P()' disabled>Clear</button>
                </div>
            </div><br>
            <div class="row">
                <div class="col-md-7" id='user2ProfileDiv'>
                    <TABLE id="showUser2Profile" class="table table-striped table-bordered" hidden>
                        <thead>
                            <tr>
                                <th width="120"><INPUT type="checkbox" name="delete-all" id="deleteall" /> Delete All
                                </th>
                                <th>Profile No</th>
                                <th>Profile Menu</th>
                                <th>User ID</th>
                            </tr>
                        </thead>
                        <tbody id="showBodyUser2Profile">

                        </tbody>
                    </TABLE>
                </div>
            </div>
            <div class="row">
                <div class="container-fluid">
                    <button class="btn btn-danger" onclick="deleteProfile();" id="delete-btn"
                        style="display: none;">Delete</button>
                </div>
            </div>
        </div>
    </div>
</div>