
<script>
 function pageReady() {
        var pdata={patname:'SYSTEM/sorder.txt',
                    para:null
                    }
        xpand2div(pdata,'sorederDiv')
    } 

 function xpand2div(pat,div){
    try {
        ajaxXpandFile(pat,function(isok,ret){
            if(isok){
                $('#'+div).html(ret);
            }
            else alert('Ajax call Error')
        });
    }
    catch(ex){alert(Ex.message)}
 }

 function showdetail(obj){
    var ref =$(obj).find('td:eq(0)').text();
    ref=ref.trim();
    var pdata ={patname:'SYSTEM/sdetail.txt',
            para: {ref:ref}
             }
       xpand2div(pdata,'detailDiv') ;      
 }

</script> 

<style>
.table tbody tr:hover {
       background-color:silver;
       cursor:pointer ;
    }

 </style>

</head>

<body>
    <h2>Sales Order Monitor</h2>
    <hr>
<div class='container-fluid' >
<div class='row'>
    <div class='col col-md-4'>
     <h4>Sales Order Lately</h4>
     <div id ='sorederDiv'>

     </div>
    </div>
    <div class='col col-md-8'>
       <h4>Detail of Saleorder</h4> 
       <div id ='detailDiv'>
        Detail to be put here
       </div>
    </div>
</div>
</div>
 
