
<div>
 
  <h4><span id='xlsHeader'>UPLOAD MAPING  Category</span></h34>
  <pre>
  You can upload tab delimit text file, or copy and Paste to textarea below
  text file must have Content like this:
  USRCODE  USRCAT   MCHCAT    MERHCATNAME
  ROOM     010101	 020301      Sofae Room	 
  </pre>     
          <input type="file"  id="inpfile" />
          <textarea id='inputtxt' cols='100' rows='10'>

          </textarea> 
          </div>
      
          <a href='javascript:process()'  class='btn btn-primary'>Process</a>
        <a href='javascript:uploadcancel()'  class='btn btn-danger'>Cancel</a>
</div>

<div>

<script>

function mapReady(ucat){
  $('#xlsHeader').html('UPLOAD MAPPING ' + ucat +'  to MECHCAT ' );
    //-------------add event to inpute       
    document.getElementById('inpfile').addEventListener('change', handleFileSelect, false);	
 }

 function handleFileSelect(evt) {
    console.log('File is selected  ')
    var tfile=  $('#inpfile')[0].files;
 
    //--check if Files is txt
    var fname =tfile[0].name;
    fname=fname.toLowerCase();

    if( fname.indexOf('.txt') < 0 ){
        alert ("file "+fname  +" is not tab delimit file");
        return
      }
      // files is a FileList of File objects. List some properties.
    
      var reader = new FileReader();
        reader.onload = function(){
          var text = reader.result;
           $('#inputtxt').val(text);
          console.log(reader.result.substring(0, 200));
        };
       reader.readAsText(tfile[0]);
    
} 

function process(){ 
  
    var txt=$('#inputtxt').val();
    var strs =txt.split("\n");
 
    var pars =strs[0].split("\t");
    var result=[];
    //----------validate header  of the file
    if(pars.length<4){
        alert('Number of column less than expected')
        return;
      }

     if (   pars[0]!='USRCODE' ||  pars[0]!='USRCAT' ||  pars[0]!='MCHCAT') {
        alert('Column names is not as expected');
        return;
     }

    //----------------------------
    var idx=0;
    for (i=1; i < strs.length;i++){
        pars =strs[i].split("\t");
        var pdata ={
                USRCODE:pars[0],
                USRCAT:pars[1],
                MRCHCAT:pars[2],  
                MCATNAME:pars[3] 
                }
            result[idx++]=pdata;
        }
 
   // alert(result[0].dpcd);
   var qry ="exec Cloudpos..xlsupdatemapcat '@para' ";
   
   qry=qry.replace( '@para',JSON.stringify(result) );

   ajaxGetQuery(qry,function(isok,ret){
       if (isok){
           var jsn=JSON.parse(ret);
            alert(jsn.dbmessage);
         }
       else alert('Error ajaxcall')
   });
   
}

</script>  

</div>


