
<div>
  <h4><span id='xlsHeader'>UPLOAD FILE for USER Category</span></h4>
  <span id='catuname' style='display:none;' > </span>
  <pre>
  You can upload tab delimit text file, or copy and Paste to textarea below
  text file must have Content like this:
  DEPT	NAME	SUBDEPT	SDNAME	CLASS	CLNAME	SCLASS 	SCNAME	MAPTO
  01	Dining Room	01	Furniture	01	SOFA	00	SOFA	00 Rond 02010203 
  </pre>     
          <input type="file"  id="inpfile" />
          <textarea id='inputtxt' cols='100' rows='10'>

          </textarea> 
          </div>
      
          <a href='javascript:process()'  class='btn btn-primary'>Process</a>
        <a href='javascript:uploadcancel()'  class='btn btn-danger'>Cancel</a>
</div>

<div>
<script>

function xlsReady(ucat){

  $('#xlsHeader').html('UPLOAD USER DEFINE CATEGORY '+ucat);
  $('#catuname').text(ucat);
  
  //-------------add event to inpute       
  document.getElementById('inpfile').addEventListener('change', handleFileSelect, false);	
 }

 function handleFileSelect(evt) {
    console.log('File is selected  ')
    var tfile=  $('#inpfile')[0].files;
 
    //--check if Files is txt
    var fname =tfile[0].name;
    fname=fname.toLowerCase();

    if( fname.indexOf('.txt') < 0 ){
        alert ("file "+fname  +" is not tab delimit file");
        return
      }
      // files is a FileList of File objects. List some properties.
    
      var reader = new FileReader();
        reader.onload = function(){
          var text = reader.result;
           $('#inputtxt').val(text);
          console.log(reader.result.substring(0, 200));
        };
       reader.readAsText(tfile[0]);
    
} 

function process(){
    var txt=$('#inputtxt').val();
    var strs =txt.split("\n");


    var pars =strs[1].split("\t");

    var odpcd     =pars[0];
    var odpnm     =pars[1];
    var osdcd     = pars[2];
    var osdnm     =pars[3];
    var oclcd     =pars[4];
    var oclnm     =pars[5];
    var osccd     =pars[6];
    var oscnm     =pars[7];

    var result=[] ;
    var idx=0;
    for(i=1;i< strs.length;i++){ 
        
       // console.log(strs[i]); 
        pars = strs[i].split("\t");
        if(pars.length>1){

            var dpcd     =pars[0].trim();
            var dpnm     =pars[1].trim();
            var sdcd    =pars[2].trim();
            var sdnm    =pars[3].trim();
            var clcd    =pars[4].trim();
            var clnm    =pars[5].trim();

            var sccd    =pars[6].trim();
            var scnm    =pars[7].trim();

            var mapto   =pars[8].trim();
            mapto=('0000'+mapto).slice(-8);
            if(dpcd=='')dpcd=odpcd;
            if(dpnm=='')dpnm=odpnm;

            if(sdcd=='')sdcd=osdcd;
            if(sdnm=='')sdnm=osdnm;

            if(clcd=='')clcd=oclcd
            if(clnm=='')clnm=oclnm;

         //   if(sccd=='')sccd=osccd;
          //  if(scnm=='')scnm=oscnm;      

             odpcd=dpcd;
             odpnm=dpnm;

             osdcd=sdcd;
             osdnm=sdnm;

             oclcd=clcd;
             oclnm=clnm;

        }
          
    var pdata ={
              dpcd:odpcd,
              dpnm:odpnm,
              sdcd:osdcd,
              sdnm:osdnm,
              clcd:oclcd,
              clnm:oclnm,
              sccd:sccd,
              scnm:scnm,

              mapto:mapto 
              }
        result[idx++]=pdata;
         
    }

   // alert(result[0].dpcd);
   var usercatname= $('#catuname').text();
   var qry ="exec Cloudpos..xlsupdateusercat '"+usercatname+"','@para'";

   qry=qry.replace( '@para',JSON.stringify(result) );

   ajaxGetQuery(qry,function(isok,ret){
       if (isok){
           var jsn=JSON.parse(ret);
            alert(jsn.dbmessage);
         }
       else alert('Error ajaxcall')
   });
   //console.log(JSON.stringify(result));
}

</script>  

</div>


