
<div>
  <h4><span id='xlsHeader'>UPLOAD FILE for USER Category</span></h4>
  <pre>
  You can upload tab delimit text file, or copy and Paste to textarea below
  text file must have Content like this:
  DEPT	NAME	SUBDEPT	SDNAME	CLASS	CLNAME	SKCODE COLOR TYPE STYPE SIZE MATERAIL
 
  </pre>     
          <input type="file"  id="inpfile" />
          <textarea id='inputtxt' cols='160' rows='20'></textarea> 
          </div>
      
          <a href='javascript:process()'  class='btn btn-primary'>Process</a>
        <a href='javascript:uploadcancel()'  class='btn btn-danger'>Cancel</a>
</div>

<div>
<script>
 var wusercat='';
function xlsReady(ucat){
  $('#xlsHeader').html('UPLOAD USER DEFINE CATEGORY ['+ ucat+ ']');
  console.log('Cat %s',ucat)
    wusercat=ucat;
    //-------------add event to inpute       
    document.getElementById('inpfile').addEventListener('change', handleFileSelect, false);	
 }

 function handleFileSelect(evt) {
    console.log('File is selected  ')
    var tfile=  $('#inpfile')[0].files;
 
    //--check if Files is txt
    var fname =tfile[0].name;
    fname=fname.toLowerCase();

    if( fname.indexOf('.txt') < 0 ){
        alert ("file "+fname  +" is not tab delimit file");
        return
      }
      // files is a FileList of File objects. List some properties.
    
      var reader = new FileReader();
        reader.onload = function(){
          var text = reader.result;
           $('#inputtxt').val(text);
          console.log(reader.result.substring(0, 200));
        };
       reader.readAsText(tfile[0]);
    
} 

//----------------Process input
function process(){
    var txt=$('#inputtxt').val();
    var strs =txt.split("\n");
    $('#waitdiv').show();

    var pars =strs[1].split("\t");

    var odpcd     =pars[0];
    var odpnm     =pars[1];
    var osdcd     = pars[2];
    var osdnm     =pars[3];
    var oclcd     =pars[4];
    var oclnm     =pars[5];
    var osccd     =pars[6];
    var oscnm     =pars[7];

    var result=[] ;
    var idx=0;
    var dresult=[] ;
    var ddx=0;
try { 
    //----------Property Name
    var  pars = strs[0].split("\t");
    if(pars.length< 11){
      alert('Input data Must Have atleast 11 Columns')
      return
    }
    var col1 =pars[0].trim();
    var pn3=pars[9].trim();
    var pn4=pars[10].trim();
    var pn5=pars[11].trim(); 
    //if(pn3=='')pn3='PROP3';
    //if(pn4=='')pn4='PROP4';
    //if(pn5=='')pn5='PROP5';
    if(pn3=='')pn3='';
    if(pn4=='')pn4='';
    if(pn5=='')pn5='';

     var pname ={
            clcd:pars[4].trim(),
            prop1:pars[7].trim(), 
            prop2:pars[8].trim(),
            prop3:pn3,
            prop4:pn4,
            prop5:pn5
     }
     

     if(col1!='DEPT'){
         alert('First line must be COLOUMN NAME begin With DEPT');
         return;
     }
    //----------------------
    for(i=1;i< strs.length;i++){ 
        
   // console.log(strs[i]); 
        pars = strs[i].split("\t");

        if(pars.length>10)
        {

            var dpcd     =pars[0].trim();
            var dpnm     =pars[1].trim();
            var sdcd    =pars[2].trim();
            var sdnm    =pars[3].trim();
            var clcd    =pars[4].trim();
            var clnm    =pars[5].trim();
    
            var sskc    =pars[6].trim(); //--skcode
            var prop1   =pars[7].trim(); //--Prop1
            var prop2   =pars[8].trim(); //--pro2p2
            var prop3   =pars[9].trim(); //--pro2p3
            var prop4   =pars[10].trim(); //--Prop4
            var prop5  =pars[11].trim(); //--pro2p5
           

            if(dpcd=='')dpcd=odpcd;
            if(dpnm=='')dpnm=odpnm;

            if(sdcd=='')sdcd=osdcd;
            if(sdnm=='')sdnm=osdnm;

             if(clcd=='')clcd=oclcd
             if(clnm=='')clnm=oclnm;

         //   if(sccd=='')sccd=osccd;
          //  if(scnm=='')scnm=oscnm;  

         //----check for More than 1 subclass
         if(idx > 0 && clcd!=oclcd){
            alert('More than one Class is not allowed in 1 batch');
            return

         }    

             odpcd=dpcd;
             odpnm=dpnm;

             osdcd=sdcd;
             osdnm=sdnm;

             oclcd=clcd;
             oclnm=clnm;

        
        if( clcd!='') { //classcode
            var pdata ={
                dpcd:odpcd,
                dpnm:odpnm,
                sdcd:osdcd,
                sdnm:osdnm,
                clcd:oclcd,
                clnm:oclnm 
            }
          result[idx++]=pdata;
         }
        
         var ddata ={
              clcd:odpcd +osdcd +oclcd,
              skcd:sskc,  //--skcode
              prop1:prop1,  //--Prop1
              prop2:prop2, //--pro2p2
              prop3:prop3,  //--pro2p3
              prop4:prop4, //--Prop4
              prop5:prop5  //--pro2p5
              }


         dresult[ddx++]=ddata;          
      }
    }
  }
  catch(ex){
    $('#waitdiv').hide();
    alert(ex.message);
    return}

//console.log(JSON.stringify(result));
//console.log(JSON.stringify(dresult))
pname.clcd=odpcd +osdcd +oclcd;
console.log(JSON.stringify(pname))

   // alert(result[0].dpcd);
   var qry ="exec Cloudpos..xlsupdateusercatprod '"+ wusercat  + "','@para','@prod','@pname'";

   qry=qry.replace( '@para',JSON.stringify(result) );
   qry=qry.replace( '@prod',JSON.stringify(dresult) );
   qry=qry.replace( '@pname',JSON.stringify(pname) );

   ajaxGetQuery(qry,function(isok,ret){
    $('#waitdiv').hide();
       if (isok){
           var jsn=JSON.parse(ret);
            alert(jsn.dbitems[0].MSG);
         }
       else alert('Error ajaxcall')
   });
   //console.log(JSON.stringify(result));
}

</script>  

</div>


