 
var wait="<img src='../images/wait.gif' >";

 function pageReady() {
      
    } 

 function xpand2div(pat,div){
    try {
        ajaxXpandFile(pat,function(isok,ret){
            if(isok){
                $('#'+div).html(ret);
                setNumericFormatDiv(div);
            }
            else alert('Ajax call Error')
        });
    }
    catch(ex){alert(Ex.message)}
 }

 function showpickque(obj){
    var ref =$(obj).find('td:eq(0)').text();
    ref=ref.trim();
    $('#detailSpn').html('<h4>Pcikingque REF#'+ref +'</h4>')
    $('#detailDiv').html(wait);

    var pdata ={patname:'SORDER/pickque.txt',
            para: {ref:ref}
             }
       xpand2div(pdata,'detailDiv') ;      
 }

/*** 
$HDR
<style>
.table tbody tr:hover {
       background-color:silver;
       cursor:pointer ;
    }

 </style>
 
 
<div class='container-fluid' >
<div class='row'>
    <div class='col col-md-4'>
     <h4>PICKING Control</h4>
     <div id ='pickingDiv'>

            <table class='table'>
                    <thead>
                    <th>REF<th>Odate<th>Nitems<th>Status
                    </thead>
                    <tbody>
$SQL
                    SElect top 50 * 
                    from SORDER
                    where Orderdate>dateadd(dy,-2,getdate()) and STATUS='P'
$BDY
                    <tr onclick='javascript:showpickque(this)'>
                    <td>^ref^
                    <td>^orderdate^
                    <td>^nitem^
                    <td>^status^
$END
                    </tbody>
                    </table>
     </div>
    </div>
     <div class='col col-md-8'>
            <span id='detailSpn' ><h4>Pickingque of Saleorder</h4> </span>
             <div id ='detailDiv'>
              Detail Pickingque
             </div>
          </div>   </div>
    
</div>
</div>
 
//END **/