<script>
  /// SORDER
  let wait = "<center><img src='../images/wait.gif' ></center>";
  let loading = "<center><img src='../images/loading.gif' ></center>";
  let storeCode = "";
  let refStatus = "";
  let tb;
  let userid;
  let stc;

  // function pageReady() {
  //   if (profileList.indexOf("0040") > -1) {} else {
  //     alert("คุณไม่มีสิทธิ์ใช้งานเมนู Sales Order");
  //     location.assign("/");
  //   }
  //   console.log('44444');
  //   init();
  // }
  $(document).ready(() => {
    init()
  })

  function init() {
    // initialize our loader overlay
    //loader.initialize();
    storeCode = readCookie("WDFSTORE");
    pmPerfUserid = readCookie("WUSERID");
    userid = pmPerfUserid;
    stc = userStore;

    $("#sel-salesource, #orderstatus, #orderstoregroup").multiselect({
      buttonWidth: "100%",
      enableFiltering: true,
      includeSelectAllOption: true,
      inheritClass: true,
      nonSelectedText: "กรุณาเลือก",
      maxHeight: 400,
    });

    $('#sdate').datepicker({
      format: "yyyymmdd",
      todayBtn: true,
      language: "th",
      orientation: "bottom left",
      autoclose: true,
      todayHighlight: true
      //,endDate: '0d'
    });

    $('#edate').datepicker({
      format: "yyyymmdd",
      todayBtn: true,
      language: "th",
      orientation: "bottom left",
      autoclose: true,
      todayHighlight: true
      //,endDate: '0d'
    });


    tb = $('#sorderTab').DataTable({
      deferRender: true,
      scrollX: true,
      scrollY: '50vh',
      scrollCollapse: true,
      scroller: {
        loadingIndicator: true
      },
      "columnDefs": [{
          "targets": 0,
          "width": "50px"
        },
        {
          "targets": [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
          "width": "100px"
        }
      ],
      order: [
        [10, 'desc'] // ticket date
      ]
    });

    $('#sorderTab tbody').on('click', 'tr', function () {
      if ($(this).hasClass('selected')) {
        $(this).removeClass('selected');
      } else {
        tb.$('tr.selected').removeClass('selected');
        $(this).addClass('selected');
      }
    });

    // let beginref=$('#sorderTab tr:eq(1) td:eq(0)').text().trim();

    // if (beginref=='No data available in table' ||beginref=='') {
    //     $('#sorderRefContainer').hide();
    //     return;        
    // }
    $('#sorderRefContainer').show();

    $("#exportsum").hide();
    $("#exportdtl").hide();
    $("#exportchecker").hide();
    //if (profileList.indexOf('0023')>-1) {
    //$('#exportsum').show();
    //$('#exportdtl').show();
    //$('#exportchecker').show();
    //}

    getOrderstoregroup();
    getPaymenttype();
    getSalesource();
    getOrderstatus();
    getDeliverytype();
  }

  function getOrderstoregroup() {
    let qry = `exec CLOUDPOS..cs_loadSTDOnWebByUser '${userid}', '${stc}'`;
    let pdata = {
      query: qry
    }
    ajaxExec(pdata, (isok, ret) => {
      let jsn = JSON.parse(ret);

      if (!(isok && jsn.dbcode == 0)) {
        swalConfirm('error', 'Failed', jsn.dbmessage);
        return
      }

      if (!(jsn.dbrows > 0)) {
        return
      }

      let ordstcg = [];
      jsn.dbitems.forEach((itm, idx, arr) => {
        let obj = {
          label: itm.WEBNAME,
          value: itm.WEBNAME
        };
        ordstcg.push(obj);
        if (idx == arr.length - 1) {
          $('#orderstoregroup').multiselect('dataprovider', ordstcg);
        }
      })
    })
  }

  function getSalesource() {
    let qry = `select SALESOURCE, SALESOURCENAME from CLOUDPOS..STDSALESOURCE`;
    let pdata = {
      query: qry
    }
    ajaxExec(pdata, (isok, ret) => {
      let jsn = JSON.parse(ret);

      if (!(isok && jsn.dbcode == 0)) {
        swalConfirm('error', 'Failed', jsn.dbmessage);
        return
      }

      if (!(jsn.dbrows > 0)) {
        return
      }

      let sales = [];
      jsn.dbitems.forEach((itm, idx, arr) => {
        let obj = {
          label: itm.SALESOURCE + ' - ' + itm.SALESOURCENAME,
          value: itm.SALESOURCE
        };
        sales.push(obj);
        if (idx == arr.length - 1) {
          $('#sel-salesource').multiselect('dataprovider', sales);
        }
      })
    })
  }

  function getOrderstatus() {
    let qry = `exec CLOUDPOS..cs_loadSysStatus`;
    let pdata = {
      query: qry
    }
    ajaxExec(pdata, (isok, ret) => {
      let jsn = JSON.parse(ret);

      if (!(isok && jsn.dbcode == 0)) {
        swalConfirm('error', 'Failed', jsn.dbmessage);
        return
      }

      if (!(jsn.dbrows > 0)) {
        return
      }

      let ords = [];
      jsn.dbitems.forEach((itm, idx, arr) => {
        let obj = {
          label: itm.ST + ' - ' + itm.STNAME,
          value: itm.ST
        };
        ords.push(obj);
        if (idx == arr.length - 1) {
          $('#orderstatus').multiselect('dataprovider', ords);
        }
      })
    })
  }

  function getPaymenttype() {
    let qry = `select * from CLOUDPOS..[PAYTMENTTYPEvw]`;
    let pdata = {
      query: qry
    }
    ajaxExec(pdata, (isok, ret) => {
      let jsn = JSON.parse(ret);

      if (!(isok && jsn.dbcode == 0)) {
        swalConfirm('error', 'Failed', jsn.dbmessage);
        return
      }

      if (!(jsn.dbrows > 0)) {
        return
      }

      jsn.dbitems.forEach((itm, idx, arr) => {
        $('#paymenttype').append(`<option value='${itm.PAYTYPE}'>${itm.PAYTYPE}</option>`)
      })
    })
  }

  function getDeliverytype() {
    let qry = `select * from CLOUDPOS..[DLVTYPEvw]`;
    let pdata = {
      query: qry
    }
    ajaxExec(pdata, (isok, ret) => {
      let jsn = JSON.parse(ret);

      if (!(isok && jsn.dbcode == 0)) {
        swalConfirm('error', 'Failed', jsn.dbmessage);
        return
      }

      if (!(jsn.dbrows > 0)) {
        return
      }

      jsn.dbitems.forEach((itm, idx, arr) => {
        $('#deliverytype').append(`<option value='${itm.DLVTYPE}'>${itm.DLVTYPE} - ${itm.DLVNAME} </option>`)
        if (idx == arr.length - 1) {
          $('#btnSearch').click();
        }
      })
    })
  }

  function stcgroupchangehandler() {
    let stcgrpval = $('#orderstoregroup').val();
    $('#orderstore').multiselect('destroy');
    $('#orderstorediv').html(`<select id='orderstore' class='form-control' disabled>              
                                    <option value=''>กรุณาเลือก</option>
                                </select>`)
    if (stcgrpval) {
      getStoreBySTCGroup(stcgrpval);
    }
  }

  function getStoreBySTCGroup(stcgrpval) {
    let userid = readCookie('WUSERID');
    let stc = readCookie('WDFSTORE');
    let qry = `exec CLOUDPOS..cs_loadStoreByUserAndSTDOnWeb '${userid}', '${stc}', '${stcgrpval}'`;
    ajaxGetQuery(qry, (isok, ret) => {
      let jsn = JSON.parse(ret);
      if (jsn.dbcode == 0) {
        if (jsn.dbrows > 0) {
          let options = '';
          for (let i = 0; i < jsn.dbrows; i++) {
            options +=
              `<option value='${jsn.dbitems[i].ST_CODE}'>${jsn.dbitems[i].ST_CODE} ${jsn.dbitems[i].ST_TNAME}</option>`;
          }
          $('#orderstore').removeAttr('disabled');
          $('#orderstore').removeClass('form-control');
          $('#orderstore').prop('multiple', 'multiple');
          $('#orderstore').html(options);
          $('#orderstore').multiselect({
            buttonWidth: '100%',
            enableFiltering: true,
            includeSelectAllOption: true,
            inheritClass: true,
            nonSelectedText: 'กรุณาเลือก',
            maxHeight: 400
          });
        }
      } else {
        alert(jsn.dbmessage);
      }
    })
  }

  function xpand2div(pat, div) {
    try {
      ajaxXpandFile(pat, function (isok, ret) {
        if (isok) {
          $("#" + div).html(ret);
          $(".form_datetime").datepicker({
            format: "yyyymmdd",
            todayBtn: true,
            language: "th",
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true,
          });
          $(".form_datetime").datepicker("update", new Date());
          $('#orderstatus option[value=" "]').remove(); //multiselect already had select all item
          //
          setNumericFormatDiv(div);
          if (div == "detailDiv") {
            getInstallmentDetail(pat.para.ref, pat.para.stc);
          }
          // After Load --> Gen barcode and check can this ref void
          setTimeout(afterLoadSO(), 500);
        } else alert("Ajax call Error");
      });
    } catch (ex) {
      alert(ex.message);
    }
  }

  function afterLoadSO() {
    //----creat Barcode image
    // setTimeout(createRefBarcode(),500) ;  webcontrol dont load barcode

    profileList = readCookie("WUPROFILE");
    $("#void_button").hide();
    //if (profileList.indexOf('0021')>-1) {
    //    if (refStatus=='P'||refStatus=='Q')
    //        $('#void_button').show();
    //}
    //else {
    //    $('#void_button').hide();
    //}
  }

  function showdetail(ref, stts, stc) {
    refStatus = stts;
    $("#detailDiv").html(wait);
    let pdata = {
      patname: "SORDER/sdetail.txt",
      para: {
        ref: ref,
        stc: stc,
        stat: stts,
      },
    };
    xpand2div(pdata, "detailDiv");
  }

  function getInstallmentDetail(ref, stc) {
    let qry = `exec CLOUDPOS..cs_getOrderDetail '${ref}','${stc}', 8`;
    let pdata = {
      query: qry,
    };
    ajaxExec(pdata, (isok, ret) => {
      let jsn = JSON.parse(ret);
      if (!(isok && jsn.dbcode == 0)) {
        swalConfirm("error", "Failed", jsn.dbmessage);
      }

      if (jsn.dbrows == 0) {
        return;
      }

      let html = "<br><div class='well'><h5><b>ข้อมูลการผ่อนชำระ:</b></h5>";
      let htmlTable = "";
      jsn.dbitems.forEach((itm, idx, arr) => {
        if (itm["key"] == "ธนาคาร" && itm["value"] != "-") {
          htmlTable += `<tr><td style='width: 100px'>${itm["key"]}:<td>${itm["value"]}`;
        } else if (htmlTable != "") {
          if (itm["key"] == "ประเภทบัตร") {
            htmlTable += `<tr><td style='width: 100px'>${itm["key"]}:<td>${itm["value"]}`;
          } else if (itm["key"] == "จำนวนงวด") {
            itm["value"] != "-" ?
              (htmlTable += `<tr><td style='width: 100px'>${itm["key"]}:<td>${itm["value"]}`) :
              (htmlTable = "");
          }
        }

        if (idx == arr.length - 1) {
          if (htmlTable != "") {
            htmlTable = `<table class='dtable' style='font-size:13px;'>${htmlTable}</table></div>`;
            $("#paymentDetail").append(html + htmlTable);
          }
          $("#detilModal").modal("show");
        }
      });
    });
  }

  function createRefBarcode() {
    try {
      $(".barCode").each(function () {
        let prcd = $(this).attr("name");
        let id = $(this).attr("id");

        if (prcd == "#ref") return; // no ref

        JsBarcode("#" + id, prcd, {
          height: 40,
          displayValue: false,
        });
      });
    } catch (ex) {
      alert(ex.message);
    }
  }

  function voidSorder(r, s) {
    try {
      let msg = "ต้องการยกเลิกคำสั่งซื้อ #" + r + " หรือไม่";
      if (confirm(msg) == 0) return;

      pmPerfUserid = readCookie("WUSERID");
      let qry = "exec CLOUDPOS..cs_voidSorder '@ref' , '@stc' ,'@userid' ";
      let pdata = {
        query: qry,
        para: {
          ref: r,
          stc: s,
          userid: pmPerfUserid,
        },
      };
      ajaxExec(pdata, function (isok, ret) {
        //alert(ret);
        let jsn = JSON.parse(ret);
        if (jsn.dbcode == 0) {
          alert("ยกเลิกคำสั่งซื้อ #" + r + " เรียบร้อยแล้ว");
          pageReady();
        } else alert(jsn.dbmessage);
      });
    } catch (ex) {
      alert(ex.message);
    }
  }

  function printSorder(r, s) {
    let msg = "ต้องการพิมพ์คำสั่งซื้อ #" + r + " หรือไม่";
    if (confirm(msg) == 0) return;

    // green : page-break
    // More Setting ที่ printer .. Margins ต้องเป็น None
    let datap = $("#sorderRefDiv").html();
    console.log(datap);

    let mywindow = window.open("", "mydivsorder", " ");
    mywindow.document.write("<html><head><title></title>");
    mywindow.document.write(
      '<link rel="stylesheet" href="/stylesheets/print.css" type="text/css"  media="print" charset="utf-8" />'
    );
    mywindow.document.write(
      '<style type="text/css">.print-slip {font-family: "courier_monothai";  font-size:12px; }  '
    );
    mywindow.document.write(
      "  @media all {  .page-break { display: none; }} @media print { .page-break { display: block; page-break-before: always;overflow: hidden!important; }} "
    );
    mywindow.document.write("  .hideme {display:none;}");
    mywindow.document.write(" </style></head><body>");

    mywindow.document.write(datap);

    mywindow.document.write("</body></html>");

    setTimeout(function () {
      mywindow.print();
      mywindow.close();
    }, 1000);
  }

  function searchSorder(obj) {
    obj.blur();
    try {
      let stccookie = readCookie("WDFSTORE");
      storeCode = $("#orderstore").val() || stccookie;
      userId = readCookie("WUSERID");

      let ssdate = $("#sdate").val();
      let sedate = $("#edate").val();
      let sstatus = $("#orderstatus").val() || " ";
      let tsearch = $("#smartsrch").val();
      let tref = $("#smartref").val();
      let dlvtype = $("#deliverytype").val();
      let paytype = $("#paymenttype").val();
      let salesource = $("#sel-salesource").val() || "";
      let sordertype = $("#sel-sordertype").val();
      let stcgroup = $("#orderstoregroup").val() || "All";

      // $("#sorderDiv").html(waitkgif);
      //--------Create Pattern inside

      let qry =
        `exec CLOUDPOS..cs_ListSaleOrder_Control '${ssdate}','${sedate}','${tsearch}','${storeCode}','${tref}','${sstatus}','${userId}',null,null,'${dlvtype}','${paytype}','${salesource}','${sordertype}','${stcgroup}'`
      let pdata = {
        query: qry
      }
      ajaxExec(pdata, (isok, ret) => {
        let jsn = JSON.parse(ret);
        if (!(isok && jsn.dbcode == 0)) {
          swalConfirm('error', 'Failed', jsn.dbmessage);
          return
        }

        if (!(jsn.dbrows > 0)) {
          swalConfirm('warning', 'ไม่พบข้อมูลที่ต้องการค้นหา', '');
          return
        }

        tb.rows().remove().draw()

        jsn.dbitems.map((itm, idx, arr) => {
          tb.row.add([
            itm.stcode + itm.storename, itm.ref, itm.CNAME, itm.orderdate, itm.confirmpaid,
            itm.nitem, itm.payamount, itm.paytype, itm.POSREF, itm.POSTYPE, itm.POSTTM, itm.salesource,
            itm.dlvtype, itm.status + ' - ' + itm.STNAME, itm.voidreason, itm.stsnumber, itm.stsdate
          ]).draw(false);
          // console.log(itm.ref+itm.status+itm.stcode);
        })
        $('#sorderBody').on('click', 'tr', function () {
          let [ref, stts, stc] = [tb.row(this).data()[1],
            tb.row(this).data()[13] ? tb.row(this).data()[13].substring(0, tb.row(this).data()[13].indexOf(' - ')) : null,
            tb.row(this).data()[0] ? tb.row(this).data()[0].substring(0, 3) : null
          ]
          showdetail(ref, stts, stc);
        });
      })
    } catch (ex) {
      alert(ex.message);
    }
  }
</script>

<style>
  table {
    font-size: 12px;
  }

  .highlighted {
    background: #f4e1d2;
  }

  .dtable {
    padding: 3px 3px;
  }
</style>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 p-0">
      <h4>รายการคำสั่งซื้อ</h4>
    </div>
  </div>
  <div class="row" id='searchPanel'>
    <div class="col-md-12 p-0">
      <div class="row">
        <div class="col-md-12 p-0">
          <div class="col-md-2 col-xs-12">
            <label for="orderstoregroup">กลุ่มสาขา</label>
            <select id='orderstoregroup' multiple onchange='stcgroupchangehandler()'>
            </select>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="orderstore">สาขา</label>
            <div id='orderstorediv'>
              <select id='orderstore' class='form-control' disabled>
                <option value=''>กรุณาเลือก</option>
              </select>
            </div>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="smartsrch">ค้นหาลูกค้า อีเมลล์ หรือ เบอร์โทร</label>
            <input type='text' id='smartsrch' class='form-control' autocomplete="off"
              placeholder='ชื่อลูกค้า อีเมลล์ หรือ เบอร์โทรศัพท์' maxlength='100' value=''>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="smartref">เลขที่คำสั่งซื้อ หรือ เลขที่ใบเสร็จ</label>
            <input type='text' id='smartref' class='form-control' autocomplete="off"
              placeholder='เลขที่คำสั่งซื้อ หรือ เลขที่ใบเสร็จ' maxlength='50' value=''>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="sel-salesource">Salesource</label>
            <select class='form-control' id='sel-salesource' multiple>
              #salesource
            </select>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="cntmstatus-srch">ประเภท Sale Order</label>
            <select id='sel-sordertype' class='form-control'>
              <option value=''>ทั้งหมด</option>
              <option value='normal'>ปกติ</option>
              <option value='preorder'>มัดจำ</option>
            </select>
          </div>
        </div>
        <div class="col-md-12 p-0">
          <div class="col-md-2 col-xs-12">
            <label for="orderstatus">สถานภาพ</label>
            <select class='form-control' id='orderstatus' multiple>
            </select>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="deliverytype">ประเภทการขนส่ง</label>
            <select class='form-control' id='deliverytype'>
              <option value=''>ทั้งหมด</option>
            </select>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="paymenttype">เงื่อนไขการจ่ายเงิน</label>
            <select class='form-control' id='paymenttype'>
              <option value=''>ทั้งหมด</option>
            </select>
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="sdate">วันที่ Ticket เริ่มต้น</label>
            <input style="margin-top: 0px;" type="text" class="form_datetime form-control" id="sdate" name="sdate"
              onFocus='this.select();' autocomplete="off" maxlength="8" placeholder="format : yyyymmdd" value="">
          </div>
          <div class="col-md-2 col-xs-12">
            <label for="edate">วันที่ Ticket สิ้นสุด</label>
            <input style="margin-top: 0px;" type="text" class="form_datetime form-control" id="edate" name="edate"
              onFocus='this.select();' autocomplete="off" maxlength="8" placeholder="format : yyyymmdd" value="">
          </div>
          <div class="col-md-2 col-xs-12">
            <br>
            <button class='btn btn-info' id='btnSearch' onclick='searchSorder(this);'><i class="fa fa-search"
                aria-hidden="true"></i> แสดง</button>
            <!-- <a href="javascript:searchSorder()" 
                  class="btn btn-info btn-sm">&nbsp;&nbsp;&nbsp;แสดง&nbsp;&nbsp;&nbsp;</a> -->
            &nbsp;&nbsp;&nbsp;&nbsp;
            <!--<a href="javascript:reportSorderExportSummary()"  id='exportsum' 
                  class="btn btn-success btn-sm">Export Summary</a>

                  <a href="javascript:reportSorderExportDetail()"   id='exportdtl' 
                  class="btn btn-primary btn-sm">Export Detail</a>

                  <a href="javascript:reportCheckerExport()"   id='exportchecker' 
                  class="btn btn-warning btn-sm">Checker Report</a>-->

            <div id='loadingDiv' style='display:inline-block;position:absolute; 
                      margin-left:10px; padding-left:10px;margin-top:2px; '> </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 p-0">
          <!-- <div class='row'>
                    <div class='col-md-12' >
                        <br>
                        <span style='background-color:#F8F8F8;width:100%;display:block;padding:3px 3px;'> 
                        //#status
                        </span>
                    </div> 
                </div> -->
          <div class="col-md-12 col-xs-12">
            <!-- <h5>
                    Parameter: <label id='theday'>
                    กลุ่มสาขา: @groupstc / สาขา: @store / ลูกค้าหรือเบอร์โทร:@textsrch / คำสั่งซื้อ:@textref / วันที่: @srhdate1 - @srhdate2 / ประเภท Sale Order - @sordertype / Salesource : @salesource / สถานภาพ : @sostatus / ประเภทการขนส่ง : @dlvtype / เงื่อนไขการจ่ายเงิน : @paymenttype</label>
                  </h5> -->
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 p-0" id='sorderDiv'>
          <table id='sorderTab' class='stripe row-border order-column'>
            <thead id='sorderHeader'>
              <tr>
                <!-- <th></th> -->
                <th class='text-center'>สาขา</th>
                <th class='text-center'>คำสั่งซื้อ</th>
                <th class='text-center'>ลูกค้า</th>
                <th class='text-center'>วันที่คำสั่งซื้อ</th>
                <th class='text-center'>วันที่ชำระเงิน</th>
                <th class='text-center'>จำนวนรายการ</th>
                <th class='text-center'>ยอดเงินที่ชำระ</th>
                <th class='text-center'>เงื่อนไขการจ่ายเงิน</th>
                <th class='text-center'>Ticket</th>
                <th class='text-center'>ประเภท Ticket</th>
                <th class='text-center'>วันที่ Ticket</th>
                <th class='text-center'>Salesource</th>
                <th class='text-center'>ประเภทการขนส่ง</th>
                <th class='text-center'>สถานภาพ</th>
                <th class='text-center'>เหตุผลยกเลิก</th>
                <th class='text-center'>STS Number</th>
                <th class='text-center'>STS Date</th>
              </tr>
            </thead>
            <tbody id='sorderBody'></tbody>
          </table>
        </div>
      </div><br>
    </div>
  </div>
  <div id="detilModal" class="modal fade" role="dialog" style="padding-right: 15px;">
    <div class="modal-lg modal-dialog">
      <!-- Modal content-->
      <div class="modal-content" style="background-color: rgb(241,241, 241);">
        <div class="modal-header"
          style='border-radius: 7px; background-color: white; height: auto; padding: 20px 20px; margin:0px 0px; '>
          <center>
            <div id="demo"></div>
          </center>

          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <span id='detailSpn'>
            <h3></h3>
          </span>
        </div>
        <div class="modal-body p-modal">
          <div class='container-fluid p-modal'>
            <div class='row'>
              <div class='col-md-12'>
                <div id='detailDiv'>
                  Detail to be put here
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer"></div>

      </div>
    </div>
  </div>