<div>
    <h4><span id='xlsHeader'>UPLOAD Digital Planogram</span></h4>
    <pre>
  You can upload Digital Planogram by excel file and must have Content like this:
  SKCODE RANKING	
   
    </pre>
    <div class="row">
        <div class="col-md-5 col-xs-5" style='padding: 0px;'>
            <label>กรุณาระบุ Class: </label>
            <select name='selsubclass' id='selsubclass' class="form-control"
                style="padding:0px 15px; font-family: 'kittithadabold75regular'; color:black; background-color: white;border-radius: 4px;">
                <option value=''>เลือก Class</option>
            </select>
        </div>
    </div><br>
    <div class="row">
        <input type="file" id="inpfile" name="inpfile" accept=".xls, .xlsx" />
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-4" id="showTBDIV" style='padding: 0px;'>
            <table id="showTB" class="table table-striped table-bordered" style="width:100%">
                <thead id="showHEAD">
                    <tr>
                        <th>SKCODE</th>
                        <th style='width: 100px;'>RANKING</th>
                    </tr>
                </thead>
                <tbody id="showBODY">

                </tbody>
            </table>
        </div>
    </div><br>
    <div class="row">
        <a href='javascript:process()' class='btn btn-primary'>Process</a>
        <a href='javascript:uploadcancel()' class='btn btn-danger'>Cancel</a>
        <a href='javascript:clear()' class='btn btn-info'>Clear File</a>
    </div>

</div>


</div>

<div>
    <script>
        function xlsReady(ucat) {
            $('#xlsHeader').html('UPLOAD DIGITAL PLANOGRAM [' + ucat + ']');
            console.log('Cat %s', ucat)
            wusercat = ucat;
            //-------------add event to inpute       
            document.getElementById('inpfile').addEventListener('change', handleFileSelect, false);

            var qry = `exec TWDPIM..getClassByCat '${ucat}'`;
            var pdata = {
                query: qry
            }
            ajaxExec(pdata, function (isok, ret) {
                if (isok) {
                    var jsn = JSON.parse(ret);
                    for (i = 0; i < jsn.dbitems.length; i++) {
                        $('#selsubclass').append(
                            `<option value='${jsn.dbitems[i].CLASS}'>${jsn.dbitems[i].CLASS} (${jsn.dbitems[i].NAME})</option>`
                        );
                    }
                }
            })
            $('#selsubclass').select2({
                placeholder: 'เลือก Class'
            });
        }

        function handleFileSelect(evt) {
            if ($('#selsubclass').val() == '') {
                swalConfirm('warning', 'เงื่อนไข!!!', "กรุณาระบุ Class ที่ต้องการอัพโหลด");
                clearInputFile(inpfile);
                return
            }
            console.log('File is selected  ')
            var tfile = $('#inpfile')[0].files;

            //--check if Files is txt
            var fname = tfile[0].name;
            fname = fname.toLowerCase();

            if (fname.indexOf('.xls') < 0) {
                swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                    " is not excel file (.xls or .xlsx).");
                clearInputFile(inpfile);
                return
            }
            // files is a FileList of File objects. List some properties.
            var jsntotalsku = "";
            var reader = new FileReader();
            reader.onload = function (event) {
                var data = event.target.result;
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                var sheetNames = workbook.SheetNames;
                var worksheet = workbook.Sheets[sheetNames[0]];
                var showDetail = "";
                var chkErr = false;
                var allSEQs = new Array();
                var allSKUs = new Array();
                var XL_row_object = XLSX.utils.sheet_to_row_object_array(worksheet);
                for (i = 0; i < XL_row_object.length; i++) {
                    if (XL_row_object[i].RANKING === 'undefined' || XL_row_object[i].RANKING == null ||
                        XL_row_object[i].RANKING == '' ||
                        XL_row_object[i].SKCODE === 'undefined' || XL_row_object[i].SKCODE == null ||
                        XL_row_object[i].SKCODE == '') {
                        swalConfirm('warning', 'กรุณาตรวจสอบ excel file!!!',
                            'กรุณาระบุ SKCODE & RANKING ให้ครบก่อนการอัพโหลด');
                        clear();
                        chkErr = true;
                        return;
                    }
                    if (allSKUs.indexOf(XL_row_object[i].SKCODE) > -1) {
                        swalConfirm('warning', 'กรุณาตรวจสอบ excel file!!!',
                            'ตรวจพบ SKCODE ที่ซ้ำกันใน file : ' + XL_row_object[i].SKCODE);
                        clear();
                        chkErr = true;
                        return;
                    }
                    if (allSEQs.indexOf(XL_row_object[i].RANKING) > -1) {
                        swalConfirm('warning', 'กรุณาตรวจสอบ excel file!!!',
                            'ตรวจพบ SKCODE ที่มี RANKING ซ้ำกันใน file : ' + XL_row_object[i].RANKING);
                        clear();
                        chkErr = true;
                        return;
                    }

                    showDetail += "<tr><td>" + XL_row_object[i].SKCODE + "</td><td>" +
                        XL_row_object[i].RANKING + "</td></tr>";
                    allSKUs.push(XL_row_object[i].SKCODE);
                    allSEQs.push(XL_row_object[i].RANKING);
                }
                $('#showBODY').html(showDetail);
                if (!chkErr) {
                    var table = $('#showTB').DataTable({
                        sDom: 'lrtip',
                        order: [
                            [1, "asc"]
                        ]
                    });
                    table.buttons('.export').remove();
                }
            };
            reader.onerror = function (event) {
                // console.error("File could not be read! Code " + event.target.error.code);
            };
            reader.readAsBinaryString(tfile[0]);
        }

        //----------------Process input
        function process() {
            var subclass = $('#selsubclass').val();
            if (subclass == '' || subclass == null) {
                swalConfirm('warning', 'เงื่อนไข!!!', "กรุณาระบุ Class ที่ต้องการอัพโหลด");
                return;
            }
            if ($('#inpfile').val().indexOf('.xls') < 0) {
                swalConfirm('warning', 'เงื่อนไข!!!', "กรุณาระบุ excel file ที่ต้องการอัพโหลด");
                return;
            }

            var table = $('#showTB').DataTable();
            table.order([1, 'asc']).draw();

            if (table.rows().data().length == 0) {
                swalConfirm('warning', 'เงื่อนไข!!!',
                    'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
                clear();
                return;
            }

            var qry =
                `SELECT DISTINCT c.CLASS FROM TWDPIM..CATPRODUCT2 c WHERE c.skcode = '${((table.rows().data())[0])[0]}' and c.bycode = '${wusercat}'`;
            ajaxGetQuery(qry, (isok, ret) => {
                var jsn = JSON.parse(ret);
                if (isok) {
                    if (jsn.dbrows > 0) {
                        var canHandle = false;
                        var subclssinfile = '';
                        for (i = 1; i <= jsn.dbrows; i++) {
                            if (i == jsn.dbrows) {
                                subclssinfile += jsn.dbitems[i - 1].CLASS
                            } else {
                                subclssinfile += jsn.dbitems[i - 1].CLASS + ' or '
                            }

                            if (subclass == jsn.dbitems[i - 1].CLASS) {
                                canHandle = true;
                                break;
                            }
                        }

                        if (canHandle) {
                            //remove old SEQ
                            var chkclass = true;
                            var qry =
                                `exec TWDPIM..updateDigitalPlanogram '${wusercat}','${subclass}', null, ${chkclass}`;
                            ajaxGetQuery(qry, function (isok, ret) {
                                //console.log(ret);
                            });

                            var params = '';
                            var count = 0;
                            chkclass = false;
                            for (i = 1; i <= table.rows().data().length; i++) {
                                if (i == 1) {
                                    params += '[';
                                }
                                var sku = ((table.rows().data())[i - 1])[0];
                                var seq = ((table.rows().data())[i - 1])[1];
                                params += `{"class":"${subclass}", "skcode":${sku}, "seq":${seq}}`;
                                params += (i < table.rows().data().length) ? ',' : ']';
                                ++count;
                            };

                            var qry =
                                `exec TWDPIM..updateDigitalPlanogram '${wusercat}','${subclass}','${params}',${chkclass}`;
                            var pdata = {
                                query: qry
                            }
                            ajaxExec(pdata, function (isok, ret) {
                                //console.log(ret);
                                var jsn = JSON.parse(ret);
                                if (jsn.dbcode == 888) {
                                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                                    return;
                                }
                            });
                            swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' SKCODE');
                            clear();
                        } else {
                            swalConfirm('error', 'กรุณาระบุ Class ใหม่อีกครั้ง!!!',
                                `Class ของ SKCODE ไฟล์นี้คือ\r\n(${subclssinfile})`);
                            return;
                        }
                    } else {
                        swalConfirm('error', 'กรุณาตรวจสอบไฟล์ใหม่อีกครั้ง!!!',
                            `ไม่พบ SKCODE นี้ในระบบ (${((table.rows().data())[0])[0]}) `);
                        return;
                    }
                } else {
                    swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                    return;
                }
            })
        }

        function clear() {
            clearInputFile(inpfile);
            $('#showTB').remove();
            $('#showTBDIV').html(`<table id="showTB" class="table table-striped table-bordered" style="width:100%">
                                                    <thead id="showHEAD">
                                                        <tr>
                                                            <th>SKCODE</th>
                                                            <th style='width: 100px;'>RANKING</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="showBODY">

                                                    </tbody>
                                                </table>`);
        }
    </script>
</div>