<div>
    <h4>Digital Planogram Under
        <span id='wxcat'></span>
        <span id='wxclass'></span></h4>
    <div id='wdgtpngDiv'>
        <table id='dgtpngTab' class='table'>
            <thead>
                <th>SKCODE</th>
                <th>PRNAME</th>
                <th>BRAND</th>
                <th>MODEL</th>
                <th>PRICE</th>
                <Th>RANKING</th>
            </thead>
            <tbody id="details">

            </tbody>
        </table>
    </div>
</div>


</div>

<div>
    <script>
        function xlsReady(ucat, uclass) {
            $('#wxcat').html(ucat);
            $('#wxclass').html(uclass);

            var qry = `exec TWDPIM..getDigitalPlanogramByClass '${uclass}', '${ucat}'`;
            ajaxGetQuery(qry, function (isok, data) {
                // console.log(data);
                
                var jsn = JSON.parse(data);
                if (isok) {
                    if (jsn.dbrows > 0) {
                        for(i = 0; i < jsn.dbrows; i++){
                            $("#details").append(`<tr>
                                                <td>${jsn.dbitems[i].SKCODE}</td>
                                                <td>${jsn.dbitems[i].PRNAME}</td>
                                                <td>${jsn.dbitems[i].BRAND}</td>
                                                <td>${jsn.dbitems[i].MODEL}</td>
                                                <td style='text-align:right;' class='numeric'>${jsn.dbitems[i].PRICE}</td>
                                                <td>${jsn.dbitems[i].RANKING}</td>
                                                </tr>`);
                        }
                    }
                    else{
                        $("#details").html(`<tr><td colspan='6'>No Result From DB</td></tr>`);
                    }
                }
                else{
                    swalAl("error", "Failed", jsn.dbmessage);
                }
            });
        }
    </script>
</div>