<style>
    .delete-action:hover {  	 
        cursor: hand;	 
    }
</style>

<div>
    <div class="row">
        <div class="col-xs-6">
            <h4>Standard Product Unit(SPU) Under
                <span id='wxcat'></span>
                <span id='wxclass'></span></h4>
        </div>
        <button class='btn btn-danger' style='float: right;' id='btn-delete-all'>Delete All</button>
    </div>
    
    <div id='wspuDiv'>
        <table id='spuTab' class='table'>
            <thead>
                <th>SKCODE</th>
                <th>PRNAME</th>
                <th>BRAND</th>
                <th>MODEL</th>
                <th>PRICE</th>
                <th>SPU</th>
                <th>DELETE</th>
            </thead>
            <tbody id="details">

            </tbody>
        </table>
    </div>
</div>


</div>

<div>
    <script>
        function xlsReady(ucat, uclass) {
            $('#wxcat').html(ucat);
            $('#wxclass').html(uclass);

            $('#btn-delete-all').on('click', () => {
                deleteAllSPUByClass(this, 'spuTab', ucat, uclass);
            })
            var qry = `exec TWDPIM..getSPUByClass '${uclass}', '${ucat}'`;
            ajaxGetQuery(qry, function (isok, data) {
                // console.log(data);
                
                var jsn = JSON.parse(data);
                if (isok) {
                    if (jsn.dbrows > 0) {
                        for(i = 0; i < jsn.dbrows; i++){
                            $("#details").append(`<tr>
                                                <td>${jsn.dbitems[i].SKCODE}</td>
                                                <td>${jsn.dbitems[i].PRNAME}</td>
                                                <td>${jsn.dbitems[i].BRAND}</td>
                                                <td>${jsn.dbitems[i].MODEL}</td>
                                                <td style='text-align:right;' class='numeric'>${jsn.dbitems[i].PRICE}</td>
                                                <td>${jsn.dbitems[i].SPU}</td>
                                                <td class='delete-action' ><center><img src='../images/delete-button.png' onclick="javascript:deleteSPUByClass(this,'${ucat}','${uclass}','${jsn.dbitems[i].SKCODE}')"></center></td>                                                </tr>`);
                        }
                        $('#btn-delete-all').css('display', 'unset');
                    }
                    else{
                        $("#details").html(`<tr><td colspan='6'>No Result From DB</td></tr>`);
                        $('#btn-delete-all').css('display', 'none');
                    }
                }
                else{
                    swalAl("error", "Failed", jsn.dbmessage);
                }
            });
        }

        function deleteAllSPUByClass(obj, tbname, ucat, uclass){
            var allskcs = '';
            $(`#${tbname} tbody tr`).each((i,e) => {
                allskcs += $(e).find("td:eq(0)").text().trim() + ',';
            });
            allskcs = allskcs.substring(0, allskcs.length - 1)
            swal({
                title: "Do you want to delete?",
                text: "All SKUs",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false,
            },
              function () {
                  try {
                  var qry = `exec twdpim..deleteSPUByClass '${ucat}','${uclass}','${allskcs}'`;
                  var pdata = {
                      query: qry
                  }
                  ajaxExec(pdata, function (isok, resp) {
                      if (isok) {
                        var jsn = JSON.parse(resp);
                        if (jsn.dbcode == 0) {
                          swalAl("success", "Successful", 'Deleted all SKUs successful');
                          showSPU(uclass);
                        } else {
                          swalAl("error", "Failed", jsn.dbmessage);
                        }
                      }
                  })
                  } catch (ex) {
                      swalAl("error", "Failed", ex.message);
                  }
              }
            );
            obj.blur();
        }

        function deleteSPUByClass(obj, ucat, uclass, sku){
            swal({
                title: "Do you want to delete?",
                text: "SKCODE: " + sku,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false,
            },
              function () {
                  try {
                  var qry = `exec twdpim..deleteSPUByClass '${ucat}','${uclass}','${sku}'`;
                  var pdata = {
                      query: qry
                  }
                  ajaxExec(pdata, function (isok, resp) {
                      if (isok) {
                        var jsn = JSON.parse(resp);
                        if (jsn.dbcode == 0) {
                          swalAl("success", "Successful", 'Deleted successfully');
                          showSPU(uclass);
                        } else {
                          swalAl("error", "Failed", jsn.dbmessage);
                        }
                      }
                  })
                  } catch (ex) {
                      swalAl("error", "Failed", ex.message);
                  }
              }
            );
            obj.blur();
        }
    </script>
</div>