<h4><span id='xlsHeader'>UPLOAD Standard Product Unit(SPU)</span></h4>
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'copy')" id="defaultOpen">Copy & Paste</button>
  <button class="tablinks" onclick="openTab(event, 'upload')">Upload File</button>
</div>

<div id="upload" class="tabcontent">
</div>

<div id="copy" class="tabcontent">
</div>
<style>
  body {
    font-family: Arial;
  }

  /* Style the tab */
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* Style the buttons inside the tab */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Create an active/current tablink class */
  .tab button.active {
    background-color: #ccc;
  }

  /* Style the tab content */
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
  }

  /* Style the close button */
  .topright {
    float: right;
    cursor: pointer;
    font-size: 28px;
  }

  .topright:hover {
    color: red;
  }
</style>
<script>
  function xlsReady(ucat) {
    $('#xlsHeader').html('UPLOAD Standard Product Unit(SPU) [' + ucat + ']');
  }

  function openTab(evt, tabid) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    var url;
    if(tabid == 'copy') {
      url = "CATEGORY3/standardproductunit2.htm";
    } else if (tabid == 'upload') {
      url = "CATEGORY3/standardproductunit.htm";
    }

      $.get(url, function (data) {
        $('#'+tabid).html(data);
        xlsReady(usercat);
      });

    document.getElementById(tabid).style.display = "block";
    evt.currentTarget.className += " active";
  }

  // Get the element with id="defaultOpen" and click on it
  document.getElementById("defaultOpen").click();
</script>