<div>
    <!-- <h4><span id='xlsHeader'>UPLOAD Standard Product Unit(SPU)</span></h4> -->
    <pre>
You can upload Standard Product Unit(SPU) by excel file and must have Content like this:
CLASS SKU SPU	SPUNAME</pre>
    <div class="row">
        <input type="file" id="inpfile" name="inpfile" accept=".xls, .xlsx" />
    </div>
    <div class="row">
        <div class="col-md-8 col-xs-8" id="showTBDIV" style='padding: 0px;'>
            <table id="showTB" class="table table-striped table-bordered" style="width:100%">
                <thead id="showHEAD">
                    <tr>
                        <th style='width: 130px;'>CLASS</th>
                        <th style='width: 130px;'>SKU</th>
                        <th style='width: 130px;'>SPU</th>
                        <th style='width: 130px;'>SPUNAME</th>
                    </tr>
                </thead>
                <tbody id="showBODY">

                </tbody>
            </table>
        </div>
    </div><br>

    <div class="row">
        <button onclick='javascript:process()' class='btn btn-primary' id="btnProcess">Process</button>
        <a href='javascript:uploadcancel()' class='btn btn-danger'>Cancel</a>
        <a href='javascript:clear()' class='btn btn-info'>Clear Datas</a>
    </div><br>
    <h4><span>รายการทีมีปัญหา</span></h4>
    <div class="row">
        <div class="col-md-8 col-xs-8" id="showTBDIV1" style='padding: 0px;'>
            <table id="showTB1" class="table table-striped table-bordered" style="width:100%">
                <thead id="showHEAD1">
                    <tr>
                        <th style='width: 130px;'>CLASS</th>
                        <th style='width: 130px;'>SKU</th>
                        <th style='width: 130px;'>SPU</th>
                        <th style='width: 130px;'>SPUNAME</th>
                    </tr>
                </thead>
                <tbody id="showBODY1">

                </tbody>
            </table>
        </div>
    </div><br>

</div>


</div>

<div>
    <script>
        var usercat;
        var spulists = '';

        function xlsReady(ucat) {
            // $('#xlsHeader').html('UPLOAD Standard Product Unit(SPU) [' + ucat + ']');
            // console.log('Cat %s', ucat)
            wusercat = ucat;
            usercat = ucat;
            //-------------add event to inpute       
            document.getElementById('inpfile').addEventListener('change', handleFileSelect, false);

            createDataTable();
        }

        function handleFileSelect(evt) {
            console.log('File is selected  ')
            var tfile = $('#inpfile')[0].files;

            //--check if Files is txt
            var fname = tfile[0].name;
            fname = fname.toLowerCase();

            if (fname.indexOf('.xls') < 0) {
                swalConfirm('warning', 'กรุณาตรวจสอบ format ไฟล์!!!', "file " + fname +
                    " is not excel file (.xls or .xlsx).");
                clearInputFile(inpfile);
                return
            }
            // files is a FileList of File objects. List some properties.
            var jsntotalsku = "";
            var reader = new FileReader();
            reader.onload = function (event) {
                var data = event.target.result;
                var workbook = XLSX.read(data, {
                    type: 'binary'
                });
                var sheetNames = workbook.SheetNames;
                var worksheet = workbook.Sheets[sheetNames[0]];
                var chkErr = false;

                var XL_row_object = XLSX.utils.sheet_to_row_object_array(worksheet);
                for (var i = 0; i < XL_row_object.length; i++) {
                    while ((XL_row_object[i].CLASS).length < 6) {
                        XL_row_object[i].CLASS += '0';
                    }

                    if (XL_row_object[i].SKU == '' || XL_row_object[i].SKU == null || XL_row_object[i].SKU === 'undefined' ||
                        XL_row_object[i].SPU == '' || XL_row_object[i].SPU == null || XL_row_object[i].SPU === 'undefined') {
                        swalConfirm('warning', 'กรุณาตรวจสอบ excel file!!!',
                            'กรุณาระบุ SKU & SPU ให้ครบก่อนการอัพโหลด');
                        clear();
                        return;
                    }

                    var qry =
                        `SELECT DISTINCT SKCODE FROM TWDPIM..CATPRODUCT2 WHERE SKCODE = '${XL_row_object[i].SKU}' AND CLASS = '${XL_row_object[i].CLASS}' AND BYCODE = '${usercat}'`;
                    chkConditionSku(qry, XL_row_object[i]);
                }

            }
            reader.onerror = function (event) {
                console.error("File could not be read! Code " + event.target.error.code);
            };
            reader.readAsBinaryString(tfile[0]);

        }

        function chkConditionSku(qry, erow) {
            ajaxGetQuery(qry, function (isok, ret) {
                var jsn = JSON.parse(ret);
            var table = $('#showTB').DataTable();
            var table1 = $('#showTB1').DataTable();
                if (isok) {
                    try {
                        if (jsn.dbrows == 0) {
                            table1.row.add([erow.CLASS,erow.SKU,erow.SPU,erow.SPUNAME]).draw(false);
                        } else {
                            table.row.add([erow.CLASS,erow.SKU,erow.SPU,erow.SPUNAME]).draw(false);
                        }
                    } catch (e) {
                        //console.log(e)
                    }
                }
            })
        }

        //----------------Process input
        async function process() {
            spulists = '';
            if ($('#inpfile').val().indexOf('.xls') < 0) {
                swalConfirm('warning', 'เงื่อนไข!!!', "กรุณาระบุ excel file ที่ต้องการอัพโหลด");
                return;
            }
            var count = 0;
            var table = $('#showTB').DataTable();
            var table1 = $('#showTB1').DataTable();

            if (table.rows().data().length == 0) {
                swalConfirm('warning', 'เงื่อนไข!!!',
                    'ไม่พบข้อมูลในตารางที่จะทำการอัพโหลด');
                clear();
                return;
            }

            for (var i = 0; i < table.rows().data().length; i++) {
                var spu = ((table.rows().data())[i])[2];
                if(!spulists.includes(spu)){
                    spulists += spu + ',';
                } else {
                    continue;
                }
            }

            if (spulists != '') {
                spulists = spulists.substring(0, spulists.length-1);
                var waitclear = await clearSpu(usercat, spulists);
            }

            for (var i = 0; i < table.rows().data().length; i++) {
                var uclass = ((table.rows().data())[i])[0];
                var sku = ((table.rows().data())[i])[1];
                var spu = ((table.rows().data())[i])[2];
                var spuName = ((table.rows().data())[i])[3];

                var dbcode = await updateSpu(uclass, usercat, sku, spu, spuName);
                if(dbcode > 0){
                    return;
                }
                ++count;
            };

            swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' แถว');
            $('#showTB').remove();
            $('#showTBDIV').html(`<table id="showTB" class="table table-striped table-bordered" style="width:100%">
                                                    <thead id="showHEAD">
                                                        <tr>
                                                            <th style='width: 130px;'>CLASS</th>
                                                            <th style='width: 130px;'>SKU</th>
                                                            <th style='width: 130px;'>SPU</th>
                                                            <th style='width: 130px;'>SPUNAME</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="showBODY">

                                                    </tbody>
                                                </table>`);
            $('#btnProcess').attr('disabled', true);
            $('#showTB').DataTable({
                sDom: 'lrtip'
            });
        }

        async function clearSpu(usercat, spulists){
            return new Promise((resolve, reject) => {
                var qry = `exec TWDPIM..updateSPU 'clearspu', '${spulists}', '', '${usercat}', 0, '', 0`;
                var pdata = {
                        query: qry
                }
                ajaxExec(pdata, function (isok, ret) {
                        //console.log(ret);
                        var jsn = JSON.parse(ret);
                        if(jsn.dbcode == 888)
                        {
                                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                                reject(jsn.dbcode);
                        }
                        resolve(jsn.dbcode);
                });
                })
        }

        async function updateSpu(uclass, usercat, sku, spu, spuName){
            return new Promise((resolve, reject) => {
                var qry = `exec TWDPIM..updateSPU 'update', '', '${uclass}', '${usercat}', ${spu}, '${spuName}', ${sku}`;
                var pdata = {
                    query: qry
                }
                ajaxExec(pdata, function (isok, ret) {
                    //console.log(ret);
                    var jsn = JSON.parse(ret);
                    if(jsn.dbcode == 888)
                    {
                        swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                        reject(jsn.dbcode);
                    }
                    resolve(jsn.dbcode);
                });
            })
        }

        function clear() {
            swal({
                    title: "Warning!!!",
                    text: "Do you want to clear datas?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes",
                    closeOnConfirm: true,
                 },
            function () {
                    clearInputFile(inpfile);
                    $('#showTB').remove();
                    $('#showTB1').remove();
                    $('#showTBDIV').html(`<table id="showTB" class="table table-striped table-bordered" style="width:100%">
                                                            <thead id="showHEAD">
                                                                <tr>
                                                                    <th style='width: 130px;'>CLASS</th>
                                                                    <th style='width: 130px;'>SKU</th>
                                                                    <th style='width: 130px;'>SPU</th>
                                                                    <th style='width: 130px;'>SPUNAME</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="showBODY">

                                                            </tbody>
                                                        </table>`);
                    $('#showTBDIV1').html(`<table id="showTB1" class="table table-striped table-bordered" style="width:100%">
                                                            <thead id="showHEAD1">
                                                                <tr>
                                                                    <th style='width: 130px;'>CLASS</th>
                                                                    <th style='width: 130px;'>SKU</th>
                                                                    <th style='width: 130px;'>SPU</th>
                                                                    <th style='width: 130px;'>SPUNAME</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="showBODY1">

                                                            </tbody>
                                                        </table>`);
                    $('#btnProcess').removeAttr("disabled");
                    createDataTable();
                }
            );
        }

        function createDataTable() {
            $('#showTB').DataTable({
                sDom: 'lrtip'
            });
            
            $('#showTB1').DataTable({
                dom: 'Bfrtip',
                buttons: ['excel'],
                "searching": false
            });
        }
    </script>
</div>