<div>
        <!-- <h4><span id='xlsHeader'>UPLOAD Standard Product Unit(SPU)</span></h4> -->
        <pre>
You can upload Standard Product Unit(SPU) by copy & paste and must have Content like this:
DEPT    NAME    SUBDEPT SDNAME  CLASS   CLNAME  SKCODE  SPU     SPUNAME</pre>
        <textarea id='inputtxt' cols='160' rows='20'></textarea>
        <a href='javascript:process()' class='btn btn-primary'>Process</a>
        <a href='javascript:uploadcancel()' class='btn btn-danger'>Cancel</a>
</div>

<script>
        var usercat;
        var spulists = '';

        function xlsReady(ucat) {
                // $('#xlsHeader').html('UPLOAD Standard Product Unit(SPU) [' + ucat + ']');
                // console.log('Cat %s', ucat)
                wusercat = ucat;
                usercat = ucat;
        }

        async function process() {
                spulists = '';
                var txt = $('#inputtxt').val();
                if (txt == '') {
                        swalConfirm('warning', 'Warning!!!', 'Please input data before uploading');
                        $('#waitdiv').hide();
                        return;
                }

                var strs = txt.split("\n");
                $('#waitdiv').show();
                var pars = strs[1].split("\t");

                var result = [];
                var idx = 0;
                var dresult = [];
                var ddx = 0;
                var maxheader = 0;
                var header = [];

                try {
                        header = strs[0].split("\t");
                        maxheader = header.length
                        if (maxheader < 9) {
                                swalConfirm('warning', 'Please verify excel file!!!',
                                        'Input data Must Have atleast 9 Columns');
                                $('#waitdiv').hide();
                                return
                        }
                        var col1 = header[0].trim(); //DEPT
                        if (col1 != 'DEPT') {
                                swalConfirm('warning', 'Please verify excel file!!!',
                                        'First line must be COLOUMN NAME begin With DEPT');
                                $('#waitdiv').hide();
                                return;
                        }


                        var count = 0;
                        var uclass;
                        for (var i = 1; i < strs.length; i++) {
                                strs[i] = strs[i].replace("^", "");
                                pars = strs[i].split("\t");
                                if(pars.length == 1 && pars[0] == '') {
                                        continue;
                                }
                                if (pars[0] == '' || pars[6] == '' || pars[7] == '') { //chk Dept Code, SKCode, SPU must have value
                                        swalConfirm('warning', 'Please verify excel file!!!', 'โปรดระบุข้อมูลให้ครบก่อนการอัพโหลด\r\n(DEPT, SKCODE, SPU)');
                                        $('#waitdiv').hide();
                                        return;
                                }
                                uclass = pars[0] + (pars[2] == '' ? '00' : pars[2]) + (pars[4] == '' ? '00' : pars[4]);
                                if(i == 1) {
                                        break;
                                }
                        }
                        for (var j = 1; j < strs.length; j++) {
                                strs[j] = strs[j].replace("^", "");
                                pars = strs[j].split("\t");
                                if(!spulists.includes(pars[7])){
                                        spulists += pars[7] + ',';
                                } else {
                                        continue;
                                }
                        }

                        if (spulists != '') {
                                spulists = spulists.substring(0, spulists.length-1);
                                var waitclear = await clearSpu(usercat, spulists);
                        }
                        
                        
                        for (var k = 1; k < strs.length; k++) {
                                strs[k] = strs[k].replace("^", "");
                                pars = strs[k].split("\t");
                                if(pars.length == 1 && pars[0] == '') {
                                        continue;
                                }
                                // var uclass = pars[0] + (pars[2] == '' ? '00' : pars[2]) + (pars[4] == '' ? '00' : pars[4])
                                var skcode = pars[6];
                                var spu = pars[7];
                                var spunm = pars[8];


                                var dbcode = await updateSpu(uclass, usercat, skcode, spu, spunm);
                                if(dbcode > 0){
                                        return;
                                }
                                ++count;
                        }
                        swalConfirm('success', 'อัพเดทสำเร็จ!!!', 'จำนวนทั้งหมด ' + count + ' รายการ');
                        $('#waitdiv').hide();

                } catch (ex) {
                        $('#waitdiv').hide();
                        alert(ex.message);
                        return
                }
        }

        async function clearSpu(usercat, spulists){
            return new Promise((resolve, reject) => {
                var qry = `exec TWDPIM..updateSPU 'clearspu', '${spulists}', '', '${usercat}', 0, '', 0`;
                var pdata = {
                        query: qry
                }
                ajaxExec(pdata, function (isok, ret) {
                        //console.log(ret);
                        var jsn = JSON.parse(ret);
                        if(jsn.dbcode == 888)
                        {
                                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                                reject(jsn.dbcode);
                        }
                        resolve(jsn.dbcode);
                });
                })
        }

        async function updateSpu(uclass, usercat, sku, spu, spuName){
            return new Promise((resolve, reject) => {
                var qry = `exec TWDPIM..updateSPU 'update', '', '${uclass}', '${usercat}', ${spu}, '${spuName}', ${sku}`;
                var pdata = {
                        query: qry
                }
                ajaxExec(pdata, function (isok, ret) {
                        //console.log(ret);
                        var jsn = JSON.parse(ret);
                        if(jsn.dbcode == 888)
                        {
                                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                                reject(jsn.dbcode);
                        }
                        resolve(jsn.dbcode);
                });
                })
        }
</script>