<div>
  <h4><span id='xlsHeader'>UPLOAD FILE for USER Category</span></h4>
  <pre>
  You can upload tab delimit text file, or copy and Paste to textarea below
  text file must have Content like this:
  DEPT	NAME	SUBDEPT	SDNAME	CLASS	CLNAME	SKCODE COLOR TYPE STYPE SIZE MATERAIL
 
  </pre>
  <input type="file" id="inpfile" />
  <textarea id='inputtxt' cols='160' rows='20'></textarea>
</div>

<a href='javascript:process()' class='btn btn-primary'>Process</a>
<a href='javascript:uploadcancel()' class='btn btn-danger'>Cancel</a>
</div>

<div>
  <script>
    var wusercat = '';

    function xlsReady(ucat) {
      $('#xlsHeader').html('UPLOAD USER DEFINE CATEGORY [' + ucat + ']');
      console.log('Cat %s', ucat)
      wusercat = ucat;
      //-------------add event to inpute       
      document.getElementById('inpfile').addEventListener('change', handleFileSelect, false);
    }

    function handleFileSelect(evt) {
      console.log('File is selected  ')
      var tfile = $('#inpfile')[0].files;

      //--check if Files is txt
      var fname = tfile[0].name;
      fname = fname.toLowerCase();

      if (fname.indexOf('.txt') < 0) {
        alert("file " + fname + " is not tab delimit file");
        return
      }
      // files is a FileList of File objects. List some properties.

      var reader = new FileReader();
      reader.onload = function () {
        var text = reader.result;
        $('#inputtxt').val(text);
        console.log(reader.result.substring(0, 200));
      };
      reader.readAsText(tfile[0]);

    }

    //----------------Process input
    function process() {
      var txt = $('#inputtxt').val();
      var strs = txt.split("\n");
      $('#waitdiv').show();

      var pars = strs[1].split("\t");

      var odpcd = pars[0]; //
      var odpnm = pars[1];
      var osdcd = (pars[2] == null || pars[2] == "") ? "00" : pars[2];
      var osdnm = pars[3];
      var oclcd = (pars[4] == null || pars[4] == "") ? "00" : pars[4];
      var oclnm = pars[5];
      var osccd = pars[6];
      var oscnm = pars[7];

      var result = [];
      var idx = 0;
      var dresult = [];
      var ddx = 0;
      var maxheader = 0;
      var header = [];
      try {
        //----------Property Name
        header = strs[0].split("\t");
        maxheader = header.length
        if (maxheader < 11) {
          // alert('Input data Must Have atleast 11 Columns')
          $('#waitdiv').hide();
          swalConfirm("warning", "Warning!", 'Input data Must Have atleast 11 Columns');
          return
        }
        var col1 = header[0].trim(); //DEPT

        var jsnprop = [];
        for (var c = 7; c < maxheader; c++) {
          var val = header[c];
          var key = "PROP" + (c * 1 - 6)
          var kval = {
            name: key,
            val: val
          }
          jsnprop.push(kval)
        }
        /*
          var hprop =pars[7]
             for(var c=8;c < maxheader;c++){
                  hprop +="^"+header[c];
             }
            */
        var pname = {
          clcd: 'CLASS', //subclass Code 
          prop: jsnprop
        }

        console.log(JSON.stringify(pname))
        if (col1 != 'DEPT') {
          swalConfirm("warning", "Warning!", 'First line must be COLOUMN NAME begin With DEPT');
          $('#waitdiv').hide();
          //  alert('First line must be COLOUMN NAME begin With DEPT');
          return;
        }
        //----------------------
        for (i = 1; i < strs.length; i++) {
          //---not allow ^   ---or '  or  " in the conntent 
          strs[i] = strs[i].replace("^", ""); // thi sis special cahracter use to delimit filed
          // console.log(strs[i]); 
          pars = strs[i].split("\t");

          if (pars.length > 10) {

            var dpcd = pars[0].trim();
            var dpnm = pars[1].trim();
            var sdcd = pars[2].trim();
            var sdnm = pars[3].trim();
            var clcd = pars[4].trim();
            var clnm = pars[5].trim();

            var sskc = pars[6].trim(); //--skcode
            if (sskc == '0') continue; // skcode = 0 ไม่นำลงระบบ

            if (dpcd == '') dpcd = odpcd;
            if (dpnm == '') dpnm = odpnm;

            if (sdcd == '') sdcd = osdcd;
            if (sdnm == '') sdnm = osdnm;

            if (clcd == '') clcd = oclcd
            if (clnm == '') clnm = oclnm;

            //   if(sccd=='')sccd=osccd;
            //  if(scnm=='')scnm=oscnm;  

            //----check for More than 1 subclass
            if (idx > 0 && clcd != oclcd) {
              // alert('More than one Class  is not allowed in 1 batch') ;
              swalConfirm("warning", "Warning!", 'More than one Class  is not allowed in 1 batch');
              $('#waitdiv').hide();
              console.log('More than one Class %s and %s is not allowed in 1 batch', clcd, oclcd);
              return

            }

            odpcd = dpcd;
            odpnm = dpnm;

            osdcd = sdcd;
            osdnm = sdnm;

            oclcd = clcd;
            oclnm = clnm;


            if (clcd != '') { //classcode
              var pdata = {
                dpcd: odpcd,
                dpnm: odpnm,
                sdcd: osdcd,
                sdnm: osdnm,
                clcd: oclcd,
                clnm: oclnm
              }
              result[idx++] = pdata;
            }

            var jsnd = {};
            for (var c = 7; c < maxheader; c++) {
              var key = "PROP" + (c * 1 - 6) //header[c]; ?? have problem with Thai-property name in jSON
              var val = pars[c];
              jsnd[key] = val.trim();
            }

            /*--product with Property ------
            var pprop =pars[7]
            for(var c=8;c < maxheader;c++){
                 pprop +="^"+pars[c];
            }
            */
            var ddata = {
              clcd: odpcd + osdcd + oclcd,
              skcd: sskc, //--skcode
              prop: jsnd //property
            }


            dresult[ddx++] = ddata;
          }
        }
      } catch (ex) {
        $('#waitdiv').hide();
        swalAl("error", "Failed", ex.message);
        return
      }

      //console.log(JSON.stringify(result));

      //console.log(JSON.stringify(dresult))
      pname.clcd = odpcd + osdcd + oclcd; //---Property Name class 

      console.log(JSON.stringify(pname))
      if (!(wusercat == 'MERC' || wusercat == 'NULL')) {
        var sql = `select property from twdpim..catproperty where class='${pname.clcd}' and bycode = '${wusercat}'`;
        ajaxGetQuery(sql, (isok, ret) => {
          if (isok) {
            var jsn = JSON.parse(ret);
            if (jsn.dbcode > 0) {
              swalAl("error", "Failed", jsn.dbmessage);
              $('#waitdiv').hide();
              return
            } else {
              if (jsn.dbrows > 0) {
                var jsnpropold = JSON.parse(jsn.dbitems[0].property)
                var countpropold = jsnpropold.length;
                var countpropnew = pname.prop.length;

                if (countpropold != countpropnew) {
                  swal({
                      title: "คุณจะยกเลิกการอัพโหลดหรือไม่?",
                      text: 'เนื่องจากจำนวน Property ที่คุณต้องการอัพโหลด\r\nไม่เท่ากับที่มีอยู่ในระบบ อาจเกิดข้อผิดพลาดทางข้อมูลหลังการอัพโหลดได้!',
                      type: "warning",
                      showCancelButton: true,
                      confirmButtonText: "Yes",
                      cancelButtonText: "No",
                      closeOnConfirm: true,
                      closeOnCancel: false,
                    },
                    function (isConfirm) {
                      if (isConfirm) {
                        $('#waitdiv').hide();
                        return;
                      } else {
                        update(wusercat, result, dresult, pname)
                      }
                    }
                  );
                } else {
                  update(wusercat, result, dresult, pname)
                }
              } else {
                let clcd = pname.clcd;
                let sql = ``;
                let uplineclcd;
                if (clcd.substring(4, 6) == '00' && clcd.substring(2, 6) != '0000') {
                  uplineclcd = clcd.substring(0, 2) + '0000';
                } else {
                  uplineclcd = clcd.substring(0, 4) + '00';
                }

                sql =
                  `select distinct 1 from TWDPIM..catproduct2 where bycode = '${wusercat}' and class='${uplineclcd}'`;
                ajaxGetQuery(sql, (isok, ret) => {
                  if (isok) {
                    let jsn = JSON.parse(ret);
                    if (jsn.dbcode > 0) {
                      swalAl("error", "Failed", jsn.dbmessage);
                      $('#waitdiv').hide();
                      return
                    } else {
                      if (jsn.dbrows > 0) {
                        swalConfirm('warning', 'ไม่สามารถดำเนินการอัพโหลดได้',
                          'ตรวจสอบพบว่ามี SKU อยู่ภายใต้หมวด ' + uplineclcd);
                      } else {
                        update(wusercat, result, dresult, pname);
                      }
                    }
                  } else {
                    swalAl("error", "Failed", 'Error ajaxcall ' + ret);
                  }
                });
              }
            }
          } else {
            swalAl("error", "Failed", 'Error ajaxcall ' + ret);
          }
        })
      } else {
        update(wusercat, result, dresult, pname)
      }
    }

    function update(wusercat, result, dresult, pname) {
      // alert(result[0].dpcd);
      var qry = "exec TWDPIM..xlsuploadcat3 '" + wusercat + "','@para','@prod','[@pname]'";

      qry = qry.replace('@para', JSON.stringify(result));
      qry = qry.replace('@prod', JSON.stringify(dresult));
      qry = qry.replace('@pname', JSON.stringify(pname));

      console.log(qry);

      ajaxGetQuery(qry, function (isok, ret) {
        console.log(ret);
        $('#waitdiv').hide();
        if (isok) {
          var jsn = JSON.parse(ret);
          if (jsn.dbcode > 0) {
            swalAl("error", "Failed", jsn.dbmessage);
          } else {
            swalAl("success", "Successful", jsn.dbitems[0].MSG);
          }
        } else {
          swalAl("error", "Failed", 'Error ajaxcall ' + ret);
        }
      });
      //console.log(JSON.stringify(result));
    }
  </script>

</div>