
<div>
  <h4><span id='xlsHeader'>UPLOAD FILE for USER Category</span></h4>
  <pre>
 Chose Multifile image file from your machine the click process. 
 Remember image file name must begin with CATxxxxxx.jpg where xxxxxx class of Category.

  </pre>     
          <input type="file"  id="inpfile" multiple />
          <div id='inputDiv' class='well' style= 'height:400px;width:98%;overflow:scroll' ></div> 
          </div>
      
          <a href='javascript:process()'  class='btn btn-primary'>Process</a>
        <a href='javascript:uploadcancel()'  class='btn btn-danger'>Cancel</a>
</div>

<div>
<script>
 var wusercat='';
 var tfile;
function imgReady(ucat){
  $('#xlsHeader').html('UPLOAD Image for USER CATEGORY ['+ ucat+ ']');
  console.log('Cat %s',ucat)
    wusercat=ucat;
    //-------------add event to inpute       
    document.getElementById('inpfile').addEventListener('change', handleFileSelect, false);	
 }

 function handleFileSelect(evt) {
    
     tfile=  $('#inpfile')[0].files;
  
    //--check if Files is txt
    var htm="<table class='table' id='inputTab'><thead><th>File Name<th>File Size<th>File Date<th>Remark</thead>" 
    for (var i =0;i<tfile.length;i++){ 
    var fname =tfile[i].name;
    var fdate =tfile[i].lastModifiedDate.toLocaleString();
    var flen  =tfile[i].size;

     htm=htm+"<tr><td>" +fname+ "<td>" +flen+ "<td>"+fdate+ "<td></tr>"
 
    }
     $('#inputDiv').html(htm+"</table>")
 
} 

async function process(){
    for (i=0;i<tfile.length;i++){

       var res=await uploadImgFilesA(tfile[i]);   //---upload file to Server 
       if(res=="OK") res=await image2db(tfile[i]);          //File inserver to DB

       var idx=i+1;
       $("#inputTab tr:eq("+ idx+ ") td:eq(3)").text(res) ;
    } 
    
}
//-------Upload file to Server ----
function uploadImgFilesA(tfiles){
    var formData = new FormData();

    //--check if Files is jpg
    var fname =tfiles.name;
    fname=fname.trim();
    fname=fname.toLowerCase();

    return new  Promise(function(resolve, reject) {  

    if(fname.indexOf('.jpg') < 0
         || fname.indexOf('cat') < 0
       ){
        resolve ("file "+ fname  +" is not jpg , or begin w cat");
         
    }
    // add assoc key values, this will be posts values
    formData.append("userPhoto",tfiles,"userPhoto");

    //!!! Importance Name of the Files must conform with multer in th uplad or the same as input file name
    var url="/upload";
 
          $.ajax({
            url: url,
            type: 'POST',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
            resolve("OK")
 
            },
            error: function(){
               resolve("error in ajax form submission");
            }
          });
      });
 
} 

function image2db(tfiles){
    var fname =tfiles.name;
    fname=fname.trim();
  var ucat=usercat;
  var cat=fname.slice(3,9);

  var url ="./public/uploads/userPhoto.jpg";
  var sUrl  =   '/USRCATIMG/FILETODB' ;
  console.log('save file [%s] 2db ucat [%s],cat [%s],Url:%s  ',fname,ucat, cat , url);
 
  var pdata={fname:url,
            cat:cat,
            ucat:ucat}


    return new  Promise(function(resolve, reject) {    
           $.ajax({
            type: "POST",
            url: sUrl,
            data: JSON.stringify(pdata),
            dataType: "text",
            contentType: "application/json; charset=UTF-8",
            success: function (data) {
            resolve('uploadFiles:'+  data);
            },
            error: function(){
                resolve("error in ajax form submission");
            }
        });    
         
    });
 
}

</script>  

</div>


 