<!--Login  Modal -->

<div id='custEditDiv'>
  
    <script>
   
     function startEdit(usr,nme){
         usr=usr.trim();
        var qry ="exec getDlvAddress '" + usr + "'";
        $('#usrtxt').val(usr);
         $('#nmetxt').val(nme);
        ajaxGetQuery(qry,function(isok,ret){
            if(isok){
                console.log(ret)
                var jsn =JSON.parse(ret);
                console.log(jsn)
                if(jsn.dbrows>0){
                    var itm=jsn.dbitems[0];

                    $('#mbltxt').val(itm.MBL);
                    $('#adrtxt').val(itm.ADR);
                    $('#ziptxt').val(itm.ZIP.trim()); 
                //    $('#dsttxt').val(itm.DST);
                    $('#dsttxt').empty()
                    $('#dsttxt').append("<option value='"+ itm.DST + "'>" + itm.DST + "</option>");
                    $('#pvntxt').val(itm.PVN)
                   
                }
            }
            $('#registerModal').modal('show')
        })

   }
   
   function confirmNewuser(){
       try { 
       var usr =$('#usrtxt').val();

       var nme =$('#nmetxt').val();
       var tel =$('#mbltxt').val();
  
       var adr =$('#adrtxt').val();
       var zip =$('#ziptxt').val(); 
       var dst =$('#dsttxt').val();

       var pvn =$('#pvntxt').val();
       var qry="Exec savedlvaddress  '@userid',   '@par'";
       var pinfo ={
               cname:nme,
               address:adr,
               district:dst,
               province:pvn,
               zipcode:zip,
               telephone:tel
         }
       var pdata ={
          query:qry,
          para:{userid:usr,
               par:JSON.stringify(pinfo)
           }
       }
      // console.log(JSON.stringify(pinfo));
   
       ajaxExec(pdata,function(isok,ret){
               if(isok){
                   var jsn =JSON.parse(ret);
                   if(jsn.dbcode==0){
                       alert('User ['+usr +']  Has been added to system')
                       $('#registerModal').modal('hide');
                       return
                   }
                   else
                       alert(ret)
               }
               else alert('Ajax Error');
       }) ;
       }
   catch(ex) {alert(ex.message); }
   }
   
   //-----------Zip Code Press
   function zipcodePress(ev){
   if(ev.keyCode==13){
      var zip=$('#ziptxt').val();
      if(zip.length==5){
       geoLocation(zip);
      }
      else alert('Invalid Zipcode');
    }
   }
function zipfocusout(){
    var zip=$('#ziptxt').val();
      if(zip.length==5){
       geoLocation(zip);
      }
   else alert('Invalid Zipcode');  
}
   
//--------get Location by ZIPCODE -----
   function geoLocation(zipcode){
       url="/WEBCALL/ZIPCODE/"+zipcode
       $.get(url,function(data){
           console.log("GEO Location.."+ data);
           var jsn =  data ;
           var province= jsn.dbitems[0].PROVINCE;
           $('#pvntxt').val(province);
   
           var dselect ="";
           $('#dsttxt').empty();
           for (var i=0;i<jsn.dbrows;i++){
               var distict= jsn.dbitems[i].DISTRICT;
               if(!dselect.includes(distict))
                    dselect += "<option value='"+ distict + "'>" + distict + "</option>";
           }
          $('#dsttxt').append(dselect);
       }).fail(function( jqXHR, textStatus, errorThrown ) {
        console.log(jqXHR);
        console.log(textStatus);
        console.log(errorThrown );
        $('#message').html(url +' Not Found')
        });
   }

function editAddress(){
  var usr =readCookie("CUSTID")
  var nme= readCookie("CUSTNAME")

  if($('#editaddrDiv').length==0){
    var url ="../PAYMENT/editaddress.htm";
    $.get(url,function(data){
      $("body").append(data);
      startEdit(usr,nme);
    });
    }
  else startEdit(usr,nme);
  }


    </script>
    
       <!--   NEW MEMBER  -->
       <div class="modal fade" id="registerModal" role="dialog"  tabindex="-1">
           <div class="modal-dialog modal-md">
               <div class="modal-content">
                   <div class="modal-header" style="padding:10px 20px;">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4>  <span class="glyphicon glyphicon-lock">แก้ไขขัอมูลลูกค้า </h4>
                     
                   </div>
                   <div style="padding:10px 50px;">
    
                           <div class="form-group col-xs-6">
                               <label for="usrtxt"> USER ID</label>
                               <input type="text" class="form-control" name="usrtxt" id="usrtxt" disabled= 'true'   value="">
                           </div>
   
                           <div class="form-group col-xs-6">
                               <label for="nmetxt"> นามผู้รับ </label>
                               <input type="text" class="form-control" name="nmetxt" id="nmetxt"    value="">
                           </div>
     
                           <div class="form-group col-xs-6">
                               <label for="mbltxt"> โทรศัพท์ติดต่อ</label>
                               <input type="text" class="form-control" name="mbltxt" id="mbltxt" placeholder="Mobile" value="">
                           </div>
   
                            
   
                           <div class="form-group col-xs-12">
                               <label for="adrtxt"> บ้านเลขที่</label>
                               <input type="text" class="form-control" name="adrtxt" id="adrtxt" placeholder="Address" value="">
                           </div>
                           <div class="form-group col-xs-4">
                               <label for="ziptxt"> ZIPCODE</label>
                               <input type="text" class="form-control" 
                                     onfocusout ="zipfocusout()"
                                     onkeypress ="zipcodePress(event)" 
                                     name="ziptxt" id="ziptxt" placeholder="ZIPCODE" value="">
                           </div>
                           <div class="form-group col-xs-4">
                               <label for="dsttxt"> อำเภอ</label>
                               <select name='dsttxt' id='dsttxt'class="form-control" >
                                   <option value=''>Some Distict</option>
                                </select>
   
                           </div>
   
                           <div class="form-group col-xs-4">
                               <label for="pvntxt"> จังหวัด</label>
                               <input type="text" class="form-control" name="pvntxt" id="pvntxt" placeholder="จังหวัด" value="">
                           </div>
   
                           <button type="button" class="btn btn-success btn-block" onclick="confirmNewuser()">
                               <span class="glyphicon glyphicon-off"> Confirm Information
                           </button>
   
                   
                       
                           <div id='message' class="info info-default">
                               Please Fillup Your Informations
                           </div>
                      </form>
                   </div>
   
                   <div class="modal-footer">
                        
                   </div>
   
               </div>
           </div> 
       </div>
   </div>