<script>
    var ucat;

    function pageReady() {
        $('#edit-sdate').datepicker({
            format: "yyyymmdd",
            // todayBtn: true,
            language: "th",
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
            //,endDate: '0d'
        });

        $('#edit-edate').datepicker({
            format: "yyyymmdd",
            // todayBtn: true,
            language: "th",
            orientation: "bottom left",
            autoclose: true,
            todayHighlight: true
            //,endDate: '0d'
        });

        $('.timepicker').datetimepicker({
            format: 'HH:mm'
        });

        getStdOnWeb();
    }

    function getStdOnWeb() {
        var qry = `select WEBNAME from TWDPIM..STDONWEB`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (jsn.dbcode == 0) {
                var data = [];
                for (i = 0; i < jsn.dbrows; i++) {
                    $('#select-ucat').append(
                        `<option value='${jsn.dbitems[i].WEBNAME == 'TWD' ? '28LV' : 'BNB1'}'>${jsn.dbitems[i].WEBNAME}</option>`
                    );
                }
            } else {
                swalConfirm('error', 'Failed!!!', jsn.dbmessage);
                return
            }
        })
    }

    function searchHotItem(obj) {
        ucat = $('#select-ucat').val();
        if (ucat == '') {
            swalConfirm('warning', 'ระบุข้อมูลไม่ครบถ้วน!', 'กรุณาเลือกเว็บที่ท่านต้องการตรวจสอบ \nหรือแก้ไขข้อมูล');
            return;
        }
        var type = $('#ht-type').val();
        if (type == '') {
            swalConfirm("warning", "ไม่สามารถค้นหาได้", "กรุณาระบุประเภทเพื่อค้นหา");
            return;
        }
        $('#select-ucat').attr('disabled', true);
        $('#ht-tb').remove();
        clearTable();
        var qry = `exec TWDPIM..getHotItem 'getall', '${ucat}', '${type}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (isok) {
                var body = '';
                if (jsn.dbrows > 0) {
                    for (i = 0; i < jsn.dbrows; i++) {
                        var cat = jsn.dbitems[i].hotcat;
                        var catname = jsn.dbitems[i].catname;
                        var sdate = jsn.dbitems[i].sdate;
                        var edate = jsn.dbitems[i].edate;
                        body += (type != 'NEWSECTION') ? `<tr>
                                    <td><i class="fa fa-plus-circle text-success icon-click" style='font-size:1.7rem' onclick="javascript:expandDetail({type:'${type}', cat:'${cat}', catname:'${catname}', sdate:'${sdate}', edate:'${edate}'});" aria-hidden="true"></i> ${cat}</td>
                                    <td>${catname}</td>
                                    <td>${sdate}</td>
                                    <td>${edate}</td>
                                    <td><center><button class='btn btn-sm btn-info' onclick="javascript:editHotItem(this, '${type}', '${cat}', '${catname}', '${sdate}', '${edate}')">Edit</button>
                                </tr>` :
                            `<tr>
                                    <td><i class="fa fa-plus-circle text-success icon-click" style='font-size:1.7rem' onclick="javascript:expandDetail({type:'${type}', cat:'${cat}', catname:'${catname}', sdate:'${sdate}', edate:'${edate}'});" aria-hidden="true"></i> ${cat}</td>
                                    <td>${catname}</td>
                                    <td>${sdate}</td>
                                    <td>${edate}</td>
                                    <td></td>
                                </tr>`;
                    }
                    $('#ht-body').html(body);
                }
                $('#ht-tb').DataTable();
                $('#ht-div').show();
                obj.blur();
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    function editHotItem(obj, type, cat, catname, sdate, edate) {
        var sdateSplit = sdate.split(' ');
        var edateSplit = edate.split(' ');
        var startdate = `${sdateSplit[0].split('/')[2]}-${sdateSplit[0].split('/')[1]}-${sdateSplit[0].split('/')[0]}`;
        var enddate = `${edateSplit[0].split('/')[2]}-${edateSplit[0].split('/')[1]}-${edateSplit[0].split('/')[0]}`;
        var startTime = sdateSplit[1];
        var endTime = edateSplit[1];
        switch (type) {
            case 'EVENT':
                $('#groupcat-edit').html('Event');
                $('#edit-etime').attr('disabled', true);
                break;
            case 'FLASHSALE':
                $('#groupcat-edit').html('Flashsale');
                $('#edit-etime').attr('disabled', true);
                break;
            case 'HOTDEAL':
                $('#groupcat-edit').html('Hotdeal');
                $('#edit-etime').attr('disabled', true);
                break;
            case 'FLASHSLIDE':
                $('#groupcat-edit').html('Flashslide');
                $('#edit-etime').attr('disabled', false);
                break;
            default:
                $('#edit-etime').attr('disabled', true);
                break;
        }
        $('#cat-edit').html(cat);
        $('#catname-edit').html(catname);
        $('#edit-cat').val(cat);
        $('#edit-catname').val(catname);
        $('#edit-sdate').val(startdate);
        $('#edit-edate').val(enddate)
        $('#edit-stime').val(startTime)
        $('#edit-etime').val(endTime)
        $('#edit-modal').modal('show');
    }

    function expandDetail(...itms) { //rest parameters
        var header = '';
        var sdate, stime, edate, etime, sdatetime, edatetime;
        if (type != 'NEWSECTION') {
            sdate = itms[0].sdate.split(' ')[0].split('/');
            stime = itms[0].sdate.split(' ')[1];
            edate = itms[0].edate.split(' ')[0].split('/');
            etime = itms[0].edate.split(' ')[1];
            sdatetime = sdate[2] + '-' + sdate[1] + '-' + sdate[0] + ' ' + stime;
            edatetime = edate[2] + '-' + edate[1] + '-' + edate[0] + ' ' + etime;
        }
        if (itms[0].type != 'HOTDEAL' && itms[0].type != 'FLASHSLIDE' && itms[0].type != 'NEWSECTION') {
            header = `<tr>
                        <th>HOTCAT</th>
                        <th>CATNAME</th>
                        <th>SKU</th>
                        <th>RANKING</th>
                        <th>SDATE</th>
                        <th>EDATE</th>
                        <th>GROUPCAT</th>
                        <th class='delete-action' style="text-align: center;">DELETE ALL <img src='../images/delete-button.png' onclick="javascript:deleteAllHotitem('${itms[0].type}', '${itms[0].cat}','${itms[0].sdate}','${itms[0].edate}','${itms[0].catname}')"></th>
                    </tr>`;
        } else if (itms[0].type == 'NEWSECTION') {
            header = `<tr>
                        <th>HOTCAT</th>
                        <th>CATNAME</th>
                        <th>SKU</th>
                        <th>RANKING</th>
                        <th>GROUPCAT</th>
                        <th class='delete-action' style="text-align: center;">DELETE ALL <img src='../images/delete-button.png' onclick="javascript:deleteAllHotitem('${itms[0].type}', '${itms[0].cat}',null,null,'${itms[0].catname}')"></th>
                    </tr>`;
        } else {
            header = `<tr>
                        <th>HOTCAT</th>
                        <th>CATNAME</th>
                        <th>SKU</th>
                        <th>PRICE</th>
                        <th>RANKING</th>
                        <th>LIMITQTY</th>
                        <th>SDATE</th>
                        <th>EDATE</th>
                        <th>GROUPCAT</th>
                        <th class='delete-action' style="text-align: center;">DELETE ALL <img src='../images/delete-button.png' onclick="javascript:deleteAllHotitem('${itms[0].type}', '${itms[0].cat}', '${itms[0].sdate}','${itms[0].edate}','${itms[0].catname}')"></th>
                    </tr>`;
        }
        var qry = (itms[0].type != 'NEWSECTION') ?
            `exec TWDPIM..getHotItem 'detail', '${ucat}','${itms[0].type}', '${sdatetime}','${edatetime}', '${itms[0].cat}','${itms[0].catname}'` :
            `exec TWDPIM..getHotItem 'detail', '${ucat}','${itms[0].type}', null , null, '${itms[0].cat}','${itms[0].catname}'`;
        ajaxGetQuery(qry, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (isok) {
                var body = '';
                if (jsn.dbrows > 0) {
                    for (i = 0; i < jsn.dbrows; i++) {
                        if (itms[0].type != 'HOTDEAL' && itms[0].type != 'FLASHSLIDE' && itms[0].type !=
                            'NEWSECTION') {
                            body += `<tr>
                                    <td>${(jsn.dbitems[i].HOTCAT != null) ? jsn.dbitems[i].HOTCAT : ''}</td>
                                    <td>${(jsn.dbitems[i].CATNAME != null) ? jsn.dbitems[i].CATNAME : ''}</td>
                                    <td>${(jsn.dbitems[i].SKU != null) ? jsn.dbitems[i].SKU : ''}</td>
                                    <td style='text-align:right;'>${(jsn.dbitems[i].RANKING != null) ? jsn.dbitems[i].RANKING : ''}</td>
                                    <td>${(jsn.dbitems[i].SDATE != null) ? jsn.dbitems[i].SDATE : ''}</td>
                                    <td>${(jsn.dbitems[i].EDATE != null) ? jsn.dbitems[i].EDATE : ''}</td>
                                    <td>${(jsn.dbitems[i].GROUPCAT != null) ? jsn.dbitems[i].GROUPCAT : ''}</td>
                                    <td class='delete-action' ><center><img src='../images/delete-button.png' onclick="javascript:deleteHotitem('${jsn.dbitems[i].HOTCAT}','${jsn.dbitems[i].SKU}','${jsn.dbitems[i].GROUPCAT}','${jsn.dbitems[i].SDATE}','${jsn.dbitems[i].CATNAME}')"></center></td>
                                </tr>`;
                        } else if (itms[0].type == 'NEWSECTION') {
                            body += `<tr>
                                    <td>${(jsn.dbitems[i].HOTCAT != null) ? jsn.dbitems[i].HOTCAT : ''}</td>
                                    <td>${(jsn.dbitems[i].CATNAME != null) ? jsn.dbitems[i].CATNAME : ''}</td>
                                    <td>${(jsn.dbitems[i].SKU != null) ? jsn.dbitems[i].SKU : ''}</td>
                                    <td style='text-align:right;'>${(jsn.dbitems[i].RANKING != null) ? jsn.dbitems[i].RANKING : ''}</td>
                                    <td>${(jsn.dbitems[i].GROUPCAT != null) ? jsn.dbitems[i].GROUPCAT : ''}</td>
                                    <td class='delete-action' ><center><img src='../images/delete-button.png' onclick="javascript:deleteHotitem('${jsn.dbitems[i].HOTCAT}','${jsn.dbitems[i].SKU}','${jsn.dbitems[i].GROUPCAT}',null,'${jsn.dbitems[i].CATNAME}')"></center></td>
                                </tr>`;

                        } else {
                            body += `<tr>
                                    <td>${(jsn.dbitems[i].HOTCAT != null) ? jsn.dbitems[i].HOTCAT : ''}</td>
                                    <td>${(jsn.dbitems[i].CATNAME != null) ? jsn.dbitems[i].CATNAME : ''}</td>
                                    <td>${(jsn.dbitems[i].SKU != null) ? jsn.dbitems[i].SKU : ''}</td>
                                    <td style='text-align:right;'>${(jsn.dbitems[i].PRICE != null) ? jsn.dbitems[i].PRICE : ''}</td>
                                    <td style='text-align:right;'>${(jsn.dbitems[i].RANKING != null) ? jsn.dbitems[i].RANKING : ''}</td>
                                    <td style='text-align:right;'>${(jsn.dbitems[i].LIMITQTY != null) ? jsn.dbitems[i].LIMITQTY : ''}</td>
                                    <td>${(jsn.dbitems[i].SDATE != null) ? jsn.dbitems[i].SDATE : ''}</td>
                                    <td>${(jsn.dbitems[i].EDATE != null) ? jsn.dbitems[i].EDATE : ''}</td>
                                    <td>${(jsn.dbitems[i].GROUPCAT != null) ? jsn.dbitems[i].GROUPCAT : ''}</td>
                                    <td class='delete-action' ><center><img src='../images/delete-button.png' onclick="javascript:deleteHotitem('${jsn.dbitems[i].HOTCAT}','${jsn.dbitems[i].SKU}','${jsn.dbitems[i].GROUPCAT}','${jsn.dbitems[i].SDATE}','${jsn.dbitems[i].CATNAME}')"></center></td>
                                </tr>`;
                        }
                    }
                    // $('#hitTB').DataTable();
                    var table = `<table id="hitTB" class="table table-striped " >
                                    <thead>${header}</thead>
                                    <tbody>${body}</tbody>
                                </table>`;
                    $('#expand').html(table)
                    $('#expanddetail-modal').modal('show');
                } else {
                    swalAl("error", "No Data!", '');
                }
            } else {
                swalAl("error", "Failed", jsn.dbmessage);
            }
        })
    }

    function htTypeChange() {
        $('#ht-div').html(`<div class="col-md-8" style='padding-left: 0px;'>
                                <table class="table table-striped table-bordered" id='ht-tb'>
                                    <thead id='ht-head'>
                                        <tr>
                                            <th width="100">CAT</th>
                                            <th width="200">CATNAME</th>
                                            <th width="100">SDATE</th>
                                            <th width="100">EDATE</th>
                                            <th width="50">EDIT</th>
                                        </tr>
                                    </thead>
                                    <tbody id='ht-body'>

                                    </tbody>
                                </table>
                            </div>`);
        $('#ht-div').hide();
    }

    function clearTable() {
        $('#ht-div').html(`<div class="col-md-8" style='padding-left: 0px;'>
                                <table class="table table-striped table-bordered" id='ht-tb'>
                                    <thead id='ht-head'>
                                        <tr>
                                            <th width="100">CAT</th>
                                            <th width="200">CATNAME</th>
                                            <th width="100">SDATE</th>
                                            <th width="100">EDATE</th>
                                            <th width="50">EDIT</th>
                                        </tr>
                                    </thead>
                                    <tbody id='ht-body'>

                                    </tbody>
                                </table>
                            </div>`);
        $('#ht-div').hide();
    }

    function saveEditHotitem() {
        var userid = readCookie('WUSERID');
        var type = $('#ht-type').val();
        var cat = $('#edit-cat').val();
        var catname = $('#edit-catname').val();
        var sdate = $('#edit-sdate').val();
        var edate = $('#edit-edate').val();
        var stime = $('#edit-stime').val();
        var etime = $('#edit-etime').val();

        var qry =
            `exec TWDPIM..updateHotItem 'modify','${ucat}','${cat}', '${catname}', 0, 0, null, '${sdate + ' ' + stime}', '${edate + ' ' + etime}', '${type}', '${userid}', null`;
        var pdata = {
            query: qry
        }
        ajaxExec(pdata, (isok, ret) => {
            var jsn = JSON.parse(ret);
            if (!isok) {
                swalAl("error", "Failed", jsn.dbmessage);
            }
            swalAl("success", "Successful", 'Updated Successfully!');
            $('#edit-modal').modal('hide');
            clearTable();

            var obj = $('#searchHT');
            searchHotItem(obj)
        })
    }

    function deleteAllHotitem(type, cat, sdate, edate, catname) {
        var sdt, stime, sdatetime, edt, etime, edatetime, text;
        if (type != 'NEWSECTION') {
            sdt = sdate.split(' ')[0].split('/');
            stime = sdate.split(' ')[1];
            sdatetime = sdt[2] + '-' + sdt[1] + '-' + sdt[0] + ' ' + stime;
            edt = edate.split(' ')[0].split('/');
            etime = edate.split(' ')[1];
            edatetime = edt[2] + '-' + edt[1] + '-' + edt[0] + ' ' + etime;
            text = "HOTCAT: " + cat + "\nCATNAME: " + catname + "\nDATE: " + sdate + " - " + edate +
                "\nGROUPCAT: " + type;
        } else {
            text = "HOTCAT: " + cat + "\nCATNAME: " + catname +
                "\nGROUPCAT: " + type;
        }
        swal({
                title: "Do you want to delete all?",
                text: text,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false,
            },
            function () {
                try {
                    var qry = (type != 'NEWSECTION') ?
                        `exec TWDPIM..updateHotItem 'delall','${ucat}','${cat}', '${catname}',null,null,null,'${sdatetime}','${edatetime}','${type}'` :
                        `exec TWDPIM..updateHotItem 'delall','${ucat}','${cat}', '${catname}',null,null,null,null,null,'${type}'`;
                    var pdata = {
                        query: qry
                    }

                    ajaxExec(pdata, (isok, ret) => {
                        let jsn = JSON.parse(ret)
                        if (isok) {
                            swalAl("success", "Successful", 'Deleted Successfully.');
                            $('#expanddetail-modal').modal('hide');
                            $('#searchHT').click();
                        } else {
                            swalAl("error", "Failed", jsn.dbmessage);
                        }
                    })

                } catch (ex) {
                    swalAl("error", "Failed", ex.message);
                }
            }
        );
    }

    function deleteHotitem(cat, sku, groupcat, sdate, catname) {
        var sdt, stime, sdatetime, text;
        if (groupcat != 'NEWSECTION') {
            sdt = sdate.split(' ')[0].split('/');
            stime = sdate.split(' ')[1];
            sdatetime = sdt[2] + '-' + sdt[1] + '-' + sdt[0] + ' ' + stime;
            text = "HOTCAT: " + cat + "\nCATNAME: " + catname + "\nSKU: " + sku + "\nSDATE: " + sdate +
                    "\nGROUPCAT: " + groupcat;
        }
        else
        {
            text = "HOTCAT: " + cat + "\nCATNAME: " + catname + "\nSKU: " + sku +
                    "\nGROUPCAT: " + groupcat;
        }
        swal({
                title: "Do you want to delete?",
                text: text,
                type: "warning",
                showCancelButton: true,
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false,
            },
            function () {
                try {
                    var qry = (groupcat != 'NEWSECTION') ? 
                        `exec TWDPIM..updateHotItem 'delete','${ucat}','${cat}', '${catname}','${sku}',null,null,'${sdatetime}',null,'${groupcat}'` :
                        `exec TWDPIM..updateHotItem 'delete','${ucat}','${cat}', '${catname}','${sku}',null,null,null,null,'${groupcat}'` ;
                    var pdata = {
                        query: qry
                    }

                    ajaxExec(pdata, (isok, ret) => {
                        let jsn = JSON.parse(ret)
                        if (isok) {
                            swalAl("success", "Successful", 'Deleted Successfully.');
                            $('#expanddetail-modal').modal('hide');
                            $('#searchHT').click();
                        } else {
                            swalAl("error", "Failed", jsn.dbmessage);
                        }
                    })

                } catch (ex) {
                    swalAl("error", "Failed", ex.message);
                }
            }
        );
    }
</script>
<style>
    .icon-click:hover {
        cursor: pointer;
    }

    .delete-action:hover {
        cursor: hand;
    }
</style>

<div class="container-fluid">
    <br>
    <div class="row" style="margin:0px;">
        <div class="col-md-12 layout-left" style="padding-right: 0px;">
            <pre
                id="prePageModify"><h4>You can modify Event / Flashsale / Hotdeal / New Section by this page.</h4></pre>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-5 col-xs-12 " style='margin-top:5px;' id='ucat-div'>
            <div class="col-md-12 layout-left" style="padding-right: 0px;">
                <label style="font-size: larger;">กรุณาเลือกเว็บ </label>
                <select id="select-ucat" class='form-control'>
                    <option value=''>เลือกเว็บที่ท่านต้องการตรวจสอบ หรือแก้ไขข้อมูล</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 col-sm-5 col-xs-12 " style='margin-top:5px;'>
            <div class="col-md-12 layout-left" style="padding-right: 0px;">
                <label style="font-size: larger;">กรุณาระบุประเภท</label>
                <select id="ht-type" class='form-control' onchange="htTypeChange()">
                    <option value=''>เลือก Event / Flashsale / Hotdeal / Flashslide / New Section</option>
                    <!-- <option value='EVENT'>Event</option> -->
                    <option value='FLASHSALE'>Flashsale</option>
                    <!-- <option value='HOTDEAL'>Hotdeal</option> -->
                    <option value='FLASHSLIDE'>Flashslide</option>
                    <option value='NEWSECTION'>New Section</option>
                </select>
            </div>
        </div>
        <div class="col-md-3 layout-left">
            <div class="col-md-12 layout-left" style="padding-right: 0px;">
                <button class='btn btn-sm btn-primary' style='display: inline-block; margin-top: 30px; margin-left:15px'
                    id="searchHT" onclick="searchHotItem(this);">Search</button>
            </div>
        </div>
    </div><br>
    <div class="row" id='ht-div' hidden>
        <div class="col-md-8" style='padding-left: 0px;'>
            <table class="table table-striped table-bordered" id='ht-tb'>
                <thead id='ht-head'>
                    <tr>
                        <th width="100">CAT</th>
                        <th width="200">CATNAME</th>
                        <th width="100">SDATE</th>
                        <th width="100">EDATE</th>
                        <th width="50">EDIT</th>
                    </tr>
                </thead>
                <tbody id='ht-body'>

                </tbody>
            </table>
        </div>
    </div><br>

    <!-- Modal -->
    <div id="edit-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <form action="javascript:saveEditHotitem();">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="edit-title">Edit <span id='groupcat-edit'></span> (CAT: <span id='cat-edit'></span>,
                            CATNAME: <span id='catname-edit'></span>)</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <label>CAT:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" readonly id="edit-cat" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>CATNAME:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" readonly id="edit-catname" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>SDATE:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="edit-sdate" disabled required name="edit-sdate"
                                    class="form_datetime form-control" onFocus='this.select();' autocomplete="off"
                                    maxlength="10" placeholder="format : yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>STIME:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class='input-group date timepicker'>
                                    <input type='text' class="form-control" id='edit-stime' placeholder="HH:mm" required
                                        disabled />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>EDATE:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" id="edit-edate" required name='edit-edate'
                                    class="form_datetime form-control" onFocus='this.select();' autocomplete="off"
                                    maxlength="10" placeholder="format : yyyy-mm-dd">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>ETIME:</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class='input-group date timepicker'>
                                    <input type='text' class="form-control" id='edit-etime' placeholder="HH:mm"
                                        required />
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-time"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-sm btn-primary" onclick='this.blur();'>Confirm</button>
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

    <div id="expanddetail-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-xl">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="row" id='expand'>
                    </div>
                </div>
                <div class="modal-footer">
                </div>
            </div>

        </div>
    </div>
</div>